---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'DataLoader with pin_memory and num_workers';
const end_url = 'tips/DataLoader-pin-memory';
const description = 'Increase DataLoader performance with pin_memory and num_workers';
const keywords = 'pytorch, dataloader, pin_memory, num_workers, gpu';
const languaje = 'EN';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/pytorch_pin_memory.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=905
    image_height=574
    image_extension=webp
    article_date=2024-12-16+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="DataLoader-+-pin_memory">DataLoader + pin_memory<a class="anchor-link" href="#DataLoader-+-pin_memory"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 1" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Disclaimer: This post has been translated to English using a machine translation model. Please, let me know if you find any mistakes.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>In PyTorch, when training neural networks, especially on large datasets, leveraging the <code>DataLoader</code> with <code>pin_memory=True</code> and setting <code>num_workers</code> to a positive number significantly increases performance.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p><code>pin_memory=True</code> allows for faster transfer of data to the GPU by keeping it in pinned (page-locked) memory.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>At the same time, <code>num_workers</code> determines the number of subprocesses used for data loading, allowing for asynchronous data retrieval without blocking the GPU calculation</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>This combination minimizes the GPU downtime, ensuring more efficient use of hardware resources and faster model training times.</p>
      </section>
      
      <section class="section-block-code-cell-">
      <div class="input-code">
      <div class="highlight hl-python"><pre><span></span><span class="n">data_loader</span> <span class="o">=</span> <span class="n">DataLoader</span><span class="p">(</span><span class="n">dataset</span><span class="p">,</span> <span class="n">batch_size</span><span class="o">=</span><span class="mi">32</span><span class="p">,</span> <span class="n">shuffle</span><span class="o">=</span><span class="kc">True</span><span class="p">,</span> <span class="n">num_workers</span><span class="o">=</span><span class="mi">4</span><span class="p">,</span> <span class="n">pin_memory</span><span class="o">=</span><span class="kc">True</span><span class="p">)</span>
      </pre></div>
      </div>
      </section>
      






    </div>

  </section>

</PostLayout>
