---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Get data of dictionaries';
const end_url = 'tips/get-data-of-dictionaries';
const description = 'Get data of dictionaries in Python safely';
const keywords = 'dictionary, get, data';
const languaje = 'EN';
const image_path = 'https://images.maximofn.com/get-data-of-dictionaries.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=435
    image_height=118
    image_extension=webp
    article_date=2024-10-21+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Obtener-datos-de-diccionarios">Obtener datos de diccionarios<a class="anchor-link" href="#Obtener-datos-de-diccionarios"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 1" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Disclaimer: This post has been translated to English using a machine translation model. Please, let me know if you find any mistakes.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Let's imagine that we have the following dictionary</p>
      </section>
      
      <CodeBlockInputCell
        text={[
      '<span></span><span class="n">dictionary</span> <span class="o">=</span> <span class="p">{</span>',
      '          <span class="s2">"id"</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>',
      '          <span class="s2">"name"</span><span class="p">:</span> <span class="s2">"John"</span><span class="p">,</span>',
      '          <span class="s2">"age"</span><span class="p">:</span> <span class="mi">30</span>',
      '      <span class="p">}</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>










      
      <section class="section-block-markdown-cell">
      <p>If we want to obtain the value of the age, what is usually done is <code>dictionary["age"]</code></p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">dictionary</span> <span class="o">=</span> <span class="p">{</span>',
          '    <span class="s2">"id"</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>',
          '    <span class="s2">"name"</span><span class="p">:</span> <span class="s2">"John"</span><span class="p">,</span>',
          '    <span class="s2">"age"</span><span class="p">:</span> <span class="mi">30</span>',
          '<span class="p">}</span>',
          '</span><span class="n">dictionary</span><span class="p">[</span><span class="s2">"age"</span><span class="p">]</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '30',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>But, what happens if the <code>key</code> we put in is not in the dictionary? Will it give us an error?</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">dictionary</span><span class="p">[</span><span class="s2">"country"</span><span class="p">]</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '<span class="ansi-red-fg">---------------------------------------------------------------------------</span>',
          '<span class="ansi-red-fg">KeyError</span>                                  Traceback (most recent call last)',
          'Cell <span class="ansi-green-fg">In[4], line 1</span>',
          '<span class="ansi-green-fg">----&gt; 1</span> <span class="ansi-yellow-bg">dictionary</span><span class="ansi-yellow-bg">[</span><span class="ansi-yellow-bg" style="color: rgb(175,0,0)">"</span><span class="ansi-yellow-bg" style="color: rgb(175,0,0)">country</span><span class="ansi-yellow-bg" style="color: rgb(175,0,0)">"</span><span class="ansi-yellow-bg">]</span>',
          '<span class="ansi-red-fg">KeyError</span>: \'country\'',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>So if this happens in production, the program will crash</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>So to solve it we can use a <code>try except</code> to handle the error</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="k">try</span><span class="p">:</span>',
          '    <span class="n">dictionary</span><span class="p">[</span><span class="s2">"country"</span><span class="p">]</span>',
          '<span class="k">except</span> <span class="ne">KeyError</span><span class="p">:</span>',
          '    <span class="nb">print</span><span class="p">(</span><span class="s2">"Key not found"</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Key not found',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>But another solution to avoid filling the code with <code>try except</code> is to use the <code>get</code> method which allows us to obtain the value of a <code>key</code> and if it doesn't exist, it returns a default value.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">dictionary</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s2">"country"</span><span class="p">,</span> <span class="s2">"Key not found"</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '\'Key not found\'',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Another option is not to include the second option, in which case we get <code>None</code> if the <code>key</code> does not exist.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">country</span> <span class="o">=</span> <span class="n">dictionary</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s2">"country"</span><span class="p">)</span>',
          '<span class="nb">print</span><span class="p">(</span><span class="n">country</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'None',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      






    </div>

  </section>

</PostLayout>
