---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Long integers with underscore in Python';
const end_url = 'tips/long-integers-python';
const description = 'Tip to write long integers with underscore in Python';
const keywords = 'long integers, underscore, python';
const languaje = 'EN';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/long_integer_python.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=730
    image_height=436
    image_extension=webp
    article_date=2024-09-06+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Long-Integers-with-Underscore">Long Integers with Underscore<a class="anchor-link" href="#Long-Integers-with-Underscore"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 1" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Disclaimer: This post has been translated to English using a machine translation model. Please, let me know if you find any mistakes.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>If we have a very long integer, it may be hard to read it</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">num</span> <span class="o">=</span> <span class="mi">1000000000000</span>',
          '<span class="nb">print</span><span class="p">(</span><span class="n">num</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '1000000000000',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>But Python allows us to use underscores to separate the digits and make it more readable</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">num_</span> <span class="o">=</span> <span class="mi">1_000_000_000_000</span>',
          '<span class="nb">print</span><span class="p">(</span><span class="n">num_</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '1000000000000',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Let's check that both numbers are equal</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">num</span> <span class="o">==</span> <span class="n">num_</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'True',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      






    </div>

  </section>

</PostLayout>
