---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'See the memory usage of a script';
const end_url = 'tips/memory-profiler';
const description = 'See the memory usage of a script';
const keywords = 'python, memory, profiler';
const languaje = 'EN';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/memory_profiling_thumbnail.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=1999
    image_height=1125
    image_extension=webp
    article_date=2025-01-30+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Installation"><h2>Installation</h2></a>
      <a class="anchor-link" href="#Usage"><h2>Usage</h2></a>
      <a class="anchor-link" href="#Decorator"><h3>Decorator</h3></a>
      <a class="anchor-link" href="#Memory-usage-over-time"><h2>Memory usage over time</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="View-the-memory-usage-of-a-script">View the memory usage of a script<a class="anchor-link" href="#View-the-memory-usage-of-a-script"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 5" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Disclaimer: This post has been translated to English using a machine translation model. Please, let me know if you find any mistakes.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>If a script is consuming a lot of RAM, we can monitor it to see what is consuming it.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Installation">Installation<a class="anchor-link" href="#Installation"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 6" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>To monitor it, we are going to install <code>memory_profiler</code>. We can install it with Conda.</p>
      <div class="highlight"><pre><span></span>conda<span class="w"> </span>install<span class="w"> </span>memory_profiler<span class="sb">```</span>
      
      or<span class="w"> </span>with<span class="w"> </span>pip
      <span class="sb">```</span><span class="w"> </span>bash
      pip<span class="w"> </span>install<span class="w"> </span>memory_profiler<span class="sb">```</span>
      </pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Usage">Usage<a class="anchor-link" href="#Usage"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 7" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <h3 id="Decorator">Decorator<a class="anchor-link" href="#Decorator"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 8" src={svg_paths.link_svg_path}/></a></h3>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>We can put a decorator on the function we want to monitor.</p>
      <div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">memory_profiler</span> <span class="kn">import</span> <span class="n">profile</span>
      <span class="nd">@profiledef</span> <span class="n">my_function</span><span class="p">():</span><span class="k">pass</span><span class="err">```</span>
      </pre></div>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">%%writefile</span> memory_profiler_decorator.py',
          '<span class="kn">from</span> <span class="nn">memory_profiler</span> <span class="kn">import</span> <span class="n">profile</span>',
          '',
          '<span class="nd">@profile</span>',
          '<span class="k">def</span> <span class="nf">my_function</span><span class="p">():</span>',
          '    <span class="n">a</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">]</span> <span class="o">*</span> <span class="p">(</span><span class="mi">10</span> <span class="o">**</span> <span class="mi">6</span><span class="p">)</span>',
          '    <span class="n">b</span> <span class="o">=</span> <span class="p">[</span><span class="mi">2</span><span class="p">]</span> <span class="o">*</span> <span class="p">(</span><span class="mi">2</span> <span class="o">*</span> <span class="mi">10</span> <span class="o">**</span> <span class="mi">7</span><span class="p">)</span>',
          '    <span class="k">del</span> <span class="n">b</span>',
          '    <span class="k">return</span> <span class="n">a</span>',
          '',
          '<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s1">\'__main__\'</span><span class="p">:</span>',
          '    <span class="n">my_function</span><span class="p">()</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Overwriting memory_profiler_decorator.py',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Now we run it using <code>-m memory_profiles memory_profiler_decorator.py</code></p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span>python<span class="w"> </span>-m<span class="w"> </span>memory_profiler<span class="w"> </span>memory_profiler_decorator.py',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Filename: memory_profiler_decorator.py',
          'Line #    Mem usage    Increment  Occurrences   Line Contents',
          '=============================================================',
          '     3     49.5 MiB     49.5 MiB           1   @profile',
          '     4                                         def my_function():',
          '     5     57.0 MiB      7.5 MiB           1       a = [1] * (10 ** 6)',
          '     6    209.6 MiB    152.6 MiB           1       b = [2] * (2 * 10 ** 7)',
          '     7     57.2 MiB   -152.4 MiB           1       del b',
          '     8     57.2 MiB      0.0 MiB           1       return a',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>As we can see, we get the memory usage of each line of the script.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Memory-usage-over-time">Memory usage over time<a class="anchor-link" href="#Memory-usage-over-time"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 9" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>We can obtain a memory usage graph over time by doing</p>
      <div class="highlight"><pre><span></span>mprof<span class="w"> </span>run<span class="w"> </span>memory_profiler_decorator.pymprof<span class="w"> </span>plot<span class="sb">```</span>
      </pre></div>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span>mprof<span class="w"> </span>run<span class="w"> </span>memory_profiler_decorator.py',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'mprof: Sampling memory every 0.1s',
          'running new process',
          'running as a Python program...',
          'Filename: memory_profiler_decorator.py',
          'Line #    Mem usage    Increment  Occurrences   Line Contents',
          '=============================================================',
          '     3     49.5 MiB     49.5 MiB           1   @profile',
          '     4                                         def my_function():',
          '     5     57.0 MiB      7.5 MiB           1       a = [1] * (10 ** 6)',
          '     6    209.6 MiB    152.6 MiB           1       b = [2] * (2 * 10 ** 7)',
          '     7     57.2 MiB   -152.4 MiB           1       del b',
          '     8     57.2 MiB      0.0 MiB           1       return a',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span>mprof<span class="w"> </span>plot',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Using last profile data.',
          'Figure(1260x540)',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>When running it, this graph is created
      <img decoding="async" onerror="this.parentNode.removeChild(this)" alt="memory_profiler plot" src="https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/memory_profiler_plot.webp" width="1280" height="634"/></p>
      </section>
      






    </div>

  </section>

</PostLayout>
