---
import PostCard from '@components/PostCard.astro';

const { sticky_top_positions } = await import('@portfolio/consts.json');

interface Props {
	languaje: string;
	section_title: string;
	post1_title: string;
	post1_description: string;
	post1_image_path: string;
	post1_link: string;
	post2_title: string;
	post2_description: string;
	post2_image_path: string;
	post2_link: string;
	post3_title: string;
	post3_description: string;
	post3_image_path: string;
	post3_link: string;
}

const {
	languaje = "es",
	section_title = "Posts",
	post1_title,
	post1_description,
	post1_image_path,
	post1_link,
	post2_title,
	post2_description,
	post2_image_path,
	post2_link,
	post3_title,
	post3_description,
	post3_image_path,
	post3_link,
} = Astro.props;

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;

// const all_pages_list = await Astro.glob('../pages/*.astro');

const page_route = "";
if (languaje === "es") {
	const page_route = "";
} else if (languaje === "en") {
	const page_route = "/en";
} else if (languaje === "pt") {
	const page_route = "/pt-br";
}

const posts_href = page_route + "/posts";
---

<section class="posts">
    <h2>{section_title}</h2>
    <div>
        <PostCard
            title={post1_title}
            description={post1_description}
            image_path={post1_image_path}
            post_link={post1_link}
        />
        <PostCard
            title={post2_title}
            description={post2_description}
            image_path={post2_image_path}
            post_link={post2_link}
        />
        <PostCard
            title={post3_title}
            description={post3_description}
            image_path={post3_image_path}
            post_link={post3_link}
        />
    </div>
    <a href={posts_href}>Ver todos los posts --></a>
</section>


<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
	.posts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.posts > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 50px;
	}

	.posts > h2 {
		position: sticky;
		top: var(--sticky_top_default);
	}

	@media (max-width: 649px) {
		.posts > h2 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		.posts > h2 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		.posts > h2 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		.posts > h2 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		.posts > h2 {
			top: var(--sticky_top_229px);
		}
	}
</style>
