---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	languaje: string;
	description: string;
	keywords: string;
	author: string;
	theme_color: string;
	url: string;
	icon: string;
	huggingface_svg_path: string;
	github_svg_path: string;
	linkedin_svg_path: string;
	x_svg_path: string;
	kaggle_svg_path: string;
	facebook_svg_path: string;
	instagram_svg_path: string;
	tiktok_svg_path: string;
	twitch_svg_path: string;
	youtube_svg_path: string;
	curriculum_svg_path: string;
	spain_flag_svg_path: string;
	united_states_flag_svg_path: string;
	brazil_flag_svg_path: string;
	huggingface_link: string;
	github_link: string;
	linkedin_link: string;
	x_link: string;
	kaggle_link: string;
	facebook_link: string;
	instagram_link: string;
	tiktok_link: string;
	twitch_link: string;
	youtube_link: string;
	curriculum_link: string;
	portfolio_link: string;
	color_50: string;
	color_100: string;
	color_200: string;
	color_300: string;
	color_400: string;
	color_500: string;
	color_600: string;
	color_700: string;
	color_800: string;
	color_900: string;
	color_950: string;
	color_white: string;
	color_grid_dark: string;
	color_grid_light: string;
}

const { 
	title,
	languaje,
	description,
	keywords,
	author,
	theme_color,
	url,
	icon,
    huggingface_svg_path,
    github_svg_path,
    linkedin_svg_path,
    x_svg_path,
    kaggle_svg_path,
    facebook_svg_path,
    instagram_svg_path,
    tiktok_svg_path,
    twitch_svg_path,
    youtube_svg_path,
    curriculum_svg_path,
    spain_flag_svg_path,
    united_states_flag_svg_path,
    brazil_flag_svg_path,
    huggingface_link,
    github_link,
    linkedin_link,
    x_link,
    kaggle_link,
    facebook_link,
    instagram_link,
    tiktok_link,
    twitch_link,
    youtube_link,
    curriculum_link,
	portfolio_link,
	color_50,
	color_100,
	color_200,
	color_300,
	color_400,
	color_500,
	color_600,
	color_700,
	color_800,
	color_900,
	color_950,
	color_white,
	color_grid_dark,
	color_grid_light,
} = Astro.props;

const debug_outline = '0px';
---

<!doctype html>
<html lang={languaje} class=page>
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="author" content={author} />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content={theme_color} />
		<link rel="icon" type="image/svg+xml" href={icon} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={icon} />
		<meta property="og:site_name" content={title} />
		<meta property="og:locale" content={languaje} />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content={url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={icon} />
	</head>
	<body>
		<Header 
			title={title}
			url={url}
			icon={icon}
			huggingface_svg_path={huggingface_svg_path}
			github_svg_path={github_svg_path}
			linkedin_svg_path={linkedin_svg_path}
			x_svg_path={x_svg_path}
			kaggle_svg_path={kaggle_svg_path}
			facebook_svg_path={facebook_svg_path}
			instagram_svg_path={instagram_svg_path}
			tiktok_svg_path={tiktok_svg_path}
			twitch_svg_path={twitch_svg_path}
			youtube_svg_path={youtube_svg_path}
			curriculum_svg_path={curriculum_svg_path}
			spain_flag_svg_path={spain_flag_svg_path}
			united_states_flag_svg_path={united_states_flag_svg_path}
			brazil_flag_svg_path={brazil_flag_svg_path}
			huggingface_link={huggingface_link}
			github_link={github_link}
			linkedin_link={linkedin_link}
			x_link={x_link}
			kaggle_link={kaggle_link}
			facebook_link={facebook_link}
			instagram_link={instagram_link}
			tiktok_link={tiktok_link}
			twitch_link={twitch_link}
			youtube_link={youtube_link}
			curriculum_link={curriculum_link}
			color_white={color_white}
		/>
		<slot />
		<Footer
			huggingface_svg_path={huggingface_svg_path}
			github_svg_path={github_svg_path}
			linkedin_svg_path={linkedin_svg_path}
			x_svg_path={x_svg_path}
			kaggle_svg_path={kaggle_svg_path}
			facebook_svg_path={facebook_svg_path}
			instagram_svg_path={instagram_svg_path}
			tiktok_svg_path={tiktok_svg_path}
			twitch_svg_path={twitch_svg_path}
			youtube_svg_path={youtube_svg_path}
			curriculum_svg_path={curriculum_svg_path}
			huggingface_link={huggingface_link}
			github_link={github_link}
			linkedin_link={linkedin_link}
			x_link={x_link}
			kaggle_link={kaggle_link}
			facebook_link={facebook_link}
			instagram_link={instagram_link}
			tiktok_link={tiktok_link}
			twitch_link={twitch_link}
			youtube_link={youtube_link}
			curriculum_link={curriculum_link}
			portfolio_link={portfolio_link}
			color_white={color_white}
		>			
		</Footer>
		<section class="background-grid"></section>
	</body>
</html>

<style 
	is:global
	define:vars={{
		debug_outline, 
		color_950, 
		color_grid_dark, 
		color_white
	}}
>
	
	html {
		outline: var(--debug_outline) solid red;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		margin: 0px;
		padding: 0px;
		font-family: 'Cascadia code', system-ui, sans-serif;
		color: var(--color_white);
		background: var(--color_950);
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	.background-grid {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(to right, var(--color_grid_dark) 1px, transparent 1px),
		linear-gradient(to bottom, var(--color_grid_dark) 1px, transparent 1px);
		background-size: 14px 24px;
		-webkit-mask-image: linear-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 100%);
		mask-image: radial-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 100%);
		z-index: -1;
	}
	body{
		width: 100%;
		margin: 0;
	}
	
</style>
