---
import Layout from '@layouts/Layout.astro';
import ProjectCard from '@components/ProjectCard.astro';
import PostCard from '@components/PostCard.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { social_links } = await import('@portfolio/consts.json');
---

<Layout 
	title={metadata_page.title}
	languaje={metadata_page.languaje_es}
	description={metadata_page.description_es}
	keywords={metadata_page.keywords_es}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={social_links.portfolio_link_external}
	icon={metadata_page.icon}
>
<!-- TODO Completar esta página -->
	<div>
        <h1>404</h1>
        <p>Page not found</p>
    </div>
</Layout>