---
import Layout from '@layouts/Layout.astro';
import ProjectCard from '@components/ProjectCard.astro';
import PostCard from '@components/PostCard.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { social_links } = await import('@portfolio/consts.json');

const currentPath = Astro.url.pathname;

// if "en" in currentPath
let page_not_found_string = "¡Vaya! Parece que hay un error en la capa 8, así que mientras lo arreglamos juega con el siguiente juego, pincha en el juego y muévete adelante con la tecla w, izquierda con la tecla a, abajo con la tecla s y derecha con la tecla d.";
if (currentPath.includes("en")) {
	page_not_found_string = "Oh no! It seems there is an error in layer 8, so while we fix it play with the following game, click on the game and move forward with the w key, left with the a key, down with the s key and right with the d key.";
}else if (currentPath.includes("pt")) {
	page_not_found_string = "Oh não! Parece que há um erro na camada 8, então enquanto corrigimos, jogue com o seguinte jogo, clique no jogo e avance com a tecla w, esquerda com a tecla a, para baixo com a tecla s e direita com a tecla d.";
}
---

<Layout 
	title={metadata_page.title}
	languaje={metadata_page.languaje_es}
	description={metadata_page.description_es}
	keywords={metadata_page.keywords_es}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={social_links.portfolio_link_external}
	icon={metadata_page.icon}
>
	<div>
        <h1>404</h1>
        <p>{page_not_found_string}</p>
		<div class="iframe-div">
			<iframe allowfullscreen="true" frameborder="0" src="https://playcanv.as/p/JIwncOGZ/"></iframe>
		</div>
    </div>
</Layout>

<style>
	iframe {
		/* min-width: 90%;  */
		/* min-height: 90%;  */
		width: 100%;
		height: 50vh;
	}

	.iframe-div {
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
</style>