---
import Layout from "@layouts/Layout.astro";

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - Animaciones";
const url = social_links.portfolio_link_external + "/animaciones"
const description = "Animacionesde la página";
const keywords = "animaciones";
---

<Layout
    title={page_title}
    languaje={metadata_page.languaje_en}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    url={url}
    icon={metadata_page.icon}
    robots="noindex, nofollow"
>
    <h1>Animaciones y transiciones</h1>

    <h2>Transitions</h2>
    <div class="transition-group">
        <p>pulser1</p>
        <div class="pulser1"></div>
    </div>
    <div class="transition-group">
        <p>pulser2</p>
        <div class="pulser2"></div>
    </div>
    <div class="transition-group">
        <p>pulser3</p>
        <div class="pulser3"></div>
    </div>

</Layout>

<style>
    .transition-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .pulser1, .pulser2, .pulser3 {
        width: 30px;
        height: 30px;
        background-color: #09f;
        border-radius: 50%;
        position: relative;
    }
    .pulser2, .pulser3 {
        transition: 1s;
    }
    .pulser3 {
        transition-property: background-color, scale;
    }

    .pulser1:hover, .pulser2:hover, .pulser3:hover {
        scale: 2;
        background: purple;
        box-shadow: 3px 3px 6px 0 hsla(0, 0%, 100%, 0.4);
    }
</style>