---
import Layout from "@layouts/Layout.astro";
import CodeBlockInputCell from "@components/CodeBlockInputCell.astro";
import CodeBlockOutputCell from "@components/CodeBlockOutputCell.astro";

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - Animaciones";
const url = social_links.portfolio_link_external + "/animaciones"
const description = "Animacionesde la página";
const keywords = "animaciones";
---

<Layout
    title={page_title}
    languaje={metadata_page.languaje_es}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    url={url}
    icon={metadata_page.icon}
    robots="noindex, nofollow"
>
    <div class="project">
        <h1>Animaciones y transiciones</h1>

        <h2>Transitions</h2>

        <section class="animation-group">
            <h3>Pulser 1</h3>
            <CodeBlockInputCell 
                text={
                    [
                        '<div class="pulser1"></div>',
                        ' ',
                        '<style>',
                        '    .pulser1 {',
                        '        width: 30px;',
                        '        height: 30px;',
                        '        background-color: #09f;',
                        '        border-radius: 50%;',
                        '        position: relative;',
                        '    }',
                        '    .pulser1:hover {',
                        '        scale: 2;',
                        '        background: purple;',
                        '        box-shadow: 0 0 10px purple;',
                        '    }',
                        '</style>'
                    ]
                } 
                languaje='bash'
                html_raw={true}
            ></CodeBlockInputCell>
            <div class="animation-contanier">
                <div class="pulser1"></div>
            </div>
        </section>


        <section class="animation-group">
            <h3>Pulser 2</h3>
            <CodeBlockInputCell 
                text={
                    [
                        '<div class="pulser2"></div>',
                        ' ',
                        '<style>',
                        '    .pulser2 {',
                        '        width: 30px;',
                        '        height: 30px;',
                        '        background-color: #09f;',
                        '        border-radius: 50%;',
                        '        position: relative;',
                        '        transition: 1s;',
                        '    }',
                        '    .pulser2:hover {',
                        '        scale: 2;',
                        '        background: purple;',
                        '        box-shadow: 0 0 10px purple;',
                        '    }',
                        '</style>'
                    ]
                } 
                languaje='bash'
                html_raw={true}
            ></CodeBlockInputCell>
            <div class="animation-contanier">
                <div class="pulser2"></div>
            </div>
        </section>

        <section class="animation-group">
            <h3>Pulser 3</h3>
            <CodeBlockInputCell 
                text={
                    [
                        '<div class="pulser3"></div>',
                        ' ',
                        '<style>',
                        '    .pulser3 {',
                        '        width: 30px;',
                        '        height: 30px;',
                        '        background-color: #09f;',
                        '        border-radius: 50%;',
                        '        position: relative;',
                        '    }',
                        '    .pulser3:hover {',
                        '        scale: 2;',
                        '        background: purple;',
                        '        box-shadow: 0 0 10px purple;',
                        '    }',
                        '    .pulser3 {',
                        '        transition: 1s;',
                        '    }',
                        '    .pulser3 {',
                        '        transition-property: background-color, scale;',
                        '    }',
                        '</style>'
                    ]
                } 
                languaje='bash'
                html_raw={true}
            ></CodeBlockInputCell>
            <div class="animation-contanier">
                <div class="pulser3"></div>
            </div>
        </section>

        <h2>Animaciones</h2>
        
        <section class="animation-group">
            <h3>Small Solar system</h3>
            <CodeBlockInputCell 
                text={
                    [
                        '<svg width="220" height="220" viewBox="0 0 220 220">',
                        '  <title xml:lang="en">Planets loader</title>',
                        '  <circle id="orbit1" cx="50%" cy="50%" r="55px" fill="none" stroke="#f8f3dc" /> ',
                        '  <circle id="orbit2" cx="50%" cy="50%" r="75px" fill="none" stroke="#f8f3dc" /> ',
                        '  <circle id="orbit3" cx="50%" cy="50%" r="95px" fill="none" stroke="#f8f3dc" /> ',
                        '  <circle id="sun" cx="50%" cy="50%" r="28px" fill="#fecb2f" /> ',
                        '  <circle id="mars" cx="50%" cy="50%" r="8px" fill="#69b3b2" /> ',
                        '  <circle id="mercury" cx="50%" cy="50%" r="8px" fill="#fa3757" /> ',
                        '  <circle id="saturn" cx="50%" cy="50%" r="8px" fill="#ffa4a4" /> ',
                        '</svg>',
                        ' ',
                        '<style>',
                        '    @keyframes rotation {',
                        '        from {',
                        '                transform: rotate(0deg)',
                        '                        translate(var(--translate))',
                        '                        rotate(0deg);',
                        '            }',
                        '            to {',
                        '                transform: rotate(360deg)',
                        '                        translate(var(--translate)) ',
                        '                        rotate(-360deg);',
                        '            }',
                        '        }',
                        '        #mercury {',
                        '            --translate: -55px;',
                        '            animation: rotation 4s linear infinite;',
                        '        }',
                        '        #mars {',
                        '            --translate: -75px;',
                        '            animation: rotation 5s -1s linear infinite;',
                        '        }',
                        '        #saturn {',
                        '            --translate: -95px;',
                        '            animation: rotation 8s -3s linear infinite;',
                        '        }',
                        '</style>'
                    ]
                } 
                languaje='bash'
                html_raw={true}
            ></CodeBlockInputCell>
            <div class="animation-contanier">
                <svg width="220" height="220" viewBox="0 0 220 220">
                    <title xml:lang="en">Planets loader</title>
                    <circle id="orbit1" cx="50%" cy="50%" r="55px" fill="none" stroke="#f8f3dc" /> 
                    <circle id="orbit2" cx="50%" cy="50%" r="75px" fill="none" stroke="#f8f3dc" /> 
                    <circle id="orbit3" cx="50%" cy="50%" r="95px" fill="none" stroke="#f8f3dc" /> 
                    <circle id="sun" cx="50%" cy="50%" r="28px" fill="#fecb2f" /> 
                    <circle id="mars" cx="50%" cy="50%" r="8px" fill="#69b3b2" /> 
                    <circle id="mercury" cx="50%" cy="50%" r="8px" fill="#fa3757" /> 
                    <circle id="saturn" cx="50%" cy="50%" r="8px" fill="#ffa4a4" /> 
                </svg>
            </div>
        </section>

        <section class="animation-group">
            <h3>Target range inside</h3>
            <CodeBlockInputCell 
                text={
                    [
                        '<section class="porto">',
                        '    <div class="content-container flex-wrapper">',
                        '        <div class="vertical-scroll-container">',
                        '        <img onerror="this.parentNode.removeChild(this)" src="https://marianabeldi.github.io/scroll-driven-sardinas/img/porto1.svg" alt="sardinas bajo en sodio">',
                        '        <img onerror="this.parentNode.removeChild(this)" src="https://marianabeldi.github.io/scroll-driven-sardinas/img/porto2.svg" alt="sardinas sin piel">',
                        '        <img onerror="this.parentNode.removeChild(this)" src="https://marianabeldi.github.io/scroll-driven-sardinas/img/porto3.svg" alt="sardinas en agua">',
                        '        <img onerror="this.parentNode.removeChild(this)" src="https://marianabeldi.github.io/scroll-driven-sardinas/img/porto4.svg" alt="sardinas al limon">',
                        '        </div>',
                        '    </div>',
                        '</section>',
                        ' ',
                        '<style>',
                        '    .porto {',
                        '        color: #f5dbc8;',
                        '        padding: 32px;',
                        '        text-align: center;',
                        '    }',
                        '    .porto p {',
                        '        font-size: 1.1rem;',
                        '        font-weight: 500;',
                        '        letter-spacing: 0.03em;',
                        '        max-width: 40ch;',
                        '    }',
                        '    .flex-wrapper {',
                        '        align-items: center;',
                        '        display: flex;',
                        '        justify-content: center;',
                        '        gap: 2rem;',
                        '    }',
                        '    .content-container {',
                        '        margin-inline: auto;',
                        '        width: 90vw;',
                        '    }',
                        '    .vertical-scroll-container {',
                        '        align-items: center;',
                        '        display: flex;',
                        '        flex-direction: column;',
                        '        /* flex: 1 1 50%; */',
                        '        gap: 6rem 0;',
                        '        min-width: 400px;',
                        '        overflow-y: scroll;',
                        '        scrollbar-color: #3848a0 #1b2767;',
                        '        scroll-snap-type: y mandatory;  ',
                        '        padding: 200px 20px;',
                        '        height: 100px;',
                        '    }',
                        '    .vertical-scroll-container img {',
                        '        scroll-snap-align: center;',
                        '        width: 400px;',
                        '        animation: slideInOut;',
                        '        animation-timeline: view();',
                        '    }',
                        '    @keyframes slideInOut {',
                        '        entry 0% {',
                        '            transform: scale(.8) translateY(100px); ',
                        '            opacity: 0;',
                        '        }',
                        '        entry 100% { ',
                        '            transform: scale(1) translateY(0); ',
                        '            opacity: 1;',
                        '        }',
                        '        exit 0% {',
                        '            transform: scale(1) translateY(0); ',
                        '            opacity: 1;    ',
                        '        }',
                        '        exit 100% { ',
                        '            transform: scale(.8) translateY(-100px); ',
                        '            opacity: 0 ',
                        '        }',
                        '    }',
                        '    @media screen and (max-width: 40em) {',
                        '        .vertical-scroll-container img {',
                        '            padding: 0;',
                        '            width: 300px;',
                        '        }',
                        '    }',
                        '</style>'
                    ]
                } 
                languaje='bash'
                html_raw={true}
            ></CodeBlockInputCell>
            <div class="animation-contanier">
                <section class="porto">
                    <div class="content-container flex-wrapper">
                        <div class="vertical-scroll-container">
                        <img onerror="this.parentNode.removeChild(this)" src="https://marianabeldi.github.io/scroll-driven-sardinas/img/porto1.svg" alt="sardinas bajo en sodio">
                        <img onerror="this.parentNode.removeChild(this)" src="https://marianabeldi.github.io/scroll-driven-sardinas/img/porto2.svg" alt="sardinas sin piel">
                        <img onerror="this.parentNode.removeChild(this)" src="https://marianabeldi.github.io/scroll-driven-sardinas/img/porto3.svg" alt="sardinas en agua">
                        <img onerror="this.parentNode.removeChild(this)" src="https://marianabeldi.github.io/scroll-driven-sardinas/img/porto4.svg" alt="sardinas al limon">
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <section class="animation-group">
            <h3>Typewriter CSS</h3>
            <CodeBlockInputCell 
                text={
                    [
                        '<div class="animation-contanier">',
                        '    <div class="wrapper">',
                        '        <div class="static-text">for your</div>',
                        '        <ul class="dynamic-text">',
                        '            <li><span>Slack Channels</span></li>',
                        '            <li><span>GitHub Repositories</span></li>',
                        '            <li><span>Jira Boards</span></li>',
                        '            <li><span>Trello Boards</span></li>',
                        '            <li><span>GitLab Repositories</span></li>',
                        '            <li><span>Google Drives</span></li>',
                        '            <li><span>One Drives</span></li>',
                        '            <li><span>Slack Groups </span></li>',
                        '            <li><span>Google Events</span></li>',
                        '            <li><span>Microsoft Events</span></li>',
                        '            <li><span>Keeper Folder</span></li>',
                        '        </ul>',
                        '    </div>',
                        '</div>',
                        ' ',
                        '<style>',
                        '    .wrapper {',
                        '        display: inline-flex',
                        '    }',
                        '    .wrapper .static-text {',
                        '        font-size: 2.7rem;',
                        '        color: #fff;',
                        '        font-weight: 400;',
                        '    }',
                        '    .wrapper .dynamic-text{',
                        '        top: -4px;',
                        '        margin-left: 15px;',
                        '        height: 85px;',
                        '        line-height: 1.5;',
                        '        position: relative;',
                        '        overflow: hidden;',
                        '    }',
                        '    .dynamic-text li{',
                        '        color: yellow;',
                        '        background-color: #1e263f;',
                        '        list-style: none;',
                        '        font-size: 2.7rem;',
                        '        font-size: 60px;',
                        '        position: relative;',
                        '        animation: slide 22s steps(11) infinite;',
                        '        top: 0;',
                        '    }',
                        '    @keyframes slide {',
                        '        100% {',
                        '            top: -990px;',
                        '        }',
                        '    }',
                        '    .dynamic-text li span{',
                        '        position: relative;',
                        '    }',
                        '    .dynamic-text li span::after{',
                        '        content: "";',
                        '        position: absolute;',
                        '        height: 100%;',
                        '        width: 100%;',
                        '        border-left: 2px solid #fff;',
                        '        background-color: #1e263f;',
                        '        padding: 5px;',
                        '        left: 0;',
                        '        animation: typing 2s steps(17) infinite;',
                        '    }',
                        '    @keyframes typing {',
                        '        60%, 100% {',
                        '            left: 100%;',
                        '            margin: 0 -40px 0 40px;',
                        '        }',
                        '    }',
                        '</style>'
                    ]
                } 
                languaje='bash'
                html_raw={true}
            ></CodeBlockInputCell>
            <div class="animation-contanier">
                <div class="wrapper">
                    <div class="static-text">for your</div>
                    <ul class="dynamic-text">
                        <li><span>Slack Channels</span></li>
                        <li><span>GitHub Repositories</span></li>
                        <li><span>Jira Boards</span></li>
                        <li><span>Trello Boards</span></li>
                        <li><span>GitLab Repositories</span></li>
                        <li><span>Google Drives</span></li>
                        <li><span>One Drives</span></li>
                        <li><span>Slack Groups </span></li>
                        <li><span>Google Events</span></li>
                        <li><span>Microsoft Events</span></li>
                        <li><span>Keeper Folder</span></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="animation-group">
            <h3>Rotate Down Right</h3>
            <CodeBlockInputCell 
                text={
                    [
                        '<div class="animated rotateInDownRight">Example</div>',
                        ' ',
                        '<style>',
                        '    @keyframes rotateInDownRight {',
                        '        from {',
                        '            -webkit-transform-origin: right bottom;',
                        '            transform-origin: right bottom;',
                        '            -webkit-transform: rotate3d(0, 0, 1, 45deg);',
                        '            transform: rotate3d(0, 0, 1, 45deg);',
                        '            opacity: 0;',
                        '        }',
'',
                        '        to {',
                        '            -webkit-transform-origin: right bottom;',
                        '            transform-origin: right bottom;',
                        '            -webkit-transform: translate3d(0, 0, 0);',
                        '            transform: translate3d(0, 0, 0);',
                        '            opacity: 1;',
                        '        }',
                        '    }',
'',
                        '    .animated {',
                        '        -webkit-animation-duration: 1s;',
                        '        animation-duration: 1s;',
                        '        -webkit-animation-fill-mode: both;',
                        '        animation-fill-mode: both;',
                        '        animation: rotateInDownRight 1s linear infinite;',
                        '    }',
                        '</style>'
                    ]
                } 
                languaje='bash'
                html_raw={true}
            ></CodeBlockInputCell>
            <div class="animation-contanier">
                <div class="animated rotateInDownRight">Example</div>
            </div>
        </section>
    </div>

</Layout>

<style>
	.project {
		display: flex;
		flex-direction: column;
        width: 100%;
	}

    .transition-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .pulser1 {
        width: 30px;
        height: 30px;
        background-color: #09f;
        border-radius: 50%;
        position: relative;
    }
    .pulser2, .pulser3 {
        width: 30px;
        height: 30px;
        background-color: #09f;
        border-radius: 50%;
        position: relative;
        transition: 1s;
    }
    .pulser3 {
        width: 30px;
        height: 30px;
        background-color: #09f;
        border-radius: 50%;
        position: relative;
        transition: 1s;
        transition-property: background-color, scale;
    }
    .pulser1:hover, .pulser2:hover, .pulser3:hover {
        scale: 2;
        background: purple;
        box-shadow: 0 0 10px purple;
    }
    
    .animation-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 20px;
    }

    .animation-contanier {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Small Solar system */
    @keyframes rotation {
    from {
            transform: rotate(0deg)
                    translate(var(--translate))
                    rotate(0deg);
        }
        to {
            transform: rotate(360deg)
                    translate(var(--translate)) 
                    rotate(-360deg);
        }
    }
    #mercury {
        --translate: -55px;
        animation: rotation 4s linear infinite;
    }
    #mars {
        --translate: -75px;
        animation: rotation 5s -1s linear infinite;
    }
    #saturn {
        --translate: -95px;
        animation: rotation 8s -3s linear infinite;
    }

    /* Target range inside */
    .porto {
        color: #f5dbc8;
        padding: 32px;
        text-align: center;
    }
    .porto p {
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 0.03em;
        max-width: 40ch;
    }
    .flex-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .content-container {
        margin-inline: auto;
        width: 90vw;
    }
    .vertical-scroll-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 6rem 0;
        min-width: 400px;
        overflow-y: scroll;
        scrollbar-color: #3848a0 #1b2767;
        scroll-snap-type: y mandatory;  
        padding: 200px 20px;
        height: 100px;
    }
    .vertical-scroll-container img {
        scroll-snap-align: center;
        width: 400px;
        animation: slideInOut;
        animation-timeline: view();
    }
    @keyframes slideInOut {
        entry 0% {
            transform: scale(.8) translateY(100px); 
            opacity: 0;
        }
        entry 100% { 
            transform: scale(1) translateY(0); 
            opacity: 1;
        }
        exit 0% {
            transform: scale(1) translateY(0); 
            opacity: 1;    
        }
        exit 100% { 
            transform: scale(.8) translateY(-100px); 
            opacity: 0 
        }
    }
    @media screen and (max-width: 40em) {
        .vertical-scroll-container img {
            padding: 0;
            width: 300px;
        }
    }

    /* Typewriter CSS */
    .wrapper {
        display: inline-flex
    }
    .wrapper .static-text {
        font-size: 2.7rem;
        color: #fff;
        font-weight: 400;
    }
    .wrapper .dynamic-text{
        top: -4px;
        margin-left: 15px;
        height: 85px;
        line-height: 1.5;
        position: relative;
        overflow: hidden;
    }
    .dynamic-text li{
        color: yellow;
        background-color: #1e263f;
        list-style: none;
        font-size: 2.7rem;
        font-size: 60px;
        position: relative;
        animation: slide 22s steps(11) infinite;
        top: 0;
    }
    @keyframes slide {
        100% {
            top: -990px;
        }
    }
    .dynamic-text li span{
        position: relative;
    }
    .dynamic-text li span::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-left: 2px solid #fff;
        background-color: #1e263f;
        padding: 5px;
        left: 0;
        animation: typing 2s steps(17) infinite;
    }
    @keyframes typing {
        60%, 100% {
            left: 100%;
            margin: 0 -40px 0 40px;
        }
    }

    /* Rotate Down Right */
    @keyframes rotateInDownRight {
        from {
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
            opacity: 0;
        }

        to {
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation: rotateInDownRight 1s linear infinite;
    }
</style>
