---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Caffeine';
const end_url = 'caffeine';
const description = '🚀 ¡Despierta, Ubuntu! ☕ Con Caffeine para Linux, dile adiós a esos molestos modos de suspensión justo cuando menos lo esperas. ¿Maratón de trabajo? ¿Descarga eterna? Caffeine está aquí para mantener tu máquina en marcha. Esta chulada se integra a la perfección con tu entorno Ubuntu y es pan comido usarla. Descubre más sobre cómo instalar y usar Caffeine en nuestro post. ¡Te prometemos que tu computadora no se dormirá mientras lees!';
const keywords = 'caffeine, linux, ubuntu, software, caffeine-indicator, caffeine-infinita, caffeine-command';
const languaje = 'ES';
const image_path = 'https://images.maximofn.com/caffeine_shots_so.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=960
    image_height=720
    image_extension=webp
    article_date=2023-09-15+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Instalacion"><h2>Instalación</h2></a>
      <a class="anchor-link" href="#Cafeina infinita"><h2>Cafeína infinita</h2></a>
      <a class="anchor-link" href="#Cafeina para un comando"><h2>Cafeína para un comando</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Caffeine es un software para evitar que a nuestro Linux se le bloquee la pantalla y después se duerma, para ello le daremos cafeína</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Instalacion">Instalación<a class="anchor-link" href="#Instalacion"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 1" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>La instalación es muy sencilla, solo tenemos que hacer</p>
      
      <section class="section-block-markdown-cell">
            <div class='highlight'><pre><code class="language-bash">sudo apt update<br>sudo apt install caffeine</code></pre></div>
            </section>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Cafeina infinita">Cafeína infinita<a class="anchor-link" href="#Cafeina infinita"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 2" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Si pulsamos el botón de <code>windows</code> del teclado, y escribimos <code>caffeine-indicator</code> nos aparecerá la opción de iniciar el indicador del software</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://images.maximofn.com/caffeine-indicator-executable.webp" alt="caffeine-indicator-executable">
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Si lo ejecutamos aparecerá un indicador del software en la barra superior de Ubuntu</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://images.maximofn.com/caffeine-indicator.webp" alt="caffeine-indicator">
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Si pinchamos sobre el indicador aparecerá un menú</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://images.maximofn.com/caffeine-indicator-menu.webp" alt="caffeine-indicator-menu">
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Ahora podemos darle a <code>Activate</code> de manera que nuestro Ubuntu tendrá cafeína infinita y nunca se dormirá</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://images.maximofn.com/caffeine-indicator-on.webp" alt="caffeine-indicator-on">
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Cafeina para un comando">Cafeína para un comando<a class="anchor-link" href="#Cafeina para un comando"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 3" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Una cosa que me pasa, es que cuando entreno una red neuronal, me gusta dejar la evaluación del modelo a la vista, aunque ni esté en el ordenador. Pero si ese entrenamiento dura horas, en algún momento se activa el protector de pantalla y ya no se ve la evolución del entrenamiento, así que para arreglar eso tenemos <code>caffeinate</code> por lo que haciendo</p>
      <div class='highlight'><pre><code class="language-bash">caffeinate COMMAND</code></pre></div>
      <p>Haremos que nuestro ordenador tenga cafeína y no se duerma mientras se ejecuta el comando <code>COMMAND</code></p>
      </section>







    </div>

  </section>

</PostLayout>
