---
import Layout from '../layouts/Layout.astro';
import GoToSiteNoTransparent from '../components/GoToSiteNoTransparent.astro';
import GoToSiteTransparent from '../components/GoToSiteTransparent.astro';
import Card from '../components/Card.astro';
import Pill from '../components/Pill.astro';
import FlatButton from '../components/FlatButton.astro';
import FlatButtonDisabled from '../components/FlatButtonDisabled.astro';

const { social_links } = await import('../../consts.json');
const { metadata_page } = await import('../../consts.json');
const { colors } = await import('../../consts.json');

const page_title = metadata_page.title + " - Components";
const url = social_links.portfolio_link_external + "/components"
const description = "Components of page";
const keywords = "components";
---

<Layout 
    title={page_title}
    languaje={metadata_page.languaje_en}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    url={url}
    icon={metadata_page.icon}
    robots="noindex, nofollow"
>
        <p>Link buttons</p>
        <div class="horizontal-group">
            <GoToSiteNoTransparent
                text="Link button"
                svg="icons/arrow-up-right-from-square.svg"
                url={social_links.portfolio_link_internal}
                target=''
            ></GoToSiteNoTransparent>
            <GoToSiteNoTransparent
                text="Link button"
                svg="icons/arrow-sm-right.svg"
                url={social_links.portfolio_link_internal}
                target=''
            ></GoToSiteNoTransparent>
            <GoToSiteTransparent
                text="Transparent link button"
                svg="icons/arrow-up-right-from-square.svg"
                url={social_links.portfolio_link_internal}
                target=''
            ></GoToSiteTransparent>
            <GoToSiteTransparent
                text="Transparent link button"
                svg="icons/arrow-sm-right.svg"
                url={social_links.portfolio_link_internal}
                target=''
            ></GoToSiteTransparent>
        </div>

        <p>Flat button</p>
        <div class="horizontal-group">
            <FlatButton
                text="Example flat button"
            ></FlatButton>
            <FlatButtonDisabled
                text="Example disabled flat button"
            ></FlatButtonDisabled>
        </div>

        <p>Card</p>
        <Card
            title="Title"
            subtitle="Subtitle"
            body="Body"
            href={social_links.portfolio_link_internal}
        ></Card>

        <p>Pill</p>
        <Pill
            body="Pill body"
        ></Pill>

        <p>Titles</p>
        <div class="horizontal-group">
            <h1>h1 Title</h1>
            <h2>h2 Title</h2>
            <h3>h3 Title</h3>
            <h4>h4 Title</h4>
            <h5>h5 Title</h5>
            <h6>h6 Title</h6>
        </div>
        <div class="vertical-group">
            <h1>h1 Title</h1>
            <h2>h2 Title</h2>
            <h3>h3 Title</h3>
            <h4>h4 Title</h4>
            <h5>h5 Title</h5>
            <h6>h6 Title</h6>
        </div>
</Layout>

<style define:vars={{}}>
	main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin: 100px;
	}

    .horizontal-group {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        align-content: flex-end;
        gap: 20px;
    }

    .vertical-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
</style>
