---
import Layout from '@layouts/Layout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { color_palette } = await import('@portfolio/consts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - disk Monitor";
const url = social_links.portfolio_link_external + "/disk-monitor"
const description = "Monitor del disco duro para la barra de superior de Ubuntu";
const keywords = "Monitor del disco duro, barra superior, Ubuntu";

const images_width = 600*2;
const images_height =338*2;
const buyMeACoffee_width = 305;
const buyMeACoffee_height = 28;

const inline_code_background_color = color_palette.color_950;

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
const sticky_top_h3_increment = "50px"
---

<Layout 
	title={page_title}
	languaje={metadata_page.languaje_es}
	description={description}
	keywords={keywords}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={url}
	icon={metadata_page.icon}
>
	<div class="project">
		<h1>Disk Monitor</h1>
		<h4>{description}</h4>
		<p>La mejor herramienta de seguimiento del disco duro en tiempo real</p>
		<p>Monitorea el rendimiento, la temperatura y el uso de la memoria de tu disco duro directamente desde la barra de menú de Ubuntu con <span class="inline-code">Disk Monitor</span>. Esta aplicación está totalmente integrada con el último sistema operativo Ubuntu. Obtén actualizaciones en tiempo real y optimiza tus tareas. ¡Descargala ahora y toma el control de la salud de tu disco duro!</p>
		<div class="figure-div">
			<figure>
				<img decoding="async" 
					src="/images/disk_monitor.gif" 
					alt="disk monitor"
					width={images_width}
					height={images_height}
				></img>
			</figure>
		</div>

		<section>
			<h2>Acerca de Disk Monitor</h2>
			<p>Disk Monitor es una herramienta intuitiva diseñada para desarrolladores, jugadores y profesionales que necesitan mantener un ojo en el rendimiento y la salud de su disco duro en tiempo real. Se integra perfectamente con la barra de menú de Ubuntu, proporcionando información esencial al alcance de tu mano.</p>
		</section>

		<section>
			<h2>Características clave</h2>
			<ul>
				<li>Monitoreo en tiempo real: visualiza la temperatura del disco duro, todo actualizado en vivo.</li>
				<li>Optimizado para Ubuntu: diseñado para integrarse perfectamente con el último sistema operativo Ubuntu.</li>
			</ul>
		</section>

		<section>
			<h2>Instalación</h2>

			<section>
				<h3>Clonar el repositorio</h3>
				<p>Clónalo con <span class="inline-code">https</span></p>
				<CodeBlockInputCell text={["git clone https://github.com/maximofn/disk_monitor.git"]} languaje='bash'></CodeBlockInputCell>
				<p>o con <span class="inline-code">ssh</span></p>
				<CodeBlockInputCell text={["git clone git@github.com:maximofn/disk_monitor.git"]} languaje='bash'></CodeBlockInputCell>
			</section>

			<section>
				<h3>Instalar las dependencias</h3>
				<p>Asegúrate de no tener ningún entorno <span class="inline-code">venv</span> o <span class="inline-code">conda</span> instalado</p>
				<CodeBlockInputCell 
					text={[
						'if [ -n "$VIRTUAL_ENV" ]; then',
						"    deactivate",
						"fi",
						"if command -v conda &>/dev/null; then",
						"    conda deactivate",
						"fi",
					]}
					languaje='bash'
				></CodeBlockInputCell>
				<p>Ahora instala las dependencias</p>
				<CodeBlockInputCell 
					text={[
						'sudo apt install lm-sensors',
					]}
					languaje='bash'
				></CodeBlockInputCell>
				<p>Responde <span class="inline-code">yes</span> a todas las preguntas</p>
				<CodeBlockInputCell 
					text={[
						'sudo sensors-detect',
					]}
					languaje='bash'
				></CodeBlockInputCell>
				<p>Instalación de <span class="inline-code">psensor</span></p>
				<CodeBlockInputCell 
					text={[
						'sudo apt install psensor',
					]}
					languaje='bash'
				></CodeBlockInputCell>
			</section>
		</section>

		<section>
			<h2>Ejecución al encender el ordenador</h2>
			<p>Ejecuta este script</p>
			<CodeBlockInputCell text={["./add_to_startup.sh"]} languaje='bash'></CodeBlockInputCell>
			<p>Después de reiniciar tu ordenador, Disk Monitor se iniciará automáticamente.</p>
		</section>

		<section>
			<h2>Soporte</h2>
			<p>Si te ha gustado considera darle una estrella ⭐ al repositorio, pero si realmente te ha gustado considera invitarme a un café ☕.</p>
			<a href="https://www.buymeacoffee.com/maximofn" target="_blank" rel="nofollow noreferrer">
				<figure>
					<img decoding="async" 
						src="https://img.shields.io/badge/Invítame_a_un_café-Apoya_mi_trabajo-FFDD00?style=for-the-badge&logo=buy-me-a-coffee&logoColor=white&labelColor=101010" 
						alt="BuyMeACoffee"
						width={buyMeACoffee_width}
						height={buyMeACoffee_height}
						loading="lazy"
					></img>
				</figure>		
			</a>
		</section>
	</div>

</Layout>

<style define:vars={{
	inline_code_background_color,
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
	sticky_top_h3_increment,
}}>
	.project {
		display: flex;
		flex-direction: column;
	}

	.inline-code {
		background-color: var(--inline_code_background_color);
		border-radius: 7px;
		padding: 0.2em 0.4em;
		font-style: oblique;
		font-family: 'Courier New', Courier, monospace;
	}

	section {
		position: relative;
	}

	h1 {
		margin-bottom: 0px;
	}

	h4 {
		padding-left: 0px;
	}

	.figure-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
</style>
