---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'git-sim';
const end_url = 'git-sim';
const description = 'Si te da miedo 游땸 usar comandos de git, entra y aprende c칩mo testearlos f치cilmente y con gr치ficas con git-sim 游땕';
const keywords = 'git, git sim, git-sim, comandos de git, git rebase, git reset';
const languaje = 'ES';
const image_path = 'https://images.maximofn.com/git-sim-shot.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=960
    image_height=720
    image_extension=webp
    article_date=2024-03-16+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Instalacion"><h2>Instalaci칩n</h2></a>
      <a class="anchor-link" href="#Uso"><h2>Uso</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Te da miedo hacer un <code>git rebase</code>? O un <code>git reset</code>? O cualquier otro comando de git? No te preoucupes, porque con <code>git-sim</code> vas a poder ver antes de hacerlo qu칠 es lo que va a pasar para as칤 tomar la decisi칩n</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Instalacion">Instalaci칩n<a class="anchor-link" href="#Instalacion"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 1" src={svg_paths.link_svg_path}/></a></h2>
      <p>Para instalar <code>git-sim</code> primero necesitamos instalar <code>manim</code>, que es una librer칤a de python para hacer animaciones. Para ello lo podemos instalar con pip:</p>
      <div class='highlight'><pre><code class="language-bash">pip install manim</code></pre></div>
      <p>o con Conda</p>
      <div class='highlight'><pre><code class="language-bash">conda install -c conda-forge manim</code></pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Una vez instalado <code>manim</code> podemos instalar <code>git-sim</code> con pip:</p>
      <div class='highlight'><pre><code class="language-bash">pip install git-sim</code></pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Uso">Uso<a class="anchor-link" href="#Uso"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 2" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Ahora que lo hemos instalado nos vamos a un repositorio y probamos cualquier comando de git cambiando <code>git</code> por <code>git-sim</code>. Por ejemplo, si en un repositorio m칤o hago un <code>git-sim reset --hard HEAD~1</code> me va a mostrar una animaci칩n de c칩mo quedar칤a el **rebase** antes de hacerlo.</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://images.maximofn.com/git-sim-scaled.webp" alt="git-sim">
      <p>Como podemos ver, me est치 mostrando que si hago <code>git reset --hard HEAD~1</code> pasar칤a del commit <code>ae757a8</code> al commit <code>3754c64</code> y que adem치s se eliminar칤an los cambios en los archivos indicados en <code>Changes deleted from</code></p>
      </section>







    </div>

  </section>

</PostLayout>
