---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import PostCard from '../components/PostCard.astro';

const huggingface_svg_path='icons/hf-logo-pirate.svg';
const github_svg_path='icons/github-brands-solid.svg';
const linkedin_svg_path='icons/linkedin-brands-solid.svg';
const x_svg_path='icons/square-x-twitter-brands-solid.svg';
const kaggle_svg_path='icons/kaggle-brands-solid.svg';
const facebook_svg_path='icons/facebook-brands-solid.svg';
const instagram_svg_path='icons/instagram-brands-solid.svg';
const tiktok_svg_path='icons/tiktok-brands-solid.svg';
const twitch_svg_path='icons/twitch-brands-solid.svg';
const youtube_svg_path='icons/youtube-brands-solid.svg';
const curriculum_svg_path='icons/cv-solid.svg';
const spain_flag_svg_path='icons/spain-flag.svg';
const united_states_flag_svg_path='icons/united-states-flag.svg';
const brazil_flag_svg_path='icons/brazil-flag-optimized.svg';

const maximofn_photo_path='images/maximo-0014_resized_291x436.webp'
// const maximofn_photo_path = 'https://avatars.githubusercontent.com/u/53622795?v=4'

const huggingface_link='https://huggingface.co/Maximofn';
const github_link='http://github.com/maximofn';
const linkedin_link='http://linkedin.com/in/MaximoFN/';
const x_link='https://x.com/Maximo_fn';
const kaggle_link='http://kaggle.com/maximofn';
const facebook_link='https://www.facebook.com/profile.php?id=100085177670661';
const instagram_link='https://www.instagram.com/maximo__fn/';
const tiktok_link='https://www.tiktok.com/@maximo__fn';
const twitch_link='https://www.twitch.tv/maximofn/';
const youtube_link='https://www.youtube.com/channel/UCdQwg2JU_fWRsHn3yIlf3tw';
const curriculum_link='https://github.com/maximofn/maximofn/raw/main/Curriculum%20Vitae.pdf';
const portfolio_link='https://www.twitch.tv/maximofn/portafolio'

const color_50 ='#f2f7fb';
const color_100='#e7f0f8';
const color_200='#d3e2f2';
const color_300='#b9cfe8';
const color_400='#9cb6dd';
const color_500='#839dd1';
const color_600='#6a7fc1';
const color_700='#6374ae';
const color_800='#4a5989';
const color_900='#414e6e';
const color_950='#262c40';

const background_color='#131720'
const color_white='#fafafa';
const color_grid_dark='rgba(79, 79, 79, 0.2)';
const color_grid_light='#4f4f4f2e';

const title="MaximoFN";
const languaje='es';
const description='Página de MaximoFN. Página para aprender sobre IA en español';
const keywords='IA, Inteligencia Artificial, Python, Español';
const author='MaximoFN';
const theme_color='#131720';
const url='https://maximofn.com';
const icon="/icons/MFN-512x512.webp";
const about_me_title='Sobre mi';
const about_me_description='¡Hola! Soy MaximoFN, un apasionado de la Inteligencia Artificial y la programación. En esta página encontrarás contenido sobre IA, Python y mucho más en español. ¡Espero que te guste!';
const about_me_call_to_action='Entra y aprende todo lo que puedas';

const max_width=1500;

const sticky_top_default=70;
const sticky_top_649px=90;
const sticky_top_418px=130;
const sticky_top_334px=150;
const sticky_top_315px=190;
const sticky_top_229px=220;
---

<Layout 
	title={title}
	languaje={languaje}
	description={description}
	keywords={keywords}
	author={author}
	theme_color={theme_color}
	url={url}
	icon={icon}
	huggingface_svg_path={huggingface_svg_path},
	github_svg_path={github_svg_path},
	linkedin_svg_path={linkedin_svg_path},
	x_svg_path={x_svg_path},
	kaggle_svg_path={kaggle_svg_path},
	facebook_svg_path={facebook_svg_path},
	instagram_svg_path={instagram_svg_path},
	tiktok_svg_path={tiktok_svg_path},
	twitch_svg_path={twitch_svg_path},
	youtube_svg_path={youtube_svg_path},
	curriculum_svg_path={curriculum_svg_path},
	spain_flag_svg_path={spain_flag_svg_path},
	united_states_flag_svg_path={united_states_flag_svg_path},
	brazil_flag_svg_path={brazil_flag_svg_path},
	huggingface_link={huggingface_link},
	github_link={github_link},
	linkedin_link={linkedin_link},
	x_link={x_link},
	kaggle_link={kaggle_link},
	facebook_link={facebook_link},
	instagram_link={instagram_link},
	tiktok_link={tiktok_link},
	twitch_link={twitch_link},
	youtube_link={youtube_link},
	curriculum_link={curriculum_link},
	portfolio_link={portfolio_link}
	color_50={color_50},
	color_100={color_100},
	color_200={color_200},
	color_300={color_300},
	color_400={color_400},
	color_500={color_500},
	color_600={color_600},
	color_700={color_700},
	color_800={color_800},
	color_900={color_900},
	color_950={color_950}
	background_color={background_color},
	color_white={color_white},
	color_grid_dark={color_grid_dark},
	color_grid_light={color_grid_light},
>
	<main>
		<section class="about">
			<div class="about_info">
				<h1>{about_me_title}</h1>
				<h1>{title}</h1>
				<p>{about_me_description}</p>
				<p>{about_me_call_to_action}</p>
			</div>
			<img class="avatar" src={maximofn_photo_path} alt={title} />
		</section>

		<section class="projects">
			<h2>Proyectos</h2>
			<div>
				<ProjectCard
					title='Proyecto 1'
					description='Descripción del proyecto 1'
					image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
					project_link='www.google.com'
					code_link='www.google.com'
					color_50 ={color_50}
					color_100={color_100}
					color_200={color_200}
					color_300={color_300}
					color_400={color_400}
					color_500={color_500}
					color_600={color_600}
					color_700={color_700}
					color_800={color_800}
					color_900={color_900}
					color_950={color_950}
					color_white={color_white}
					background_color={background_color}
				/>
				<ProjectCard
					title='Proyecto 2'
					description='Descripción del proyecto 2'
					image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
					project_link='www.google.com'
					code_link='www.google.com'
					color_50 ={color_50}
					color_100={color_100}
					color_200={color_200}
					color_300={color_300}
					color_400={color_400}
					color_500={color_500}
					color_600={color_600}
					color_700={color_700}
					color_800={color_800}
					color_900={color_900}
					color_950={color_950}
					color_white={color_white}
					background_color={background_color}
				/>
				<ProjectCard
					title='Proyecto 3'
					description='Descripción del proyecto 3'
					image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
					project_link='www.google.com'
					code_link='www.google.com'
					color_50 ={color_50}
					color_100={color_100}
					color_200={color_200}
					color_300={color_300}
					color_400={color_400}
					color_500={color_500}
					color_600={color_600}
					color_700={color_700}
					color_800={color_800}
					color_900={color_900}
					color_950={color_950}
					color_white={color_white}
					background_color={background_color}
				/>
			</div>
			<a href="/projects">Ver todos los proyectos --></a>
		</section>

		<section class="posts">
			<h2>Posts</h2>
			<div>
				<PostCard
					title='Post 1'
					description='Descripción del post 1'
					image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
					post_link='www.google.com'
				/>
				<PostCard
					title='Post 2'
					description='Descripción del post 2'
					image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
					post_link='www.google.com'
				/>
				<PostCard
					title='Post 3'
					description='Descripción del post 3'
					image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
					post_link='www.google.com'
				/>
			</div>
			<a href="/posts">Ver todos los posts --></a>
		</section>
	</main>
</Layout>

<style define:vars={{color_white, max_width, sticky_top_default}}>
	@font-face {
		font-family: 'Cascadia Code';
		src: url('/fonts/ttf/CascadiaCodeItalic.ttf') format('ttf');
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 300px;
		margin-left: 50px;
		/* TODO ver si se puede poner el max width como variable */
		/* max-width: var(--max_width)px; */
		max-width: 1500px;
		height: auto;
		width: 100%;
	}

	.avatar {
		max-width: 291px;
		height: auto;
		width: 100%;
	}

	.about_info {
		margin-bottom: 10px;
		max-width: 700px;
	}

	.about {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-flow: wrap-reverse;
		justify-content: space-around;
		align-items: flex-start;
		gap: 10px;
		/* TODO ver si se puede poner el max width como variable */
		/* max-width: var(--max_width)px; */
		max-width: 1500px;
		width: 100%;
		margin-top: 200px;
	}

	a {
		color: var(--color_white);
	}

	.projects {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		/* TODO ver si se puede poner el max width como variable */
		/* max-width: var(--max_width)px; */
		max-width: 1500px;
		width: 100%;
		/* position: relative; */
	}

	.projects > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-around;
	}

	.posts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		/* TODO ver si se puede poner el max width como variable */
		/* max-width: var(--max_width)px; */
		max-width: 1500px;
		width: 100%;
		/* position: relative; */
	}

	.posts > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
	}

	.projects > h2 {
		position: sticky;
		/* TODO poner este valor como constante */
		/* top var(--sticky_top_default); */
		top: 70px;
	}
	.posts > h2 {
		position: sticky;
		top: 70px;
	}

	@media (max-width: 649px) {
		.projects > h2 {
			/* sticky_top_648px */
			top: 90px;
		}
		.posts > h2 {
			top: 90px;
		}
	}

	@media (max-width: 418px) {
		.projects > h2 {
			/* sticky_top_418px */
			top: 130px;
		}
		.posts > h2 {
			top: 130px;
		}
	}

	@media (max-width: 334px) {
		.projects > h2 {
			top: 150px;
		}
		.posts > h2 {
			top: 150px;
		}
	}

	@media (max-width: 315px) {
		.projects > h2 {
			top: 190px;
		}
		.posts > h2 {
			top: 190px;
		}
	}

	@media (max-width: 229px) {
		.projects > h2 {
			top: 220px;
		}
		.posts > h2 {
			top: 220px;
		}
	}
</style>
