---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import PostCard from '../components/PostCard.astro';

const { maximofn_photo_path } = await import('../../consts.json');
const { metadata_page } = await import('../../consts.json');
const { colors } = await import('../../consts.json');
const { social_links } = await import('../../consts.json');
const { sticky_top_positions } = await import('../../consts.json');

const about_me_title='Sobre mi';
const about_me_description='¡Hola! Soy MaximoFN, un apasionado de la Inteligencia Artificial y la programación. En esta página encontrarás contenido sobre IA, Python y mucho más en español. ¡Espero que te guste!';
const about_me_call_to_action='Entra y aprende todo lo que puedas';

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<Layout 
	title={metadata_page.title}
	languaje={metadata_page.languaje_es}
	description={metadata_page.description_es}
	keywords={metadata_page.keywords_es}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={social_links.portfolio_link_external}
	icon={metadata_page.icon}
>
	<section class="about">
		<div class="about_info">
			<h1>{about_me_title}</h1>
			<h1>{metadata_page.title}</h1>
			<p>{about_me_description}</p>
			<p>{about_me_call_to_action}</p>
		</div>
		<img class="avatar" src={maximofn_photo_path} alt={metadata_page.title} />
	</section>

	<section class="projects">
		<h2>Proyectos</h2>
		<div>
			<ProjectCard
				title='Alfred'
				description='Personal terminal assistant for all operating systems and languages'
				image_path='images/alfred.webp'
				project_link='/alfred'
				code_link='https://github.com/maximofn/alfred'
			/>
			<ProjectCard
				title='Proyecto 2'
				description='Descripción del proyecto 2'
				image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
				project_link='www.google.com'
				code_link='www.google.com'
			/>
			<ProjectCard
				title='Proyecto 3'
				description='Descripción del proyecto 3'
				image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
				project_link='www.google.com'
				code_link='www.google.com'
			/>
		</div>
		<a href="/projects">Ver todos los proyectos --></a>
	</section>

	<section class="posts">
		<h2>Posts</h2>
		<div>
			<PostCard
				title='Post 1'
				description='Descripción del post 1'
				image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
				post_link='www.google.com'
			/>
			<PostCard
				title='Post 2'
				description='Descripción del post 2'
				image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
				post_link='www.google.com'
			/>
			<PostCard
				title='Post 3'
				description='Descripción del post 3'
				image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
				post_link='www.google.com'
			/>
		</div>
		<a href="/posts">Ver todos los posts --></a>
	</section>
</Layout>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
	.avatar {
		max-width: 291px;
		height: auto;
		width: 100%;
	}

	.about_info {
		margin-bottom: 10px;
		max-width: 700px;
	}

	.about {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-flow: wrap-reverse;
		justify-content: space-around;
		align-items: flex-start;
		gap: 10px;
		width: 100%;
		margin-top: 200px;
	}

	.projects {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.projects > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-around;
	}

	.posts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.posts > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 50px;
	}

	.projects > h2, .posts > h2 {
		position: sticky;
		top: var(--sticky_top_default);
	}

	@media (max-width: 649px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_229px);
		}
	}
</style>
