---
import Layout from '@layouts/Layout.astro';
import ProjectCard from '@components/ProjectCard.astro';
import PostCard from '@components/PostCard.astro';

const { maximofn_photo_path } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { social_links } = await import('@portfolio/consts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const about_me_title='Hola, soy ';
const about_me_description1='Apasionado de la ';
const about_me_description2='Inteligencia Artificial ';
const about_me_description3='y la programación. En esta página encontrarás contenido sobre IA, Python y mucho más en ';
const about_me_description4='español';
const about_me_description5='. ¡Espero que te guste!';
const about_me_call_to_action='Entra y aprende todo lo que puedas';

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<Layout 
	title={metadata_page.title}
	languaje={metadata_page.languaje_es}
	description={metadata_page.description_es}
	keywords={metadata_page.keywords_es}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={social_links.portfolio_link_external}
	icon={metadata_page.icon}
>
	<section class="hero">
		<div class="hero_info">
			<h1>{about_me_title}<span>{metadata_page.title}</span></h1>
			<p>{about_me_description1}<span>{about_me_description2}</span>{about_me_description3}<span>{about_me_description4}</span>{about_me_description5}</p>
			<p>{about_me_call_to_action}</p>
		</div>
		<img class="avatar" src={maximofn_photo_path} alt={metadata_page.title} />
	</section>

	<section class="projects">
		<h2>Proyectos</h2>
		<div>
			<ProjectCard
				title='Subtify'
				description='Generador de subtítulos para videos en el idioma que desees. Además a cada persona le pone su subtítulo de un color'
				image_path='images/subtify_logo-scaled.webp'
				image_hover_path='images/subtify_result.webp'
				project_link='/subtify'
				code_link='https://github.com/maximofn/subtify'
			/>
			<ProjectCard
				title='GPU monitor'
				description='Monitor de la GPU para la barra de superior de Ubuntu'
				image_path='images/GPU_monitor_logo.webp'
				image_hover_path='images/tarjeta-de-video.webp'
				project_link='/gpu-monitor'
				code_link='https://github.com/maximofn/gpu_monitor'
			/>
			<ProjectCard
				title='Alfred'
				description='Personal terminal assistant for all operating systems and languages'
				image_path='images/alfred.webp'
				image_hover_path='images/alfredBuclex4.gif'
				project_link='/alfred'
				code_link='https://github.com/maximofn/alfred'
			/>
		</div>
		<a href="/projects">Ver todos los proyectos --></a>
	</section>

	<section class="posts">
		<h2>Posts</h2>
		<div>
			<PostCard
				title='Post 1'
				description='Descripción del post 1'
				image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
				post_link='www.google.com'
			/>
			<PostCard
				title='Post 2'
				description='Descripción del post 2'
				image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
				post_link='www.google.com'
			/>
			<PostCard
				title='Post 3'
				description='Descripción del post 3'
				image_path='https://avatars.githubusercontent.com/u/53622795?v=4'
				post_link='www.google.com'
			/>
		</div>
		<a href="/posts">Ver todos los posts --></a>
	</section>
</Layout>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
	.avatar {
		max-width: 291px;
		height: auto;
		width: 100%;
	}

	.hero_info {
		margin-bottom: 10px;
		max-width: 700px;
	}

	.hero_info p {
		font-size: x-large;
	}

	.hero_info p span {
		font-weight: bold;
		font-size: xx-large;
		font-style: oblique;
		color: rgba(232, 230, 227, 0);
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(270deg, rgb(148, 127, 142), rgb(139, 103, 223));
		background-clip: text;
	}

	.hero_info h1 span {
		color: rgba(232, 230, 227, 0);
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(90deg, rgb(124, 7, 91), rgb(45, 6, 137));
		background-clip: text;
	}

	.hero {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-flow: wrap-reverse;
		justify-content: space-around;
		align-items: flex-start;
		gap: 10px;
		width: 100%;
		margin-top: 200px;
	}

	.projects {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.projects > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-around;
	}

	.posts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.posts > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 50px;
	}

	.projects > h2, .posts > h2 {
		position: sticky;
		top: var(--sticky_top_default);
	}

	@media (max-width: 649px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_229px);
		}
	}
</style>
