---
import Layout from "@layouts/Layout.astro";

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

const page_title = "Ping";
const description = "Página para probar que la página está en línea";
const keywords = "ping";
const url = metadata_page.url + "/ping";
---

<Layout
    title={page_title}
    languaje={metadata_page.languaje_en}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    url={url}
    icon={metadata_page.icon}
    robots="noindex, nofollow"
>
    <p>pong</p>
</Layout>