---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Crear entornos virtuales con uv';
const end_url = 'uv';
const description = 'Aprende a crear entornos virtuales con uv, un gestor de paquetes y entornos para Python escrito en Rust, lo que hace que vaya rapidísimo. Si has tenido problemas con los tiempos de espera usando conda, o quieres una alternativa más rápida y fácil a venv, entra y mira cómo usar uv.';
const keywords = 'uv, python, entorno, virtual, paquete, gestor';
const languaje = 'ES';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/uv_thumbnail.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=800
    image_height=419
    image_extension=webp
    article_date=2025-03-10+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Descarga-de-repositorio"><h2>Descarga de repositorio</h2></a>
      <a class="anchor-link" href="#Instalar-uv"><h2>Instalar <code>uv</code></h2></a>
      <a class="anchor-link" href="#Crear-entorno"><h2>Crear entorno</h2></a>
      <a class="anchor-link" href="#A%C3%B1adir-paquetes"><h2>Añadir paquetes</h2></a>
      <a class="anchor-link" href="#Ejecutar-un-script"><h2>Ejecutar un script</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Gesti%C3%B3n-de-entornos-con-uv">Gestión de entornos con uv<a class="anchor-link" href="#Gesti%C3%B3n-de-entornos-con-uv"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 0" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Hasta ahora he estado controlando mis entornos con conda. Pero desde hace tiempo llevo leyendo mucho sobre <code>poetry</code>, pero sobre todo sobre <code>uv</code>. ¿Qué ventajas tiene <code>uv</code>? La velocidad. <code>uv</code> está implementado en Rust, por lo que gestiona los entornos e instala paquetes de una manera rapidísima.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>En la siguiente tabla se muestra la diferencia de velocidad entre diferentes gestores de paquetes. Fuente: <a href="https://github.com/rasbt/LLMs-from-scratch/blob/main/setup/01_optional-python-setup-preferences/native-uv.md#native-uv-python-and-package-management" target="_blank" rel="nofollow noreferrer">LLMs-from-scratch/setup/01_optional-python-setup-preferences/native-uv.md</a></p>
      <table>
      <thead>
      <tr>
      <th>Comando</th>
      <th>Velocidad</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td><code>conda install &lt;pkg&gt;</code></td>
      <td>lento</td>
      </tr>
      <tr>
      <td><code>pip install &lt;pkg&gt;</code></td>
      <td>entre 2 y 10 veces más rápido que el anterior</td>
      </tr>
      <tr>
      <td><code>uv pip install &lt;pkg&gt;</code></td>
      <td>entre 5 y 10 veces más rápido que el anterior</td>
      </tr>
      <tr>
      <td><code>uv add &lt;pkg&gt;</code></td>
      <td>entre 2 y 5 veces más rápido que el anterior</td>
      </tr>
      </tbody>
      </table>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Viendo la tabla, merece bastante la pensa usar <code>uv</code>. Así que vamos a ver cómo crear un entorno e instalar paquetes con <code>uv</code>.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Descarga-de-repositorio">Descarga de repositorio<a class="anchor-link" href="#Descarga-de-repositorio"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 1" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Como he dicho, estoy usando <a href="https://github.com/rasbt/LLMs-from-scratch/blob/main/setup/01_optional-python-setup-preferences/native-uv.md" target="_blank" rel="nofollow noreferrer">LLMs-from-scratch/setup/01_optional-python-setup-preferences
      /native-uv.md</a> como fuente, así que vamos a descargarnos el repositorio, instalar el entorno que propone y ver cómo ejecutar un script</p>
      <p>Usamos <code>--depth 1</code> para descargar solo el último commit del repositorio y que se clone más rápidamente, no nos interesa el historial.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">git</span> <span class="n">clone</span> <span class="n">https</span><span class="p">:</span><span class="o">//</span><span class="n">github</span><span class="o">.</span><span class="n">com</span><span class="o">/</span><span class="n">rasbt</span><span class="o">/</span><span class="n">LLMs</span><span class="o">-</span><span class="n">from</span><span class="o">-</span><span class="n">scratch</span><span class="o">.</span><span class="n">git</span> <span class="o">--</span><span class="n">depth</span> <span class="mi">1</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Cloning into \'LLMs-from-scratch\'...',
          'remote: Enumerating objects: 260, done.',
          'remote: Counting objects: 100% (260/260), done.',
          'remote: Compressing objects: 100% (226/226), done.',
          'remote: Total 260 (delta 61), reused 121 (delta 22), pack-reused 0 (from 0)',
          'Receiving objects: 100% (260/260), 1.64 MiB | 6.94 MiB/s, done.',
          'Resolving deltas: 100% (61/61), done.',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Ahora nos vamos al repositorio que hemos descargado</p>
      </section>
      
      <CodeBlockInputCell
        text={[
      '<span></span><span class="n">cd</span> <span class="n">LLMs</span><span class="o">-</span><span class="n">from</span><span class="o">-</span><span class="n">scratch</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>






      
      <section class="section-block-markdown-cell">
      <h2 id="Instalar-uv">Instalar <code>uv</code><a class="anchor-link" href="#Instalar-uv"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 2" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Si estamos en macOS o Linux, podemos instalar mediante el comando</p>
      <div class="highlight"><pre><span></span>curl<span class="w"> </span>-LsSf<span class="w"> </span>https://astral.sh/uv/install.sh<span class="w"> </span><span class="p">|</span><span class="w"> </span>sh
      </pre></div>
      <p>Si estamos en Windows</p>
      <div class="highlight"><pre><span></span>curl<span class="w"> </span>-LsSf<span class="w"> </span>https://astral.sh/uv/install.sh<span class="w"> </span><span class="p">|</span><span class="w"> </span>sh
      </pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Crear-entorno">Crear entorno<a class="anchor-link" href="#Crear-entorno"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 3" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Si hacemos un <code>ls</code> podemos ver que hay un archivo llamado <code>pyproject.toml</code>, ese va a ser el archivo que <code>uv</code> usará para crear el entorno.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">ls</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '2025-03-10-uv.ipynb <span class="ansi-cyan-intense-fg ansi-bold">appendix-D</span>          <span class="ansi-cyan-intense-fg ansi-bold">ch04</span>                pyproject.toml',
          'CITATION.cff        <span class="ansi-cyan-intense-fg ansi-bold">appendix-E</span>          <span class="ansi-cyan-intense-fg ansi-bold">ch05</span>                requirements.txt',
          'LICENSE.txt         <span class="ansi-cyan-intense-fg ansi-bold">ch01</span>                <span class="ansi-cyan-intense-fg ansi-bold">ch06</span>                <span class="ansi-cyan-intense-fg ansi-bold">setup</span>',
          'README.md           <span class="ansi-cyan-intense-fg ansi-bold">ch02</span>                <span class="ansi-cyan-intense-fg ansi-bold">ch07</span>',
          '<span class="ansi-cyan-intense-fg ansi-bold">appendix-A</span>          <span class="ansi-cyan-intense-fg ansi-bold">ch03</span>                pixi.toml',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Así que vamos a ver qué tiene el archivo</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">cat</span> <span class="n">pyproject</span><span class="o">.</span><span class="n">toml</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '[project]',
          'name = "llms-from-scratch"',
          'version = "0.1.0"',
          'description = "Implement a ChatGPT-like LLM in PyTorch from scratch, step by step"',
          'readme = "README.md"',
          'requires-python = "&gt;=3.10"',
          'dependencies = [',
          '    "torch&gt;=2.3.0",',
          '    "jupyterlab&gt;=4.0",',
          '    "tiktoken&gt;=0.5.1",',
          '    "matplotlib&gt;=3.7.1",',
          '    "tensorflow&gt;=2.18.0",',
          '    "tqdm&gt;=4.66.1",',
          '    "numpy&gt;=1.26,&lt;2.1",',
          '    "pandas&gt;=2.2.1",',
          '    "pip&gt;=25.0.1",',
          ']',
          '[tool.setuptools.packages]',
          'find = {}',
          '[tool.uv.sources]',
          'llms-from-scratch = { workspace = true }',
          '[dependency-groups]',
          'dev = [',
          '    "llms-from-scratch",',
          ']',
          '[tool.ruff]',
          'line-length = 140',
          '[tool.ruff.lint]',
          'exclude = [".venv"]',
          '# Ignored rules (W504 removed)',
          'ignore = [',
          '    "C406", "E226", "E402", "E702", "E703",',
          '    "E722", "E731", "E741"',
          ']',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Como se puede ver, hay datos como el nombre, versión, etc, y las dependencias, que son los paquetes que vamos a instalar.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Para crear el entorno usamos el comando <code>uv sync</code>, además añadimos el flag <code>--dev</code> para instalar también las dependencias de desarrollo y el flag <code>--python</code> para especificar la versión de Python que queremos usar.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">uv</span> <span class="n">sync</span> <span class="o">--</span><span class="n">dev</span> <span class="o">--</span><span class="n">python</span> <span class="mf">3.11</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Using CPython <span class="ansi-cyan-fg">3.11.11</span>',
          'Creating virtual environment at: <span class="ansi-cyan-fg">.venv</span>',
          'Resolved <span class="ansi-bold">160 packages</span> in 175ms                                       ',
          'Installed <span class="ansi-bold">139 packages</span> in 1.46s                             ',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">absl-py</span>==2.1.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">anyio</span>==4.8.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">appnope</span>==0.1.4',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">argon2-cffi</span>==23.1.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">argon2-cffi-bindings</span>==21.2.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">arrow</span>==1.3.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">asttokens</span>==3.0.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">astunparse</span>==1.6.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">async-lru</span>==2.0.4',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">attrs</span>==25.1.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">babel</span>==2.17.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">beautifulsoup4</span>==4.13.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">bleach</span>==6.2.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">certifi</span>==2025.1.31',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">cffi</span>==1.17.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">charset-normalizer</span>==3.4.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">comm</span>==0.2.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">contourpy</span>==1.3.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">cycler</span>==0.12.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">debugpy</span>==1.8.13',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">decorator</span>==5.2.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">defusedxml</span>==0.7.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">executing</span>==2.2.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">fastjsonschema</span>==2.21.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">filelock</span>==3.17.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">flatbuffers</span>==25.2.10',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">fonttools</span>==4.56.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">fqdn</span>==1.5.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">fsspec</span>==2025.3.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">gast</span>==0.6.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">google-pasta</span>==0.2.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">grpcio</span>==1.70.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">h11</span>==0.14.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">h5py</span>==3.13.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">httpcore</span>==1.0.7',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">httpx</span>==0.28.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">idna</span>==3.10',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">ipykernel</span>==6.29.5',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">ipython</span>==9.0.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">ipython-pygments-lexers</span>==1.1.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">isoduration</span>==20.11.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jedi</span>==0.19.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jinja2</span>==3.1.6',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">json5</span>==0.10.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jsonpointer</span>==3.0.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jsonschema</span>==4.23.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jsonschema-specifications</span>==2024.10.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jupyter-client</span>==8.6.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jupyter-core</span>==5.7.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jupyter-events</span>==0.12.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jupyter-lsp</span>==2.2.5',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jupyter-server</span>==2.15.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jupyter-server-terminals</span>==0.5.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jupyterlab</span>==4.3.5',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jupyterlab-pygments</span>==0.3.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">jupyterlab-server</span>==2.27.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">keras</span>==3.9.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">kiwisolver</span>==1.4.8',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">libclang</span>==18.1.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">markdown</span>==3.7',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">markdown-it-py</span>==3.0.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">markupsafe</span>==3.0.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">matplotlib</span>==3.10.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">matplotlib-inline</span>==0.1.7',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">mdurl</span>==0.1.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">mistune</span>==3.1.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">ml-dtypes</span>==0.4.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">mpmath</span>==1.3.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">namex</span>==0.0.8',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">nbclient</span>==0.10.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">nbconvert</span>==7.16.6',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">nbformat</span>==5.10.4',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">nest-asyncio</span>==1.6.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">networkx</span>==3.4.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">notebook-shim</span>==0.2.4',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">numpy</span>==2.0.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">opt-einsum</span>==3.4.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">optree</span>==0.14.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">overrides</span>==7.7.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">packaging</span>==24.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pandas</span>==2.2.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pandocfilters</span>==1.5.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">parso</span>==0.8.4',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pexpect</span>==4.9.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pillow</span>==11.1.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pip</span>==25.0.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">platformdirs</span>==4.3.6',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">prometheus-client</span>==0.21.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">prompt-toolkit</span>==3.0.50',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">protobuf</span>==5.29.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">psutil</span>==7.0.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">ptyprocess</span>==0.7.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pure-eval</span>==0.2.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pycparser</span>==2.22',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pygments</span>==2.19.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pyparsing</span>==3.2.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">python-dateutil</span>==2.9.0.post0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">python-json-logger</span>==3.3.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pytz</span>==2025.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pyyaml</span>==6.0.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">pyzmq</span>==26.2.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">referencing</span>==0.36.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">regex</span>==2024.11.6',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">requests</span>==2.32.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">rfc3339-validator</span>==0.1.4',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">rfc3986-validator</span>==0.1.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">rich</span>==13.9.4',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">rpds-py</span>==0.23.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">send2trash</span>==1.8.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">setuptools</span>==76.0.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">six</span>==1.17.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">sniffio</span>==1.3.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">soupsieve</span>==2.6',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">stack-data</span>==0.6.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">sympy</span>==1.13.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">tensorboard</span>==2.18.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">tensorboard-data-server</span>==0.7.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">tensorflow</span>==2.18.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">tensorflow-io-gcs-filesystem</span>==0.37.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">termcolor</span>==2.5.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">terminado</span>==0.18.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">tiktoken</span>==0.9.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">tinycss2</span>==1.4.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">torch</span>==2.6.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">tornado</span>==6.4.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">tqdm</span>==4.67.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">traitlets</span>==5.14.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">types-python-dateutil</span>==2.9.0.20241206',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">typing-extensions</span>==4.12.2',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">tzdata</span>==2025.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">uri-template</span>==1.3.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">urllib3</span>==2.3.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">wcwidth</span>==0.2.13',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">webcolors</span>==24.11.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">webencodings</span>==0.5.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">websocket-client</span>==1.8.0',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">werkzeug</span>==3.1.3',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">wheel</span>==0.45.1',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">wrapt</span>==1.17.2',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Nos ha creado el entorno y ha instalado los paquetes de una manera rápidísima</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Además, si volvemos a hacer <code>ls</code> ahora veremos una nueva carpeta llamada <code>.venv</code>, esa es la carpeta del entorno virtual.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">ls</span> <span class="o">-</span><span class="n">a</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '<span class="ansi-cyan-intense-fg ansi-bold">.</span>                   CITATION.cff        <span class="ansi-cyan-intense-fg ansi-bold">ch02</span>                pyproject.toml',
          '<span class="ansi-cyan-intense-fg ansi-bold">..</span>                  LICENSE.txt         <span class="ansi-cyan-intense-fg ansi-bold">ch03</span>                requirements.txt',
          '<span class="ansi-cyan-intense-fg ansi-bold">.git</span>                README.md           <span class="ansi-cyan-intense-fg ansi-bold">ch04</span>                <span class="ansi-cyan-intense-fg ansi-bold">setup</span>',
          '<span class="ansi-cyan-intense-fg ansi-bold">.github</span>             <span class="ansi-cyan-intense-fg ansi-bold">appendix-A</span>          <span class="ansi-cyan-intense-fg ansi-bold">ch05</span>                uv.lock',
          '.gitignore          <span class="ansi-cyan-intense-fg ansi-bold">appendix-D</span>          <span class="ansi-cyan-intense-fg ansi-bold">ch06</span>',
          '<span class="ansi-cyan-intense-fg ansi-bold">.venv</span>               <span class="ansi-cyan-intense-fg ansi-bold">appendix-E</span>          <span class="ansi-cyan-intense-fg ansi-bold">ch07</span>',
          '2025-03-10-uv.ipynb <span class="ansi-cyan-intense-fg ansi-bold">ch01</span>                pixi.toml',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <h2 id="A%C3%B1adir-paquetes">Añadir paquetes<a class="anchor-link" href="#A%C3%B1adir-paquetes"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 4" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Si queremos añadir paquetes a nuestro entorno que no están en el archivo <code>pyproject.toml</code>, podemos hacerlo con el comando <code>uv add &lt;pkg&gt;</code>.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Por ejemplo, si hacemos <code>cat pyproject.toml | grep dotenv</code> veremos que no está instalado el paquete <code>python-dotenv</code>.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
      '<span></span><span class="n">cat</span> <span class="n">pyproject</span><span class="o">.</span><span class="n">toml</span> <span class="o">|</span> <span class="n">grep</span> <span class="n">dotenv</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>






      
      <section class="section-block-markdown-cell">
      <p>De modo que añadimos el paquete</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">uv</span> <span class="n">add</span> <span class="n">dotenv</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Resolved <span class="ansi-bold">162 packages</span> in 92ms                                        ',
          'Installed <span class="ansi-bold">2 packages</span> in 5ms                                      ░░░░░░░░░░░░░░░░░░░░ [0/0] Installing wheels...                                 ',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">dotenv</span>==0.9.9',
          ' <span class="ansi-green-fg">+</span> <span class="ansi-bold">python-dotenv</span>==1.0.1',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Si ahora volvemos a hacer <code>cat pyproject.toml | grep dotenv</code> veremos que se ha añadido al archivo.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">cat</span> <span class="n">pyproject</span><span class="o">.</span><span class="n">toml</span> <span class="o">|</span> <span class="n">grep</span> <span class="n">dotenv</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '    "dotenv&gt;=0.9.9",',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Esto es muy bueno, porque ahora con este nuevo archivo <code>pyproject.toml</code> podemos recrear el entorno con el comando <code>uv sync</code> en cualquier otro ordenador.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Ejecutar-un-script">Ejecutar un script<a class="anchor-link" href="#Ejecutar-un-script"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 5" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Ahora que ya tenemos un entorno podemos ejecutar un script de dos maneras, la primera con <code>uv run python &lt;script&gt;.py</code>, que activará el entorno de <code>.venv</code> y ejecutará el script.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">uv</span> <span class="n">run</span> <span class="n">python</span> <span class="n">setup</span><span class="o">/</span><span class="mi">02</span><span class="n">_installing</span><span class="o">-</span><span class="n">python</span><span class="o">-</span><span class="n">libraries</span><span class="o">/</span><span class="n">python_environment_check</span><span class="o">.</span><span class="n">py</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '[OK] Your Python version is 3.11.11',
          '[OK] torch 2.6.0',
          '[OK] jupyterlab 4.3.5',
          '[OK] tiktoken 0.9.0',
          '[OK] matplotlib 3.10.1',
          '[OK] tensorflow 2.18.0',
          '[OK] tqdm 4.67.1',
          '[OK] numpy 2.0.2',
          '[OK] pandas 2.2.3',
          '[OK] psutil 7.0.0',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Sin embargo, si lo que queremos es ejecutar el script directamente con <code>python &lt;script&gt;.py</code> necesitamos activar el entorno primero a mano</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">source</span> <span class="o">.</span><span class="n">venv</span><span class="o">/</span><span class="nb">bin</span><span class="o">/</span><span class="n">activate</span> <span class="o">&amp;&amp;</span> <span class="n">python</span> <span class="n">setup</span><span class="o">/</span><span class="mi">02</span><span class="n">_installing</span><span class="o">-</span><span class="n">python</span><span class="o">-</span><span class="n">libraries</span><span class="o">/</span><span class="n">python_environment_check</span><span class="o">.</span><span class="n">py</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '[OK] Your Python version is 3.11.11',
          '[OK] torch 2.6.0',
          '[OK] jupyterlab 4.3.5',
          '[OK] tiktoken 0.9.0',
          '[OK] matplotlib 3.10.1',
          '[OK] tensorflow 2.18.0',
          '[OK] tqdm 4.67.1',
          '[OK] numpy 2.0.2',
          '[OK] pandas 2.2.3',
          '[OK] psutil 7.0.0',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      






    </div>

  </section>

</PostLayout>
