---
import Layout from '@layouts/Layout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { color_palette } = await import('@portfolio/consts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - Alfred";
const url = social_links.portfolio_link_external + "/alfred"
const description = "Assistente pessoal para o terminal, para todos os sistemas operacionais e idiomas";
const keywords = "Personal, terminal, assistente";

const images_width = 1920*2/3;
const images_height =1080*2/3;
const buyMeACoffee_width = 305;
const buyMeACoffee_height = 28;

const url_deb = "https://github.com/maximofn/alfred/blob/v1.3/alfredv1_3.deb";

const inline_code_background_color = color_palette.color_950;

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
const sticky_top_h3_increment = "50px"
---

<Layout 
	title={page_title}
	languaje={metadata_page.languaje_pt}
	description={description}
	keywords={keywords}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={url}
	icon={metadata_page.icon}
>
	<h1>Alfred</h1>
	<h4>Assistente pessoal para o terminal, para todos os sistemas operacionais e idiomas</h4>
	<figure class="video-container">
		<video 
			preload="auto"
			autoplay
			muted
			loop
			width={images_width}
			height={images_height}
		>
			<source src="videos/Alfred-bucle.webm" type="video/webm"/>
			<source src="videos/Alfred-bucle.mp4" type="video/mp4"/>
		</video>
	</figure>

	<section>
		<h2>Instalação</h2>
		<p>Requerimentos do sistema para a instalação</p>
		<CodeBlockInputCell text={["sudo apt update", "sudo apt install -y python3 python3-pip git"]} languaje='bash'></CodeBlockInputCell>

		<section>
			<h3>Instalar pelo instalador</h3>
			<p>Daqui, se você tiver um sistema baseado em debian, você pode usar o instalador <a href={url_deb} target="_blank">alfred.deb</a></p>
		</section>

		<section>
				<h3>Instalar do código fonte</h3>
				<p>Instalar requerimentos python</p>
				<CodeBlockInputCell text={["pip install halo", "pip install --upgrade openai"]} languaje='bash'></CodeBlockInputCell>
				<p>Criar pasta de código</p>
				<CodeBlockInputCell 
					text={[
						"sudo rm -r /usr/src/alfred",
						"cd /usr/src",
						"git clone -b branch_v1.3 https://github.com/maximofn/alfred.git",
						"cd /usr/src/alfred",
						"sudo find . -depth -not -name '*.py' -delete",
					]} 
					languaje='bash'
				></CodeBlockInputCell>
				<p>Criar um link simbólico para <span class="inline-code">/usr/bin/alfred</span></p>
				<CodeBlockInputCell text={["echo 'alias alfred=\"/usr/src/alfred/alfred.py\"' >> ~/.bashrc"]} languaje='bash'></CodeBlockInputCell>
				<p>Reinicie o bash</p>
				<CodeBlockInputCell text={["source ~/.bashrc"]} languaje='bash'></CodeBlockInputCell>
			</section>
	</section>

	<section>
		<h2>API KEY de OpenAI</h2>
		<p>Logue-se no <a href="https://platform.openai.com/overview" target="_blank">OpenAI</a> e obtenha sua chave de API OpenAI</p>
		<figure>
			<img 
				src="/images/openaix2.gif" 
				alt="open ai api key"
				width={images_width}
				height={images_height}
			></img>
		</figure>
	</section>

	<section>
		<h2>Uso</h2>
		<p>Você pode perguntar a Alfred perguntas específicas digitando <span class="inline-code">alfred</span> seguido de sua pergunta</p>
		<figure class="video-container">
			<video 
				preload="auto"
				autoplay
				muted
				loop
				width={images_width}
				height={images_height}
				<source src="videos/Alfred-command.webm" type="video/webm"/>
				<source src="videos/Alfred-command.mp4" type="video/mp4"/>
			></video>
		</figure>
		<p>Ou escreva <span class="inline-code">alfred</span>, intro e continue fazendo perguntas a ele. Para terminar, digite <span class="inline-code">exit</span></p>
		<figure class="video-container">
			<video 
				preload="auto"
				autoplay
				muted
				loop
				width={images_width}
				height={images_height}
				<source src="videos/Alfred-bucle.webm" type="video/webm"/>
				<source src="videos/Alfred-bucle.mp4" type="video/mp4"/>
			></video>
		</figure>
	</section>

	<section>
		<h2>Apóie</h2>
		<p>Se você gostou, considere dar ao repositório uma estrela ⭐, mas se você realmente gostou, considere me comprar um café ☕.</p>
		<a href="https://www.buymeacoffee.com/maximofn" target="_blank">
			<figure>
				<img 
					src="https://img.shields.io/badge/Compre_me_um_café-Apóie_meu_trabalho-FFDD00?style=for-the-badge&logo=buy-me-a-coffee&logoColor=white&labelColor=101010" 
					alt="BuyMeACoffee"
					width={buyMeACoffee_width}
					height={buyMeACoffee_height}
				></img>
			</figure>		
		</a>
	</section>

</Layout>

<style define:vars={{
	inline_code_background_color,
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
	sticky_top_h3_increment,
}}>
	.inline-code {
		background-color: var(--inline_code_background_color);
		border-radius: 7px;
		padding: 0.2em 0.4em;
		font-style: oblique;
		font-family: 'Courier New', Courier, monospace;
	}

	section {
		position: relative;
	}

	h1 {
		margin-bottom: 0px;
	}

	h4 {
		padding-left: 0px;
	}
</style>
