---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Conventional commits';
const end_url = 'conventional-commits';
const description = '😠 Seus commits parecem escritos em uma língua alienígena? 👽 Junte-se ao clube! 😅 Aprenda Conventional Commits em Python e pare de tortura sua equipe com mensagens enigmáticas. git-changelog e commitizen serão seus novos melhores amigos. 🤝';
const keywords = 'conventional commits, commitizen, git-changelog, changelog, git, gitmoji, vscode, plugin, conventional commit';
const languaje = 'PT';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/conventional-commits.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=686
    image_height=386
    image_extension=webp
    article_date=2024-10-16+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#O-que-s%C3%A3o-os-conventional-commits?"><h2>O que são os conventional commits?</h2></a>
      <a class="anchor-link" href="#Formato-das-Mensagens-de-Commit"><h3>Formato das Mensagens de Commit</h3></a>
      <a class="anchor-link" href="#Tipo-type"><h4>Tipo <code>type</code></h4></a>
      <a class="anchor-link" href="#Escopo-scope"><h4>Escopo <code>scope</code></h4></a>
      <a class="anchor-link" href="#Descri%C3%A7%C3%A3o-description"><h4>Descrição <code>description</code></h4></a>
      <a class="anchor-link" href="#Corpo-body"><h4>Corpo <code>body</code></h4></a>
      <a class="anchor-link" href="#Rodap%C3%A9-footer"><h4>Rodapé <code>footer</code></h4></a>
      <a class="anchor-link" href="#Benef%C3%ADcios-dos-Conventional-Commits"><h3>Benefícios dos Conventional Commits</h3></a>
      <a class="anchor-link" href="#Exemplos-pr%C3%A1ticos"><h3>Exemplos práticos</h3></a>
      <a class="anchor-link" href="#Ferramentas-para-construir-mensagens-que-atendam-aos-conventional-commits"><h2>Ferramentas para construir mensagens que atendam aos conventional commits</h2></a>
      <a class="anchor-link" href="#Commitizen"><h3>Commitizen</h3></a>
      <a class="anchor-link" href="#Plugin-Conventional-Commit-de-vscode"><h3>Plugin Conventional Commit de vscode</h3></a>
      <a class="anchor-link" href="#Ferramentas-para-verificar-a-conformidade-com-a-conven%C3%A7%C3%A3o-de-conventional-commits"><h2>Ferramentas para verificar a conformidade com a convenção de conventional commits</h2></a>
      <a class="anchor-link" href="#Ferramentas-para-criar-changelogs-a-partir-de-conventional-commits"><h2>Ferramentas para criar changelogs a partir de conventional commits</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Commits-convencionais">Commits convencionais<a class="anchor-link" href="#Commits-convencionais"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 30" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Aviso: Este post foi traduzido para o português usando um modelo de tradução automática. Por favor, me avise se encontrar algum erro.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Este post foi criado a partir do <a href="https://www.youtube.com/watch?v=SigVVJmUGv8" target="_blank" rel="nofollow noreferrer">vídeo</a> de <a href="https://x.com/carlosazaustre">Carlos Azaustre</a>, só que como ele explica como fazer tudo com ferramentas de JavaScript, há muita gente desenvolvedora de Python que não tem instalado Node.js, portanto fiz uma versão do mesmo mas tudo com ferramentas de Python.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="O-que-s%C3%A3o-os-conventional-commits?">O que são os conventional commits?<a class="anchor-link" href="#O-que-s%C3%A3o-os-conventional-commits?"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 31" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>a integração com ferramentas de gestão de mudanças e releases.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h3 id="Formato-das-Mensagens-de-Commit">Formato das Mensagens de Commit<a class="anchor-link" href="#Formato-das-Mensagens-de-Commit"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 32" src={svg_paths.link_svg_path}/></a></h3>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Uma mensagem de commit em Conventional Commits segue um formato específico:</p>
      <pre><code class="language-git&lt;tipo&gt;[escopo">git&lt;tipo&gt;[escopo
      [corpo opcional]
      [rodapé(s) opcional(is)]</code></pre>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Vamos vê-lo mais detalhadamente</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h4 id="Tipo-type">Tipo <code>type</code><a class="anchor-link" href="#Tipo-type"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 33" src={svg_paths.link_svg_path}/></a></h4>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>O tipo de commit indica a natureza da mudança. Alguns tipos comuns são:</p>
      <ul>
      <li><strong>fix</strong>: É usado para correção de bugs.* <strong>feat</strong>: É usado para novas funcionalidades. * <strong>docs</strong>: É usado para mudanças na documentação.* <strong>style</strong>: Utiliza-se para alterações que não afetam o significado do código (por exemplo, formatação, remoção de espaços em branco). * <strong>refactor</strong>: É usado para mudanças de código que nem melhoram nem pioram a funcionalidade, como reorganizar o código. * <strong>perf</strong>: Usado para mudanças que melhoram o desempenho.* <strong>test</strong>: Utiliza-se para adicionar ou atualizar testes. * <strong>chore</strong>: Utiliza-se para mudanças no processo ou nas ferramentas de desenvolvimento.* <strong>ci</strong>: É usado para alterações nos arquivos de configuração de integração contínua. * <strong>build</strong>: Usado para alterações que afetam o sistema de construção ou dependências externas. * <strong>revert</strong>: Utiliza-se para reverter um commit anterior.</li>
      </ul>
      </section>
      
      <section class="section-block-markdown-cell">
      <h4 id="Escopo-scope">Escopo <code>scope</code><a class="anchor-link" href="#Escopo-scope"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 34" src={svg_paths.link_svg_path}/></a></h4>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>O escopo é opcional e é utilizado para especificar a parte do projeto que foi modificada. Por exemplo, se você está trabalhando em um componente específico de um aplicativo web, o escopo pode ser o nome do componente.
      Exemplo:</p>
      <pre><code class="language-git">git
      fix(auth): corrigir problema de autenticação</code></pre>
      </section>
      
      <section class="section-block-markdown-cell">
      <h4 id="Descri%C3%A7%C3%A3o-description">Descrição <code>description</code><a class="anchor-link" href="#Descri%C3%A7%C3%A3o-description"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 35" src={svg_paths.link_svg_path}/></a></h4>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>A descrição é uma breve explicação da mudança. Deve ser concisa e clara, e fornecer contexto suficiente para entender o propósito do commit.
      Exemplo:</p>
      <pre><code class="language-gitfix(auth):">gitfix(auth):
      </code></pre>
      </section>
      
      <section class="section-block-markdown-cell">
      <h4 id="Corpo-body">Corpo <code>body</code><a class="anchor-link" href="#Corpo-body"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 36" src={svg_paths.link_svg_path}/></a></h4>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>O corpo é opcional e é utilizado para fornecer mais detalhes sobre a mudança. Aqui você pode incluir motivações para a mudança e contrastes com a implementação anterior.
      Exemplo:</p>
      <pre><code class="language-git">git
      fix(auth): corrigir erro de autenticação na página de login
      O token de acesso estava expirando mais cedo do que o esperado devido a um erro no cálculo da data de expiração. Isso foi corrigido ajustando a lógica de cálculo.</code></pre>
      </section>
      
      <section class="section-block-markdown-cell">
      <h4 id="Rodap%C3%A9-footer">Rodapé <code>footer</code><a class="anchor-link" href="#Rodap%C3%A9-footer"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 37" src={svg_paths.link_svg_path}/></a></h4>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>O rodapé é opcional e é utilizado para referências adicionais, como números de issues fechados ou commits relacionados.
      Exemplo:</p>
      <pre><code class="language-gitfix(auth):">gitfix(auth):
      O token de acesso estava expirando antes do esperado devido a um erro no cálculo da data de expiração. Ele foi corrigido ajustando a lógica de cálculo.
      Fecha #123</code></pre>
      </section>
      
      <section class="section-block-markdown-cell">
      <h3 id="Benef%C3%ADcios-dos-Conventional-Commits">Benefícios dos Conventional Commits<a class="anchor-link" href="#Benef%C3%ADcios-dos-Conventional-Commits"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 38" src={svg_paths.link_svg_path}/></a></h3>
      </section>
      
      <section class="section-block-markdown-cell">
      <ul>
      <li><strong>Clareza e Consistência</strong>: As mensagens de commit padronizadas são mais fáceis de entender e seguir, o que melhora a colaboração em equipes de desenvolvimento. * <strong>Geração Automática de Notas de Versão</strong>: Podem ser usadas ferramentas para gerar notas de versão automaticamente com base nas mensagens de commit.* <strong>Integração com Ferramentas de Gerenciamento de Mudanças</strong>: Muitas ferramentas de desenvolvimento e gerenciamento de projetos podem se integrar com Conventional Commits para automatizar tarefas como a geração de changelogs e o gerenciamento de releases. * <strong>Histórico de Mudanças Estruturado</strong>: O histórico de mudanças torna-se mais estruturado e fácil de navegar, o que facilita a revisão de mudanças e a depuração de problemas.</li>
      </ul>
      </section>
      
      <section class="section-block-markdown-cell">
      <h3 id="Exemplos-pr%C3%A1ticos">Exemplos práticos<a class="anchor-link" href="#Exemplos-pr%C3%A1ticos"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 39" src={svg_paths.link_svg_path}/></a></h3>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Exemplo 1: Correção de um Bug</p>
      <pre><code class="language-git">git
      ```fix(api): corrigir erro na validação do usuário
      O endpoint de registro de usuário estava permitindo registros com endereços de e-mail inválidos. Uma validação adicional foi adicionada para garantir que os endereços de e-mail sejam válidos.
      Fecha #456```</code></pre>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Exemplo 2: Adicionar uma Nova Funcionalidade</p>
      <pre><code class="language-git">git
      feat(api): adicionar endpoint de recuperação de senha
      Implementado um novo endpoint que permite aos usuários solicitar um link de recuperação de senha. O link é enviado para o endereço de e-mail registrado.
      Fecha #789</code></pre>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Exemplo 3: Melhoria da documentação</p>
      <pre><code class="language-git">git
      docs: atualizar guia de contribuição
      Atualizou as instruções de configuração para o ambiente de desenvolvimento e adicionou uma seção sobre como executar os testes.
      Fecha #101```</code></pre>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Ferramentas-para-construir-mensagens-que-atendam-aos-conventional-commits">Ferramentas para construir mensagens que atendam aos conventional commits<a class="anchor-link" href="#Ferramentas-para-construir-mensagens-que-atendam-aos-conventional-commits"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 40" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Embora tenhamos visto como criar mensagens de commit através de conventional commits, é bastante possível que cometamos erros, por isso podemos usar ferramentas que nos guiem na criação dessas mensagens. Vamos ver duas: <code>commitizen</code> e o plugin <code>Conventional Commit</code> do vscode.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h3 id="Commitizen">Commitizen<a class="anchor-link" href="#Commitizen"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 41" src={svg_paths.link_svg_path}/></a></h3>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Para usá-la, primeiro vou criar uma nova pasta na qual vou iniciar um repositório do Git</p>
      </section>
      
      <section class="section-block-markdown-cell">
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span>mkdir<span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git<span class="w"> </span>init',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '<span class="ansi-yellow-fg">hint: Using \'master\' as the name for the initial branch. This default branch name</span>',
          '<span class="ansi-yellow-fg">hint: is subject to change. To configure the initial branch name to use in all</span>',
          '<span class="ansi-yellow-fg">hint: of your new repositories, which will suppress this warning, call:</span>',
          '<span class="ansi-yellow-fg">hint: </span>',
          '<span class="ansi-yellow-fg">hint: 	git config --global init.defaultBranch &lt;name&gt;</span>',
          '<span class="ansi-yellow-fg">hint: </span>',
          '<span class="ansi-yellow-fg">hint: Names commonly chosen instead of \'master\' are \'main\', \'trunk\' and</span>',
          '<span class="ansi-yellow-fg">hint: \'development\'. The just-created branch can be renamed via this command:</span>',
          '<span class="ansi-yellow-fg">hint: </span>',
          '<span class="ansi-yellow-fg">hint: 	git branch -m &lt;name&gt;</span>',
          'Initialized empty Git repository in /home/maximofernandez/comitizen_folder/.git/',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Agora instalo <code>commitizen</code></p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">%</span><span class="k">pip</span> install --user -U commitizen',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Collecting commitizen',
          '  Downloading commitizen-3.29.1-py3-none-any.whl.metadata (7.6 kB)',
          'Collecting argcomplete&lt;3.6,&gt;=1.12.1 (from commitizen)',
          '  Downloading argcomplete-3.5.1-py3-none-any.whl.metadata (16 kB)',
          'Requirement already satisfied: charset-normalizer&lt;4,&gt;=2.1.0 in /home/maximofernandez/miniforge3/lib/python3.12/site-packages (from commitizen) (3.3.2)',
          'Requirement already satisfied: colorama&lt;0.5.0,&gt;=0.4.1 in /home/maximofernandez/miniforge3/lib/python3.12/site-packages (from commitizen) (0.4.6)',
          'Collecting decli&lt;0.7.0,&gt;=0.6.0 (from commitizen)',
          '  Downloading decli-0.6.2-py3-none-any.whl.metadata (17 kB)',
          'Requirement already satisfied: jinja2&gt;=2.10.3 in /home/maximofernandez/miniforge3/lib/python3.12/site-packages (from commitizen) (3.1.4)',
          'Requirement already satisfied: packaging&gt;=19 in /home/maximofernandez/.local/lib/python3.12/site-packages (from commitizen) (24.1)',
          'Requirement already satisfied: pyyaml&gt;=3.08 in /home/maximofernandez/miniforge3/lib/python3.12/site-packages (from commitizen) (6.0.2)',
          'Collecting questionary&lt;3.0,&gt;=2.0 (from commitizen)',
          '  Downloading questionary-2.0.1-py3-none-any.whl.metadata (5.4 kB)',
          'Collecting termcolor&lt;3,&gt;=1.1 (from commitizen)',
          '  Downloading termcolor-2.5.0-py3-none-any.whl.metadata (6.1 kB)',
          'Collecting tomlkit&lt;1.0.0,&gt;=0.5.3 (from commitizen)',
          '  Downloading tomlkit-0.13.2-py3-none-any.whl.metadata (2.7 kB)',
          'Requirement already satisfied: MarkupSafe&gt;=2.0 in /home/maximofernandez/miniforge3/lib/python3.12/site-packages (from jinja2&gt;=2.10.3-&gt;commitizen) (2.1.5)',
          'Collecting prompt_toolkit&lt;=3.0.36,&gt;=2.0 (from questionary&lt;3.0,&gt;=2.0-&gt;commitizen)',
          '  Downloading prompt_toolkit-3.0.36-py3-none-any.whl.metadata (7.0 kB)',
          'Requirement already satisfied: wcwidth in /home/maximofernandez/miniforge3/lib/python3.12/site-packages (from prompt_toolkit&lt;=3.0.36,&gt;=2.0-&gt;questionary&lt;3.0,&gt;=2.0-&gt;commitizen) (0.2.13)',
          'Downloading commitizen-3.29.1-py3-none-any.whl (71 kB)',
          'Downloading argcomplete-3.5.1-py3-none-any.whl (43 kB)',
          'Downloading decli-0.6.2-py3-none-any.whl (7.9 kB)',
          'Downloading questionary-2.0.1-py3-none-any.whl (34 kB)',
          'Downloading termcolor-2.5.0-py3-none-any.whl (7.8 kB)',
          'Downloading tomlkit-0.13.2-py3-none-any.whl (37 kB)',
          'Downloading prompt_toolkit-3.0.36-py3-none-any.whl (386 kB)',
          'Installing collected packages: tomlkit, termcolor, prompt_toolkit, decli, argcomplete, questionary, commitizen',
          '<span class="ansi-red-fg">ERROR: pip\'s dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.',
          'ipython 8.27.0 requires prompt-toolkit&lt;3.1.0,&gt;=3.0.41, but you have prompt-toolkit 3.0.36 which is incompatible.</span><span class="ansi-red-fg">',
          '</span>Successfully installed argcomplete-3.5.1 commitizen-3.29.1 decli-0.6.2 prompt_toolkit-3.0.36 questionary-2.0.1 termcolor-2.5.0 tomlkit-0.13.2',
          'Note: you may need to restart the kernel to use updated packages.',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Verificamos a instalação</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span>cz<span class="w"> </span>version',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '3.29.1',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Crio um novo arquivo na pasta na qual eu inicializei o repositório de git e o adiciono à área de staging</p>
      </section>
      
      <CodeBlockInputCell
        text={[
      '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>touch<span class="w"> </span>README.md<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git<span class="w"> </span>add<span class="w"> </span>README.md',
        ]}
        languaje='python'
      ></CodeBlockInputCell>






      
      <section class="section-block-markdown-cell">
      <p>Se eu fizer <code>git status</code>, verei que o arquivo está na área de staging e que agora devo fazer um commit.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>touch<span class="w"> </span>README.md<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git<span class="w"> </span>add<span class="w"> </span>README.md',
          '</span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git<span class="w"> </span>status',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'On branch master',
          'No commits yet',
          'Changes to be committed:',
          '  (use "git rm --cached &lt;file&gt;..." to unstage)',
          '	<span class="ansi-green-fg">new file:   README.md</span>',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>É hora de criar um commit com <code>commitizen</code>, para isso executamos <code>cz commit</code> e aparecerá um assistente para criar o commit</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>cz<span class="w"> </span>commit',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '? Select the type of change you are committing docs: Documentation only changes',
          '? What is the scope of this change? (class or file name): (press [enter] to skip)',
          ' readme',
          '? Write a short and imperative summary of the code changes: (lower case and no period)',
          ' First innit, create readme',
          '? Provide additional contextual information about the code changes: (press [enter] to skip)',
          ' This is the first commit, I create a empty readme',
          '? Is this a BREAKING CHANGE? Correlates with MAJOR in SemVer No',
          '? Footer. Information about Breaking Changes and reference issues that this commit closes: (press [enter] to skip)',
          'docs(readme): First innit, create readme',
          'This is the first commit, I create a empty readme',
          '[master (root-commit) 4f646d4] docs(readme): First innit, create readme',
          ' 1 file changed, 0 insertions(+), 0 deletions(-)',
          ' create mode 100644 README.md',
          'Commit successful!',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Pronto, já temos nosso primeiro commit criado com <code>commitizen</code> que segue as regras de <code>Conventional Commits</code></p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h3 id="Plugin-Conventional-Commit-de-vscode">Plugin Conventional Commit de vscode<a class="anchor-link" href="#Plugin-Conventional-Commit-de-vscode"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 42" src={svg_paths.link_svg_path}/></a></h3>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Agora vamos fazer o mesmo, só que com o plugin do vscode <a href="https://marketplace.visualstudio.com/items?itemName=vivaxy.vscode-conventional-commits" target="_blank" rel="nofollow noreferrer">Conventional Commit</a></p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Primeiro, é preciso instalar o plugin e, uma vez instalado, pressionamos <code>Ctrl + Shift + P</code> e escrevemos <code>Conventional Commit</code>, pressionamos <code>enter</code> e aparecerá um assistente para criar o commit.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Para mim, o uso deste plugin tem duas vantagens sobre o <code>commitizen</code></p>
      <ul>
      <li>A primeira é que nos permite adicionar emojis do <a href="https://gitmoji.dev/" target="_blank" rel="nofollow noreferrer">gitmoji</a>. O que, se não se abusa dos emojis e se usar apenas alguns, torna mais fácil identificar o tipo de commit ao ver o histórico de commits.* A segunda é que guarda os âmbitos <code>scope</code>s que você usou, portanto não cria novos âmbitos, mas reutiliza os que você já usou.</li>
      </ul>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Ferramentas-para-verificar-a-conformidade-com-a-conven%C3%A7%C3%A3o-de-conventional-commits">Ferramentas para verificar a conformidade com a convenção de conventional commits<a class="anchor-link" href="#Ferramentas-para-verificar-a-conformidade-com-a-conven%C3%A7%C3%A3o-de-conventional-commits"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 43" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Vimos como criar mensagens de commit que seguem a convenção de <code>conventional commits</code>, mas uma boa prática é criar uma ferramenta para verificar se o commit criado segue a convenção, especialmente quando se trabalha em equipe.
      Há ferramentas que nos permitem fazer isso como <code>pre-commit</code>, mas o que fazem é modificar os hooks do git, então vamos fazer isso nós mesmos e usar o <code>commitizen</code> para nos ajudar a validar a mensagem de commit.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Já instalamos o <code>commitizen</code>, então vamos ver como podemos usá-lo para verificar uma mensagem de commit</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Primeiro, criamos um arquivo chamado <code>commit-msg</code> na pasta <code>.git/hooks</code> e damos permissões de execução. Dentro dos hooks do Git, há <a href="https://git-scm.com/docs/githooks#_hooks" target="_blank" rel="nofollow noreferrer">vários tipos de arquivos</a> que podem ser usados para diferentes tarefas. Neste caso, vamos usar <code>commit-msg</code>, que é executado justo antes de o commit ser criado.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
      '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder/.git/hooks<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>touch<span class="w"> </span>commit-msg<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>chmod<span class="w"> </span>+x<span class="w"> </span>commit-msg',
        ]}
        languaje='python'
      ></CodeBlockInputCell>






      
      <section class="section-block-markdown-cell">
      <p>Agora adicionamos o seguinte código ao arquivo <code>commit-msg</code></p>
      <div class="highlight"><pre><span></span><span class="ch">#!/bin/shEste script valida a mensagem do commit usando commitizen</span>
      <span class="nv">COMMIT_MSG_FILE</span><span class="o">=</span><span class="nv">$1</span>cz<span class="w"> </span>check<span class="w"> </span>--commit-msg-file<span class="w"> </span><span class="nv">$COMMIT_MSG_FILE</span><span class="sb">```</span>
      </pre></div>
      </section>
      
      <CodeBlockInputCell
        text={[
      '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder/.git/hooks<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>touch<span class="w"> </span>commit-msg<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>chmod<span class="w"> </span>+x<span class="w"> </span>commit-msg',
      '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder/.git/hooks<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span><span class="err">\</span>',
      '      <span class="n">echo</span> <span class="s1">\'#!/bin/sh\'</span> <span class="o">&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
      '      <span class="n">echo</span> <span class="s1">\'# Este script valida el mensaje del commit usando commitizen\'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
      '      <span class="n">echo</span> <span class="s1">\' \'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
      '      <span class="n">echo</span> <span class="s1">\'COMMIT_MSG_FILE=$1\'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
      '      <span class="n">echo</span> <span class="s1">\'cz check --commit-msg-file $COMMIT_MSG_FILE\'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>











      
      <section class="section-block-markdown-cell">
      <p>Uma vez feito, tentamos fazer um commit com uma mensagem incorreta. Primeiro modificamos o readme e o adicionamos à área de staging.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
      '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder/.git/hooks<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>touch<span class="w"> </span>commit-msg<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>chmod<span class="w"> </span>+x<span class="w"> </span>commit-msg',
      '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder/.git/hooks<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span><span class="err">\</span>',
      '      <span class="n">echo</span> <span class="s1">\'#!/bin/sh\'</span> <span class="o">&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
      '      <span class="n">echo</span> <span class="s1">\'# Este script valida el mensaje del commit usando commitizen\'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
      '      <span class="n">echo</span> <span class="s1">\' \'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
      '      <span class="n">echo</span> <span class="s1">\'COMMIT_MSG_FILE=$1\'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
      '      <span class="n">echo</span> <span class="s1">\'cz check --commit-msg-file $COMMIT_MSG_FILE\'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span>',
      '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span><span class="nb">echo</span><span class="w"> </span><span class="s1">\'.\'</span><span class="w"> </span>&gt;&gt;<span class="w"> </span>README.md<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git<span class="w"> </span>add<span class="w"> </span>README.md',
        ]}
        languaje='python'
      ></CodeBlockInputCell>






      
      <section class="section-block-markdown-cell">
      <p>Agora fazemos um commit com uma mensagem incorreta</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder/.git/hooks<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>touch<span class="w"> </span>commit-msg<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>chmod<span class="w"> </span>+x<span class="w"> </span>commit-msg',
          '</span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder/.git/hooks<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span><span class="err">\</span>',
          '<span class="n">echo</span> <span class="s1">\'#!/bin/sh\'</span> <span class="o">&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
          '<span class="n">echo</span> <span class="s1">\'# Este script valida el mensaje del commit usando commitizen\'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
          '<span class="n">echo</span> <span class="s1">\' \'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
          '<span class="n">echo</span> <span class="s1">\'COMMIT_MSG_FILE=$1\'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span> <span class="o">&amp;&amp;</span> \\',
          '<span class="n">echo</span> <span class="s1">\'cz check --commit-msg-file $COMMIT_MSG_FILE\'</span> <span class="o">&gt;&gt;</span> <span class="n">commit</span><span class="o">-</span><span class="n">msg</span>',
          '</span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span><span class="nb">echo</span><span class="w"> </span><span class="s1">\'.\'</span><span class="w"> </span>&gt;&gt;<span class="w"> </span>README.md<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git<span class="w"> </span>add<span class="w"> </span>README.md',
          '</span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git<span class="w"> </span>commit<span class="w"> </span>-m<span class="w"> </span><span class="s2">"Add dot to README"</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '<span class="ansi-red-fg">commit validation: failed!',
          'please enter a commit message in the commitizen format.',
          'commit "": "Add dot to README"',
          'pattern: (?s)(build|ci|docs|feat|fix|perf|refactor|style|test|chore|revert|bump)(\(\S+\))?!?:( [^\n\r]+)((\n\n.*)|(\s*))?$</span>',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Agora fazemos um commit com uma mensagem correta</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git<span class="w"> </span>commit<span class="w"> </span>-m<span class="w"> </span><span class="s2">"docs(readme): :memo: Add dot to README"</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '<span class="ansi-green-fg">Commit validation: successful!</span>',
          '[master d488656] docs(readme): :memo: Add dot to README',
          ' 1 file changed, 1 insertion(+), 1 deletion(-)',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Nos validou o commit corretamente, portanto se olharmos o histórico de commits, veremos que o commit com a mensagem incorreta não foi criado e o commit com a mensagem correta sim.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git<span class="w"> </span>log',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '<span class="ansi-yellow-fg">commit d488656297c7cb448a25dd33a008cb5ce1e14e83</span><span class="ansi-yellow-fg"> (</span><span class="ansi-cyan-intense-fg ansi-bold">HEAD</span><span class="ansi-yellow-fg"> -&gt; </span><span class="ansi-green-intense-fg ansi-bold">master</span><span class="ansi-yellow-fg">)</span>',
          'Author: MaximoFN &lt;maximofn@gmail.com&gt;',
          'Date:   Tue Oct 8 11:22:19 2024 +0200',
          '    docs(readme): :memo: Add dot to README',
          '<span class="ansi-yellow-fg">commit fb518c2b903a259b2e44972e88aabf5656f97be9</span>',
          'Author: MaximoFN &lt;maximofn@gmail.com&gt;',
          'Date:   Tue Oct 8 10:57:41 2024 +0200',
          '    docs(readme): :memo: Update readme',
          '    ',
          '    Update readme with text conventional commits',
          '<span class="ansi-yellow-fg">commit 4f646d45047a45b549243efbfde9e331d45e23f1</span>',
          'Author: MaximoFN &lt;maximofn@gmail.com&gt;',
          'Date:   Tue Oct 8 10:48:07 2024 +0200',
          '    docs(readme): First innit, create readme',
          '    ',
          '    This is the first commit, I create a empty readme',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <h2 id="Ferramentas-para-criar-changelogs-a-partir-de-conventional-commits">Ferramentas para criar changelogs a partir de conventional commits<a class="anchor-link" href="#Ferramentas-para-criar-changelogs-a-partir-de-conventional-commits"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 44" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Como temos os commits escritos pelo mesmo convênio, podemos criar changelog automaticamente com <code>git-changelog</code>. Instalamos as dependências</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">%</span><span class="k">pip</span> install git-changelog',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Collecting git-changelog',
          '  Downloading git_changelog-2.5.2-py3-none-any.whl.metadata (5.4 kB)',
          'Collecting appdirs&gt;=1.4 (from git-changelog)',
          '  Downloading appdirs-1.4.4-py2.py3-none-any.whl.metadata (9.0 kB)',
          'Requirement already satisfied: Jinja2&gt;=2.10 in /home/maximofernandez/miniforge3/lib/python3.12/site-packages (from git-changelog) (3.1.4)',
          'Requirement already satisfied: packaging&gt;=24.0 in /home/maximofernandez/.local/lib/python3.12/site-packages (from git-changelog) (24.1)',
          'Collecting semver&gt;=2.13 (from git-changelog)',
          '  Downloading semver-3.0.2-py3-none-any.whl.metadata (5.0 kB)',
          'Requirement already satisfied: MarkupSafe&gt;=2.0 in /home/maximofernandez/miniforge3/lib/python3.12/site-packages (from Jinja2&gt;=2.10-&gt;git-changelog) (2.1.5)',
          'Downloading git_changelog-2.5.2-py3-none-any.whl (32 kB)',
          'Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)',
          'Downloading semver-3.0.2-py3-none-any.whl (17 kB)',
          'Installing collected packages: appdirs, semver, git-changelog',
          'Successfully installed appdirs-1.4.4 git-changelog-2.5.2 semver-3.0.2',
          'Note: you may need to restart the kernel to use updated packages.',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Agora podemos criar um changelog com <code>git-changelog</code>. Como criamos alguns commits muito simples, o changelog será muito simples.</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span><span class="nb">cd</span><span class="w"> </span>~/comitizen_folder<span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>git-changelog',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '# Changelog',
          'All notable changes to this project will be documented in this file.',
          'The format is based on [Keep a Changelog](http://keepachangelog.com/en/1.0.0/)',
          'and this project adheres to [Semantic Versioning](http://semver.org/spec/v2.0.0.html).',
          '&lt;!-- insertion marker --&gt;',
          '## Unreleased',
          '&lt;small&gt;[Compare with latest]()&lt;/small&gt;',
          '&lt;!-- insertion marker --&gt;',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Também podemos pedir-lhe que escreva em um arquivo e muitas mais opções</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="o">!</span>git-changelog<span class="w"> </span>-h',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'usage: git-changelog [--config-file [PATH ...]] [-b] [-B VERSION] [-n SCHEME]',
          '                     [-h] [-i] [-g REGEX] [-m MARKER] [-o FILE] [-p PROVIDER]',
          '                     [-r] [-R] [-I FILE] [-c CONVENTION] [-s SECTIONS]',
          '                     [-t TEMPLATE] [-T] [-E] [-Z] [-F RANGE] [-j KEY=VALUE]',
          '                     [-V] [--debug-info]',
          '                     [REPOSITORY]',
          'Automatic Changelog generator using Jinja2 templates.',
          'This tool parses your commit messages to extract useful data',
          'that is then rendered using Jinja2 templates, for example to',
          'a changelog file formatted in Markdown.',
          'Each Git tag will be treated as a version of your project.',
          'Each version contains a set of commits, and will be an entry',
          'in your changelog. Commits in each version will be grouped',
          'by sections, depending on the commit convention you follow.',
          '### Conventions',
          '#### Basic',
          '*Default sections:*',
          '- add: Added',
          '- fix: Fixed',
          '- change: Changed',
          '- remove: Removed',
          '*Additional sections:*',
          '- merge: Merged',
          '- doc: Documented',
          '#### Angular',
          '*Default sections:*',
          '- feat: Features',
          '- fix: Bug Fixes',
          '- revert: Reverts',
          '- ref, refactor: Code Refactoring',
          '- perf: Performance Improvements',
          '*Additional sections:*',
          '- build: Build',
          '- chore: Chore',
          '- ci: Continuous Integration',
          '- deps: Dependencies',
          '- doc, docs: Docs',
          '- style: Style',
          '- test, tests: Tests',
          '#### ConventionalCommit',
          '*Default sections:*',
          '- feat: Features',
          '- fix: Bug Fixes',
          '- revert: Reverts',
          '- ref, refactor: Code Refactoring',
          '- perf: Performance Improvements',
          '*Additional sections:*',
          '- build: Build',
          '- chore: Chore',
          '- ci: Continuous Integration',
          '- deps: Dependencies',
          '- doc, docs: Docs',
          '- style: Style',
          '- test, tests: Tests',
          'positional arguments:',
          '  REPOSITORY            The repository path, relative or absolute. Default:',
          '                        current working directory.',
          'options:',
          '  --config-file [PATH ...]',
          '                        Configuration file(s).',
          '  -b, --bump-latest     Deprecated, use --bump=auto instead. Guess the new',
          '                        latest version by bumping the previous one based on',
          '                        the set of unreleased commits. For example, if a',
          '                        commit contains breaking changes, bump the major',
          '                        number (or the minor number for 0.x versions). Else if',
          '                        there are new features, bump the minor number. Else',
          '                        just bump the patch number. Default: unset (false).',
          '  -B VERSION, --bump VERSION',
          '                        Specify the bump from latest version for the set of',
          '                        unreleased commits. Can be one of `auto`, `major`,',
          '                        `minor`, `patch` or a valid SemVer version (eg.',
          '                        1.2.3). For both SemVer and PEP 440 versioning schemes',
          '                        (see -n), `auto` will bump the major number if a',
          '                        commit contains breaking changes (or the minor number',
          '                        for 0.x versions, see -Z), else the minor number if',
          '                        there are new features, else the patch number.',
          '                        Default: unset (false).',
          '  -n SCHEME, --versioning SCHEME',
          '                        Versioning scheme to use when bumping and comparing',
          '                        versions. The selected scheme will impact the values',
          '                        accepted by the `--bump` option. Supported: `pep440`,',
          '                        `semver`. PEP 440 provides the following bump',
          '                        strategies: `auto`, `epoch`, `release`, `major`,',
          '                        `minor`, `micro`, `patch`, `pre`, `alpha`, `beta`,',
          '                        `candidate`, `post`, `dev`. Values `auto`, `major`,',
          '                        `minor`, `micro` can be suffixed with one of `+alpha`,',
          '                        `+beta`, `+candidate`, and/or `+dev`. Values `alpha`,',
          '                        `beta` and `candidate` can be suffixed with `+dev`.',
          '                        Examples: `auto+alpha`, `major+beta+dev`, `micro+dev`,',
          '                        `candidate+dev`, etc.. SemVer provides the following',
          '                        bump strategies: `auto`, `major`, `minor`, `patch`,',
          '                        `release`. See the docs for more information. Default:',
          '                        unset (`semver`).',
          '  -h, --help            Show this help message and exit.',
          '  -i, --in-place        Insert new entries (versions missing from changelog)',
          '                        in-place. An output file must be specified. With',
          '                        custom templates, you can pass two additional',
          '                        arguments: `--version-regex` and `--marker-line`. When',
          '                        writing in-place, an `in_place` variable will be',
          '                        injected in the Jinja context, allowing to adapt the',
          '                        generated contents (for example to skip changelog',
          '                        headers or footers). Default: unset (false).',
          '  -g REGEX, --version-regex REGEX',
          '                        A regular expression to match versions in the existing',
          '                        changelog (used to find the latest release) when',
          '                        writing in-place. The regular expression must be a',
          '                        Python regex with a `version` named group. Default:',
          '                        `^## \[(?P&lt;version&gt;v?[^\]]+)`.',
          '  -m MARKER, --marker-line MARKER',
          '                        A marker line at which to insert new entries (versions',
          '                        missing from changelog). If two marker lines are',
          '                        present in the changelog, the contents between those',
          '                        two lines will be overwritten (useful to update an',
          '                        \'Unreleased\' entry for example). Default: `&lt;!--',
          '                        insertion marker --&gt;`.',
          '  -o FILE, --output FILE',
          '                        Output to given file. Default: standard output.',
          '  -p PROVIDER, --provider PROVIDER',
          '                        Explicitly specify the repository provider. Default:',
          '                        unset.',
          '  -r, --parse-refs      Parse provider-specific references in commit messages',
          '                        (GitHub/GitLab/Bitbucket issues, PRs, etc.). Default:',
          '                        unset (false).',
          '  -R, --release-notes   Output release notes to stdout based on the last entry',
          '                        in the changelog. Default: unset (false).',
          '  -I FILE, --input FILE',
          '                        Read from given file when creating release notes.',
          '                        Default: `CHANGELOG.md`.',
          '  -c CONVENTION, --convention CONVENTION, --commit-style CONVENTION, --style CONVENTION',
          '                        The commit convention to match against. Default:',
          '                        `basic`.',
          '  -s SECTIONS, --sections SECTIONS',
          '                        A comma-separated list of sections to render. See the',
          '                        available sections for each supported convention in',
          '                        the description. Default: unset (None).',
          '  -t TEMPLATE, --template TEMPLATE',
          '                        The Jinja2 template to use. Prefix it with `path:` to',
          '                        specify the path to a Jinja templated file. Default:',
          '                        `keepachangelog`.',
          '  -T, --trailers, --git-trailers',
          '                        Parse Git trailers in the commit message. See',
          '                        https://git-scm.com/docs/git-interpret-trailers.',
          '                        Default: unset (false).',
          '  -E, --omit-empty-versions',
          '                        Omit empty versions from the output. Default: unset',
          '                        (false).',
          '  -Z, --no-zerover      By default, breaking changes on a 0.x don\'t bump the',
          '                        major version, maintaining it at 0. With this option,',
          '                        a breaking change will bump a 0.x version to 1.0.',
          '  -F RANGE, --filter-commits RANGE',
          '                        The Git revision-range filter to use (e.g.',
          '                        `v1.2.0..`). Default: no filter.',
          '  -j KEY=VALUE, --jinja-context KEY=VALUE',
          '                        Pass additional key/value pairs to the template.',
          '                        Option can be used multiple times. The key/value pairs',
          '                        are accessible as \'jinja_context\' in the template.',
          '  -V, --version         Show the current version of the program and exit.',
          '  --debug-info          Print debug information.',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Já podemos gerar changelogs facilmente a partir dos commits que seguem a convenção de <code>conventional commits</code>. Além disso, podemos adicioná-lo a um pipeline de CI/CD para que seja gerado automaticamente em cada release.</p>
      </section>
      






    </div>

  </section>

</PostLayout>
