---
import Layout from '@layouts/Layout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { color_palette } = await import('@portfolio/consts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - Disk Monitor";
const url = social_links.portfolio_link_external + "/disk-monitor"
const description = "Monitor del disco duro para a barra superior do Ubuntu";
const keywords = "Monitor de disco duro, barra superior, Ubuntu";

const images_width = 600*2;
const images_height =338*2;
const buyMeACoffee_width = 305;
const buyMeACoffee_height = 28;

const inline_code_background_color = color_palette.color_950;

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
const sticky_top_h3_increment = "50px"
---

<Layout 
	title={page_title}
	languaje={metadata_page.languaje_pt}
	description={description}
	keywords={keywords}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={url}
	icon={metadata_page.icon}
>
	<h1>Disk Monitor</h1>
	<h4>{description}</h4>
	<p>O melhor monitoramento del disco duro em tempo real</p>
	<p>Monitore a temperatura da sua disco diretamente da barra superior do Ubuntu com <span class="inline-code">Disk Monitor</span>. Esta aplicação está totalmente integrada com o último sistema operacional Ubuntu. Obtenha atualizações em tempo real e otimize suas tarefas. Baixe agora e assuma o controle da saúde da sua disk!</p>
	<div class="figure-div">
		<figure>
			<img 
				src="/images/disk_monitor.gif" 
				alt="disk monitor"
				width={images_width}
				height={images_height}
			></img>
		</figure>
	</div>

	<section>
		<h2>Sobre o Disk Monitor</h2>
		<p>Disk Monitor é uma ferramenta intuitiva projetada para desenvolvedores e profissionais que precisam acompanhar a saúde de sua disco em tempo real. Ele se integra perfeitamente à barra superior do Ubuntu, fornecendo informações essenciais ao alcance de suas mãos.</p>
	</section>

	<section>
		<h2>Características principais</h2>
		<ul>
			<li>Monitoramento em tempo real: veja a temperatura da disco, tudo atualizado ao vivo.</li>
			<li>Otimizado para Ubuntu: projetado para se integrar perfeitamente com o último sistema operacional Ubuntu.</li>
		</ul>
	</section>

	<section>
		<h2>Instalação</h2>

		<section>
			<h3>Clone o repositório</h3>
			<p>Clone o repositório com <span class="inline-code">https</span></p>
			<CodeBlockInputCell text={["git clone https://github.com/maximofn/disk_monitor.git"]} languaje='bash'></CodeBlockInputCell>
			<p>ou com <span class="inline-code">ssh</span></p>
			<CodeBlockInputCell text={["git clonehttps://github.com/maximofn/disk_monitor.git"]} languaje='bash'></CodeBlockInputCell>
		</section>

		<section>
			<h3>Instale as dependências</h3>
			<p>Verifique se você não tem nenhum ambiente <span class="inline-code">venv</span> ou <span class="inline-code">conda</span> instalado</p>
			<CodeBlockInputCell 
				text={[
					'if [ -n "$VIRTUAL_ENV" ]; then',
					"    deactivate",
					"fi",
					"if command -v conda &>/dev/null; then",
					"    conda deactivate",
					"fi",
				]}
				languaje='bash'
			></CodeBlockInputCell>
			<p>Agora instale as dependências</p>
			<CodeBlockInputCell 
				text={[
					'sudo apt install lm-sensors',
				]}
				languaje='bash'
			></CodeBlockInputCell>
			<p>Responda <span class="inline-code">yes</span> a todas as perguntas</p>
			<CodeBlockInputCell 
				text={[
					'sudo sensors-detect',
				]}
				languaje='bash'
			></CodeBlockInputCell>
            <p>Instalação do <span class="inline-code">psensor</span></p>
			<CodeBlockInputCell 
				text={[
					'sudo apt install psensor',
				]}
				languaje='bash'
			></CodeBlockInputCell>
		</section>
	</section>

	<section>
		<h2>Executar na inicialização</h2>
		<p>Execute este script</p>
		<CodeBlockInputCell text={["./disk_monitor.sh"]} languaje='bash'></CodeBlockInputCell>
	</section>

	<section>
		<h2>Apóie</h2>
		<p>Se você gostou, considere dar ao repositório uma estrela ⭐, mas se você realmente gostou, considere me comprar um café ☕.</p>
		<a href="https://www.buymeacoffee.com/maximofn" target="_blank" rel="nofollow noreferrer">
			<figure>
				<img 
					src="https://img.shields.io/badge/Compre_me_um_café-Apóie_meu_trabalho-FFDD00?style=for-the-badge&logo=buy-me-a-coffee&logoColor=white&labelColor=101010" 
					alt="BuyMeACoffee"
					width={buyMeACoffee_width}
					height={buyMeACoffee_height}
					loading="lazy"
				></img>
			</figure>		
		</a>
	</section>

</Layout>

<style define:vars={{
	inline_code_background_color,
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
	sticky_top_h3_increment,
}}>
	.inline-code {
		background-color: var(--inline_code_background_color);
		border-radius: 7px;
		padding: 0.2em 0.4em;
		font-style: oblique;
		font-family: 'Courier New', Courier, monospace;
	}

	section {
		position: relative;
	}

	h1 {
		margin-bottom: 0px;
	}

	h4 {
		padding-left: 0px;
	}

	.figure-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
</style>
