---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Medida de similaridade entre embeddings';
const end_url = 'embeddings-similarity';
const description = 'Descubra como é medida a similaridade entre embeddings, a base do mecanismo de atenção dos transformers e dos algoritmos de RAG';
const keywords = 'embeddings, similaridade, similaridade por cosseno, similaridade L2, similaridade por produto escalar';
const languaje = 'PT';
const image_path = 'https://images.maximofn.com/embeddings-similarity.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=1024
    image_height=1024
    image_extension=webp
    article_date=2023-12-18+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Similaridade pelo quadrado L2"><h2>Similaridade pelo quadrado L2</h2></a>
      <a class="anchor-link" href="#Similaridade cosseno"><h2>Similaridade cosseno</h2></a>
      <a class="anchor-link" href="#Similaridade do produto escalar"><h2>Similaridade do produto escalar</h2></a>
      <a class="anchor-link" href="#Qual sistema de similaridade usar"><h2>Qual sistema de similaridade usar</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Aviso: Este post foi traduzido para o português usando um modelo de tradução automática. Por favor, me avise se encontrar algum erro.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Agora que vimos o que são os <a href="https://maximofn.com/embeddings">embeddings</a>, sabemos que podemos medir a similaridade entre duas palavras medindo a similaridade entre seus embeddings. No post de <a href="https://maximofn.com/embeddings">embeddings</a> vimos o exemplo do uso da medida de similaridade por cosseno, mas existem outras medidas de similaridade que podemos usar, como o quadrado L2, a similaridade do produto escalar, a similaridade por cosseno, etc.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Neste post, vamos ver essas três que mencionamos.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Similaridade pelo quadrado L2">Similaridade pelo quadrado L2<a class="anchor-link" href="#Similaridade pelo quadrado L2"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 11" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Esta similaridade é derivada da distância euclidiana, que é a distância em linha reta entre dois pontos em um espaço multidimensional, que é calculada com o teorema de Pitágoras.</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://images.maximofn.com/distancia_euclidiana.webp" alt="distância euclidiana">
      <p>A distância euclidiana entre dois pontos <span class="math-inline">p</span> e <span class="math-inline">q</span> é calculada como:</p>
      <p><span class="math-display">d(p,q) = &radic;((p<sub>1</sub> - q<sub>1</sub>)<sup>2</sup> + (p<sub>2</sub> - q<sub>2</sub>)<sup>2</sup> + ··· + (p<sub>n</sub> - q<sub>n</sub>)<sup>2</sup>) = &radic;(&sum;<sub>i=1</sub><sup>n</sup> (p<sub>i</sub> - q<sub>i</sub>)<sup>2</sup>)</span></p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>A similaridade pelo quadrado L2 é o quadrado da distância euclidiana, ou seja:</p>
      <p><span class="math-display">similidade(p,q) = d(p,q)<sup>2</sup> = &sum;<sub>i=1</sub><sup>n</sup> (p<sub>i</sub> - q<sub>i</sub>)<sup>2</sup></span></p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Similaridade cosseno">Similaridade cosseno<a class="anchor-link" href="#Similaridade cosseno"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 12" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Se lembrarmos do que aprendemos sobre senos e cossenos na escola, lembraremos que quando dois vetores têm um ângulo de 0º entre eles, seu cosseno é 1, quando o ângulo entre eles é de 90º, seu cosseno é 0 e quando o ângulo é de 180º, seu cosseno é -1.</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://images.maximofn.com/dot-product.gif" alt="similaridade cosseno">
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://images.maximofn.com/dot-product-unity.gif" alt="similaridade cosseno">
      <p>Portanto, podemos usar o cosseno do ângulo entre dois vetores para medir sua similaridade. Pode-se demonstrar que o cosseno do ângulo entre dois vetores é igual ao produto escalar dos dois vetores dividido pelo produto de seus módulos. Não é o objetivo deste post demonstrá-lo, mas se quiserem podem ver a demonstração <a href="https://www.wwwinsights.com/wp-content/uploads/2023/05/image-11-1024x694.png" target="_blank" rel="nofollow noreferrer">aqui</a>.</p>
      <p><span class="math-display">similitude(U,V) = <span class="math-fraction"><span class="math-fraction-numerator">U · V</span><span class="math-fraction-denominator">||U|| ||V||</span></span></span></p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Similaridade do produto escalar">Similaridade do produto escalar<a class="anchor-link" href="#Similaridade do produto escalar"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 13" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>A similaridade do produto escalar é o produto escalar de dois vetores</p>
      <p><span class="math-display">similaridade(U,V) = U · V</span></p>
      <p>Como escrevemos a fórmula da similaridade cosseno, quando o comprimento dos vetores é 1, ou seja, estão normalizados, a similaridade cosseno é igual à similaridade do produto escalar.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Então, para que serve a similaridade pelo produto escalar? Para medir a similaridade entre dois vetores que não estão normalizados, ou seja, que não têm comprimento 1.</p>
      <p>Por exemplo, o YouTube, para criar os embeddings dos seus vídeos, faz com que os embeddings dos vídeos que classifica como de maior qualidade sejam mais longos do que os dos vídeos que classifica como de menor qualidade.</p>
      <p>Desta forma, quando um usuário faz uma pesquisa, a similaridade pelo produto escalar dará maior similaridade aos vídeos de maior qualidade, portanto fornecerá ao usuário os vídeos de maior qualidade em primeiro lugar.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Qual sistema de similaridade usar">Qual sistema de similaridade usar<a class="anchor-link" href="#Qual sistema de similaridade usar"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 14" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Para escolher o sistema de similaridade que vamos usar, devemos ter em conta o espaço no qual estamos trabalhando.</p>
      <ul>
        <li>Se estivermos trabalhando em um espaço de alta dimensionalidade, com embeddings normalizados, a similaridade cosseno é a que melhor funciona. Por exemplo, a OpenAI gera embeddings normalizados, portanto a similaridade cosseno é a que melhor funciona.</li>
        <li>Se estivermos trabalhando em um sistema de classificação, onde a distância entre duas classes é importante, a similaridade pelo quadrado L2 é a que melhor funciona.</li>
        <li>Se estivermos trabalhando em um sistema de recomendação, onde a comprimento dos vetores é importante, a similaridade do produto escalar é a que melhor funciona.</li>
      </ul>
      </section>







    </div>

  </section>

</PostLayout>
