---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Fail2ban';
const end_url = 'fail2ban';
const description = '🛡️ 💻 Aumente seu nível de segurança! Mergulhe neste tutorial e descubra como o Fail2Ban o ajuda a impedir ataques de força bruta em seu caminho. Desde a instalação até a configuração, você terá tudo o que precisa. #SecurityToTheMax';
const keywords = 'fail2ban, firewall, segurança, ssh, força bruta, Linux';
const languaje = 'PT';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/fail2ban.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=960
    image_height=720
    image_extension=webp
    article_date=2023-09-16+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Instalacao"><h2>Instalação</h2></a>
      <a class="anchor-link" href="#Arquivo de configuracao"><h2>Arquivo de configuração</h2></a>
      <a class="anchor-link" href="#Revisar os logs"><h2>Revisar os logs</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Aviso: Este post foi traduzido para o português usando um modelo de tradução automática. Por favor, me avise se encontrar algum erro.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Com o Fail2ban podemos bloquear IPs que tentem se conectar a um dispositivo nosso, aqui vou explicar como configurar o bloqueio quando tentam se conectar por ssh</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Instalacao">Instalação<a class="anchor-link" href="#Instalacao"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 9" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>A instalação é muito simples, basta fazer</p>
      
      <section class="section-block-markdown-cell">
            <div class='highlight'><pre><code class="language-bash">sudo apt update<br>sudo apt install fail2ban</code></pre></div>
            </section>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Arquivo de configuracao">Arquivo de configuração<a class="anchor-link" href="#Arquivo de configuracao"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 10" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Uma vez instalado, modificamos o arquivo de configuração fazendo</p>
      <div class='highlight'><pre><code class="language-bash">sudo nano /etc/fail2ban/jail.conf</code></pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Descemos até a parte onde está <code>[sshd]</code>, no meu caso deixei assim</p>
      
      <section class="section-block-markdown-cell">
            <div class='highlight'><pre><code class="language-bash">[sshd]<br>bantime  = 172800<br>porta    = ssh<br>logpath  = %(sshd_log)s<br>backend  = %(sshd_backend)s<br>maxretry = 3</code></pre></div>
            </section>
      <p>O que ele faz é que se alguém fizer 3 tentativas de conexão, ele bane esse IP por 48 horas (172800 segundos).</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Revisar os logs">Revisar os logs<a class="anchor-link" href="#Revisar os logs"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 11" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Podemos verificar através dos logs se algum IP foi bloqueado com</p>
      <div class='highlight'><pre><code class="language-bash">cat /var/log/fail2ban.log</code></pre></div>
      </section>







    </div>

  </section>

</PostLayout>
