---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Fail2ban';
const end_url = 'fail2ban';
const description = '🛡️ 💻 Aumente seu nível de segurança! Mergulhe neste tutorial e descubra como o Fail2Ban o ajuda a impedir ataques de força bruta em seu caminho. Desde a instalação até a configuração, você terá tudo o que precisa. #SecurityToTheMax';
const keywords = 'fail2ban, firewall, segurança, ssh, força bruta, Linux';
const languaje = 'PT';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/fail2ban.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=960
    image_height=720
    image_extension=webp
    article_date=2023-09-16+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Instalacion"><h2>Instalación</h2></a>
      <a class="anchor-link" href="#Archivo de configuracion"><h2>Archivo de configuración</h2></a>
      <a class="anchor-link" href="#Revisar los logs"><h2>Revisar los logs</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Fail2ban">Fail2ban<a class="anchor-link" href="#Fail2ban"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 8" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Con Fail2ban podemos bloquear IPs que quieran conectarse a un dispositivo nuestro, aquí voy a explicar cómo configurar el bloqueo cuando intentan conectarse por ssh</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Instalacion">Instalación<a class="anchor-link" href="#Instalacion"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 9" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>La instalación es muy sencilla, solo tenemos que hacer</p>
      
      <section class="section-block-markdown-cell">
            <p>La instalación es muy sencilla, solo tenemos que hacer</p>
            <div class='highlight'><pre><code class="language-bash">sudo apt update<br>sudo apt install fail2ban</code></pre></div>
            </section>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Archivo de configuracion">Archivo de configuración<a class="anchor-link" href="#Archivo de configuracion"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 10" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Una vez instalado, modificamos el archivo de configuración haciendo</p>
      <div class='highlight'><pre><code class="language-bash">sudo nano /etc/fail2ban/jail.conf</code></pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Bajamos hasta la parte donde está <code>[sshd]</code>, en mi caso lo he dejado así</p>
      
      <section class="section-block-markdown-cell">
            <p>La instalación es muy sencilla, solo tenemos que hacer</p>
            <div class='highlight'><pre><code class="language-bash">[sshd]<br>bantime  = 172800    <br>port     = ssh<br>logpath  = %(sshd_log)s<br>backend  = %(sshd_backend)s<br>maxretry = 3</code></pre></div>
            </section>
      <p>Lo que hace es que si alguien hace 3 reintentos de conexión banee a esa IP durante 48 horas (172800 segundos)</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Revisar los logs">Revisar los logs<a class="anchor-link" href="#Revisar los logs"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 11" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Podemos revisar mediante los logs si alguna IP ha sido bloqueada con</p>
      <div class='highlight'><pre><code class="language-bash">cat /var/log/fail2ban.log</code></pre></div>
      </section>







    </div>

  </section>

</PostLayout>
