---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'git-sim';
const end_url = 'git-sim';
const description = 'Se você tem medo 😱 de usar os comandos do git, venha e aprenda a testá-los de forma fácil e gráfica com o git-sim 😊';
const keywords = 'git, git sim, git-sim, comandos do git, git rebase, git reset';
const languaje = 'PT';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/git-sim-shot.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=960
    image_height=720
    image_extension=webp
    article_date=2024-03-16+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Instala%C3%A7%C3%A3o"><h2>Instalação</h2></a>
      <a class="anchor-link" href="#Use"><h2>Use</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Git-sim">Git-sim<a class="anchor-link" href="#Git-sim"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 6" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Você tem medo de fazer um <code>git rebase</code>? Ou um <code>git reset</code>? Ou qualquer outro comando do git? Não se preocupe, pois com o <code>git-sim</code> você poderá ver antes de fazer isso o que vai acontecer para que possa tomar a decisão</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Este caderno foi traduzido automaticamente para torná-lo acessível a mais pessoas, por favor me avise se você vir algum erro de digitação..</p>
      <h2 id="Instala%C3%A7%C3%A3o">Instalação<a class="anchor-link" href="#Instala%C3%A7%C3%A3o"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 7" src={svg_paths.link_svg_path}/></a></h2><p>Para instalar o <code>git-sim</code>, primeiro precisamos instalar o <code>manim</code>, que é uma biblioteca python para criar animações. Para isso, podemos instalá-la com o pip:</p>
      <div class="highlight"><pre><span></span>pip<span class="w"> </span>install<span class="w"> </span>manim
      <span class="sb">```</span>
      
      ou<span class="w"> </span>com<span class="w"> </span>conda
      
      <span class="sb">````</span>bash
      conda<span class="w"> </span>install<span class="w"> </span>-c<span class="w"> </span>conda-forge<span class="w"> </span>manim
      <span class="sb">```</span>
      </pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Depois que o <code>manim</code> estiver instalado, podemos instalar o <code>git-sim</code> com o pip:</p>
      <div class="highlight"><pre><span></span>pip<span class="w"> </span>install<span class="w"> </span>git-sim
      <span class="sb">```</span>
      </pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Use">Use<a class="anchor-link" href="#Use"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 8" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Agora que o instalamos, podemos ir a um repositório e testar qualquer comando git alterando <code>git</code> para <code>git-sim</code>. Por exemplo, se eu fizer um <code>git-sim reset --hard HEAD~1</code> em um repositório meu, ele mostrará uma animação de como seria o rebase antes de eu fazer isso.</p>
      <p><img decoding="async" onerror="this.parentNode.removeChild(this)" alt="git-sim" src="http://maximofn.com/wp-content/uploads/2024/03/git-sim-scaled.webp" width="1200" height="675"/></p>
      <p>Como podemos ver, ele está me mostrando que, se eu fizer <code>git reset --hard HEAD~1</code>, ele passará do commit <code>ae757a8</code> para o commit <code>3754c64</code> e também removerá as alterações nos arquivos indicados em <code>Changes deleted from</code>.</p>
      </section>
      






    </div>

  </section>

</PostLayout>
