---
import Layout from '@layouts/Layout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { color_palette } = await import('@portfolio/consts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - GPU Monitor";
const url = social_links.portfolio_link_external + "/gpu-monitor"
const description = "Monitor de GPU para a barra superior do Ubuntu";
const keywords = "Monitor de GPU, barra superior, Ubuntu";

const images_width = 600*2;
const images_height =338*2;
const buyMeACoffee_width = 305;
const buyMeACoffee_height = 28;

const inline_code_background_color = color_palette.color_950;

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
const sticky_top_h3_increment = "50px"
---

<Layout 
	title={page_title}
	languaje={metadata_page.languaje_pt}
	description={description}
	keywords={keywords}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={url}
	icon={metadata_page.icon}
>
	<h1>GPU Monitor</h1>
	<h4>{description}</h4>
	<p>A melhor ferramenta de rastreamento de GPU em tempo real</p>
	<p>Monitore o desempenho, a temperatura e o uso da memória da sua GPU diretamente da barra de menu do Ubuntu com <span class="inline-code">GPU Monitor</span>. Este aplicativo fácil de usar e eficiente suporta várias GPUs e está totalmente integrado com o sistema operacional Ubuntu mais recente. Obtenha atualizações em tempo real e otimize suas tarefas de jogos ou desenvolvimento. Baixe agora e assuma o controle da saúde da sua GPU hoje!</p>
	<div class="figure-div">
		<figure>
			<img 
				src="/images/gpu_monitor.gif" 
				alt="GPU monitor"
				width={images_width}
				height={images_height}
			></img>
		</figure>
	</div>

	<section>
		<h2>Sobre o GPU Monitor</h2>
		<p>GPU Monitor é uma ferramenta intuitiva projetada para desenvolvedores, jogadores e profissionais que precisam manter um olho no desempenho e na saúde de sua placa gráfica em tempo real. Ele se integra perfeitamente com a barra de menu do Ubuntu, fornecendo informações essenciais ao alcance de sua mão.</p>
	</section>

	<section>
		<h2>Recursos Principais</h2>
		<ul>
			<li>Monitoramento em Tempo Real: Veja a utilização da GPU, memória e temperatura, tudo atualizado ao vivo.</li>
			<li>Suporte Multi-GPU: Gerencie e monitore várias GPUs a partir de uma única instância.</li>
			<li>Otimizado para Ubuntu: Criado para se integrar perfeitamente com o sistema operacional Ubuntu mais recente.</li>
		</ul>
	</section>

	<section>
		<h2>Instalação</h2>

		<section>
			<h3>Clone o repositório</h3>
			<p>Clone com <span class="inline-code">https</span></p>
			<CodeBlockInputCell text={["git clone https://github.com/maximofn/gpu_monitor.git"]} languaje='bash'></CodeBlockInputCell>
			<p>ou com <span class="inline-code">ssh</span></p>
			<CodeBlockInputCell text={["git clone git@github.com:maximofn/gpu_monitor.git"]} languaje='bash'></CodeBlockInputCell>
		</section>

		<section>
			<h3>Instale as dependências</h3>
			<p>Verifique se você não tem nenhum ambiente <span class="inline-code">venv</span> ou <span class="inline-code">conda</span> instalado</p>
			<CodeBlockInputCell 
				text={[
					'if [ -n "$VIRTUAL_ENV" ]; then',
					"    deactivate",
					"fi",
					"if command -v conda &>/dev/null; then",
					"    conda deactivate",
					"fi",
				]}
				languaje='bash'
			></CodeBlockInputCell>
			<p>Agora instale as dependências</p>
			<CodeBlockInputCell 
				text={[
					'sudo apt-get install python3-gi python3-gi-cairo gir1.2-gtk-3.0',
					'sudo apt-get install gir1.2-appindicator3-0.1',
					'pip3 install nvidia-ml-py3',
					'pip3 install pynvml',
				]}
				languaje='bash'
			></CodeBlockInputCell>
		</section>
	</section>

	<section>
		<h2>Execução na ligação</h2>
		<p>Execute este script</p>
		<CodeBlockInputCell text={["./gpu_monitor.sh"]} languaje='bash'></CodeBlockInputCell>
	</section>

	<section>
		<h2>Apóie</h2>
		<p>Se você gostou, considere dar ao repositório uma estrela ⭐, mas se você realmente gostou, considere me comprar um café ☕.</p>
		<a href="https://www.buymeacoffee.com/maximofn" target="_blank">
			<figure>
				<img 
					src="https://img.shields.io/badge/Compre_me_um_café-Apóie_meu_trabalho-FFDD00?style=for-the-badge&logo=buy-me-a-coffee&logoColor=white&labelColor=101010" 
					alt="BuyMeACoffee"
					width={buyMeACoffee_width}
					height={buyMeACoffee_height}
				></img>
			</figure>		
		</a>
	</section>

</Layout>

<style define:vars={{
	inline_code_background_color,
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
	sticky_top_h3_increment,
}}>
	.inline-code {
		background-color: var(--inline_code_background_color);
		border-radius: 7px;
		padding: 0.2em 0.4em;
		font-style: oblique;
		font-family: 'Courier New', Courier, monospace;
	}

	section {
		position: relative;
	}

	h1 {
		margin-bottom: 0px;
	}

	h4 {
		padding-left: 0px;
	}

	.figure-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
</style>
