---
import Layout from '@layouts/Layout.astro';

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { color_palette } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - Subtify";
const url = social_links.portfolio_link_external + "/subtify"
const description = "Gerador de legendas para vídeos no idioma que você desejar. Além disso, coloca uma legenda de cor diferente para cada pessoa";
const keywords = "Gerador de legendas, legendas, vídeos, idiomas, cores";

const subtify_url = "https://maximofn-subtify.hf.space";
const huggingFace_subtify_url = "https://huggingface.co/spaces/Maximofn/subtify";

const inline_code_background_color = color_palette.color_950;
const color_white = colors.color_white;
---

<Layout 
	title={page_title}
	languaje={metadata_page.languaje_pt}
	description={description}
	keywords={keywords}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={url}
	icon={metadata_page.icon}
>
	<h1>Subtify</h1>
	<h4>{description}</h4>
	<p>Abaixo você pode experimentar o aplicativo gradio incorporado nesta página. Se preferir, você pode acessar o <a href={subtify_url} target="_blank">aplicativo</a> diretamente, ou ir para o <a href={huggingFace_subtify_url} target="_blank">espaço huggingface</a>.</p>

	<!-- <script
		type="module"
		src="https://gradio.s3-us-west-2.amazonaws.com/3.49.0/gradio.js"
	></script>
	<gradio-app src="https://maximofn-subtify.hf.space"></gradio-app> -->

	<iframe
		src="https://maximofn-subtify.hf.space"
		frameborder="0"
	></iframe>

</Layout>

<style define:vars={{
	inline_code_background_color,
	color_white,
}}>
	h1 {
		margin-bottom: 0px;
	}

	h4 {
		padding-left: 0px;
	}

	a {
		color: var(--color_white);
	}

	iframe {
		width: 100%;
		height: 100vh;
		border: 1px solid var(--inline_code_background_color);
		box-shadow: 0 0 10px 0 var(--inline_code_background_color);
		border-radius: 7px;
	}
</style>
