---
import ProjectCard from '@components/ProjectCard.astro';
import DockerIcon from '@icons/DockerIcon.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { last_dockers } = await import('@portfolio/last_dockers.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

if ( languaje === 'es' ) {
    var dockers_title = last_dockers.title.es;
    var docker1_title = last_dockers.docker1.title.es;
    var docker1_description = last_dockers.docker1.description.es;
    var docker1_image_path = last_dockers.docker1.image_path.es;
    var docker1_image_hover_path = last_dockers.docker1.image_hover_path.es;
    var docker1_project_link = last_dockers.docker1.project_link.es;
    var docker1_code_link = last_dockers.docker1.code_link.es;
} else if ( languaje === 'en' ) {
    var dockers_title = last_dockers.title.en;
    var docker1_title = last_dockers.docker1.title.en;
    var docker1_description = last_dockers.docker1.description.en;
    var docker1_image_path = last_dockers.docker1.image_path.en;
    var docker1_image_hover_path = last_dockers.docker1.image_hover_path.en;
    var docker1_project_link = last_dockers.docker1.project_link.en;
    var docker1_code_link = last_dockers.docker1.code_link.en;
} else if ( languaje === 'pt' ) {
    var dockers_title = last_dockers.title.pt;
    var docker1_title = last_dockers.docker1.title.pt;
    var docker1_description = last_dockers.docker1.description.pt;
    var docker1_image_path = last_dockers.docker1.image_path.pt;
    var docker1_image_hover_path = last_dockers.docker1.image_hover_path.pt;
    var docker1_project_link = last_dockers.docker1.project_link.pt;
    var docker1_code_link = last_dockers.docker1.code_link.pt;
}

const go_to_site_no_transparent_target = '_blank';

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<section class="projects">
    <h1>{dockers_title} <DockerIcon /></h1>
    <div>
        <ProjectCard
            title={docker1_title}
            description={docker1_description}
            image_path={docker1_image_path}
            image_hover_path={docker1_image_hover_path}
            project_link={docker1_project_link}
            code_link={docker1_code_link}
            languaje={languaje}
            go_to_site_no_transparent_target={go_to_site_no_transparent_target}
        />
    </div>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
    .projects {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.projects > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
	}
	@media (max-width: 1500px) {
		.projects > div {
			justify-content: space-around;;
		}
	}

	h1 {
		position: sticky;
		top: var(--sticky_top_default);
        z-index: 1;
	}

	@media (max-width: 649px) {
		h1 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		h1 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		h1 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		h1 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		h1 {
			top: var(--sticky_top_229px);
		}
	}
</style>