---
import ProjectCard from '@components/ProjectCard.astro';
import DockerIcon from '@icons/DockerIcon.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { last_dockers } = await import('@portfolio/last_dockers.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

// Get list of all dockers
const dockers_list = [];
for (const docker in last_dockers) {
    if (docker.includes('docker') && docker != 'view_all_dockers' && docker != 'dockers_page_link') {
        dockers_list.push(docker);
    }
}

if ( languaje.toLowerCase() === 'es' ) {
    var dockers_title = last_dockers.title.es;
	var section_description_1 = last_dockers.section_description_1.es;
	var section_description_href = last_dockers.section_description_href.es;
	var section_description_2 = last_dockers.section_description_2.es;
} else if ( languaje.toLowerCase() === 'en' ) {
    var dockers_title = last_dockers.title.en;
	var section_description_1 = last_dockers.section_description_1.en;
	var section_description_href = last_dockers.section_description_href.en;
	var section_description_2 = last_dockers.section_description_2.en;
} else if ( languaje.toLowerCase() === 'pt' ) {
    var dockers_title = last_dockers.title.pt;
	var section_description_1 = last_dockers.section_description_1.pt;
	var section_description_href = last_dockers.section_description_href.pt;
	var section_description_2 = last_dockers.section_description_2.pt;
}

const go_to_site_no_transparent_target = '_blank';

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<section class="dockers">
    <h1>{dockers_title} <DockerIcon /></h1>
	<p>{section_description_1}<a href={section_description_href} target="_blank" rel="noopener noreferrer">{section_description_href}</a>{section_description_2}</p>
    <div class="dockers-cards">
        {languaje.toLowerCase() === 'es' && (
            <>
                {dockers_list.reverse().map((dockerKey) => (
                    <ProjectCard 
                        title={last_dockers[dockerKey].title.es} 
                        description={last_dockers[dockerKey].description.es} 
                        image_path={last_dockers[dockerKey].image_path.es} 
                        image_hover_path={last_dockers[dockerKey].image_hover_path.es}
                        project_link={last_dockers[dockerKey].project_link.es} 
                        code_link={last_dockers[dockerKey].code_link.es}
                        languaje={languaje}
						go_to_site_no_transparent_target={go_to_site_no_transparent_target}
                    />
                ))}
            </>
        )}
		{languaje.toLowerCase() === 'en' && (
			<>
				{dockers_list.reverse().map((dockerKey) => (
					<ProjectCard 
						title={last_dockers[dockerKey].title.en} 
						description={last_dockers[dockerKey].description.en} 
						image_path={last_dockers[dockerKey].image_path.en} 
						image_hover_path={last_dockers[dockerKey].image_hover_path.en}
						project_link={last_dockers[dockerKey].project_link.en} 
						code_link={last_dockers[dockerKey].code_link.en}
						languaje={languaje}
						go_to_site_no_transparent_target={go_to_site_no_transparent_target}
					/>
				))}
			</>
		)}
		{languaje.toLowerCase() === 'pt' && (
			<>
				{dockers_list.reverse().map((dockerKey) => (
					<ProjectCard 
						title={last_dockers[dockerKey].title.pt} 
						description={last_dockers[dockerKey].description.pt} 
						image_path={last_dockers[dockerKey].image_path.pt} 
						image_hover_path={last_dockers[dockerKey].image_hover_path.pt}
						project_link={last_dockers[dockerKey].project_link.pt} 
						code_link={last_dockers[dockerKey].code_link.pt}
						languaje={languaje}
						go_to_site_no_transparent_target={go_to_site_no_transparent_target}
					/>
				))}
			</>
		)}
    </div>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
    .dockers {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.dockers-cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
	}
	@media (max-width: 1500px) {
		.dockers-cards {
			justify-content: space-around;;
		}
	}

	h1 {
		position: sticky;
		top: var(--sticky_top_default);
        z-index: 1;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
</style>