---
import ProjectCard from '@components/ProjectCard.astro';
import Prompt from '@icons/Prompt.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { last_projects } = await import('@portfolio/last_projects.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const all_pages_list = await Astro.glob('../pages/*.astro');
const currentPath = Astro.url.pathname;

// Get list of all projects
const projects_list = [];
for (const project in last_projects) {
    if (project.includes('project') && project != 'view_all_projects') {
        projects_list.push(project);
    }
}

if ( languaje === 'es' ) {
    var projects_title = last_projects.title.es;
    var project1_title = last_projects.project1.title.es;
    var project1_description = last_projects.project1.description.es;
    var project1_image_path = last_projects.project1.image_path.es;
    var project1_image_hover_path = last_projects.project1.image_hover_path.es;
    var project1_project_link = last_projects.project1.project_link.es;
    var project1_code_link = last_projects.project1.code_link.es;
    var project2_title = last_projects.project2.title.es;
    var project2_description = last_projects.project2.description.es;
    var project2_image_path = last_projects.project2.image_path.es;
    var project2_image_hover_path = last_projects.project2.image_hover_path.es;
    var project2_project_link = last_projects.project2.project_link.es;
    var project2_code_link = last_projects.project2.code_link.es;
    var project3_title = last_projects.project3.title.es;
    var project3_description = last_projects.project3.description.es;
    var project3_image_path = last_projects.project3.image_path.es;
    var project3_image_hover_path = last_projects.project3.image_hover_path.es;
    var project3_project_link = last_projects.project3.project_link.es;
    var project3_code_link = last_projects.project3.code_link.es;
    var project4_title = last_projects.project4.title.es;
    var project4_description = last_projects.project4.description.es;
    var project4_image_path = last_projects.project4.image_path.es;
    var project4_image_hover_path = last_projects.project4.image_hover_path.es;
    var project4_project_link = last_projects.project4.project_link.es;
    var project4_code_link = last_projects.project4.code_link.es;
    var project5_title = last_projects.project5.title.es;
    var project5_description = last_projects.project5.description.es;
    var project5_image_path = last_projects.project5.image_path.es;
    var project5_image_hover_path = last_projects.project5.image_hover_path.es;
    var project5_project_link = last_projects.project5.project_link.es;
    var project5_code_link = last_projects.project5.code_link.es;
    var project6_title = last_projects.project6.title.es;
    var project6_description = last_projects.project6.description.es;
    var project6_image_path = last_projects.project6.image_path.es;
    var project6_image_hover_path = last_projects.project6.image_hover_path.es;
    var project6_project_link = last_projects.project6.project_link.es;
    var project6_code_link = last_projects.project6.code_link.es;
} else if ( languaje === 'en' ) {
    var projects_title = last_projects.title.en;
    var project1_title = last_projects.project1.title.en;
    var project1_description = last_projects.project1.description.en;
    var project1_image_path = last_projects.project1.image_path.en;
    var project1_image_hover_path = last_projects.project1.image_hover_path.en;
    var project1_project_link = last_projects.project1.project_link.en;
    var project1_code_link = last_projects.project1.code_link.en;
    var project2_title = last_projects.project2.title.en;
    var project2_description = last_projects.project2.description.en;
    var project2_image_path = last_projects.project2.image_path.en;
    var project2_image_hover_path = last_projects.project2.image_hover_path.en;
    var project2_project_link = last_projects.project2.project_link.en;
    var project2_code_link = last_projects.project2.code_link.en;
    var project3_title = last_projects.project3.title.en;
    var project3_description = last_projects.project3.description.en;
    var project3_image_path = last_projects.project3.image_path.en;
    var project3_image_hover_path = last_projects.project3.image_hover_path.en;
    var project3_project_link = last_projects.project3.project_link.en;
    var project3_code_link = last_projects.project3.code_link.en;
    var project4_title = last_projects.project4.title.en;
    var project4_description = last_projects.project4.description.en;
    var project4_image_path = last_projects.project4.image_path.en;
    var project4_image_hover_path = last_projects.project4.image_hover_path.en;
    var project4_project_link = last_projects.project4.project_link.en;
    var project4_code_link = last_projects.project4.code_link.en;
    var project5_title = last_projects.project5.title.en;
    var project5_description = last_projects.project5.description.en;
    var project5_image_path = last_projects.project5.image_path.en;
    var project5_image_hover_path = last_projects.project5.image_hover_path.en;
    var project5_project_link = last_projects.project5.project_link.en;
    var project5_code_link = last_projects.project5.code_link.en;
    var project6_title = last_projects.project6.title.en;
    var project6_description = last_projects.project6.description.en;
    var project6_image_path = last_projects.project6.image_path.en;
    var project6_image_hover_path = last_projects.project6.image_hover_path.en;
    var project6_project_link = last_projects.project6.project_link.en;
    var project6_code_link = last_projects.project6.code_link.en;
} else if ( languaje === 'pt' ) {
    var projects_title = last_projects.title.pt;
    var project1_title = last_projects.project1.title.pt;
    var project1_description = last_projects.project1.description.pt;
    var project1_image_path = last_projects.project1.image_path.pt;
    var project1_image_hover_path = last_projects.project1.image_hover_path.pt;
    var project1_project_link = last_projects.project1.project_link.pt;
    var project1_code_link = last_projects.project1.code_link.pt;
    var project2_title = last_projects.project2.title.pt;
    var project2_description = last_projects.project2.description.pt;
    var project2_image_path = last_projects.project2.image_path.pt;
    var project2_image_hover_path = last_projects.project2.image_hover_path.pt;
    var project2_project_link = last_projects.project2.project_link.pt;
    var project2_code_link = last_projects.project2.code_link.pt;
    var project3_title = last_projects.project3.title.pt;
    var project3_description = last_projects.project3.description.pt;
    var project3_image_path = last_projects.project3.image_path.pt;
    var project3_image_hover_path = last_projects.project3.image_hover_path.pt;
    var project3_project_link = last_projects.project3.project_link.pt;
    var project3_code_link = last_projects.project3.code_link.pt;
    var project4_title = last_projects.project4.title.pt;
    var project4_description = last_projects.project4.description.pt;
    var project4_image_path = last_projects.project4.image_path.pt;
    var project4_image_hover_path = last_projects.project4.image_hover_path.pt;
    var project4_project_link = last_projects.project4.project_link.pt;
    var project4_code_link = last_projects.project4.code_link.pt;
    var project5_title = last_projects.project5.title.pt;
    var project5_description = last_projects.project5.description.pt;
    var project5_image_path = last_projects.project5.image_path.pt;
    var project5_image_hover_path = last_projects.project5.image_hover_path.pt;
    var project5_project_link = last_projects.project5.project_link.pt;
    var project5_code_link = last_projects.project5.code_link.pt;
    var project6_title = last_projects.project6.title.pt;
    var project6_description = last_projects.project6.description.pt;
    var project6_image_path = last_projects.project6.image_path.pt;
    var project6_image_hover_path = last_projects.project6.image_hover_path.pt;
    var project6_project_link = last_projects.project6.project_link.pt;
    var project6_code_link = last_projects.project6.code_link.pt;
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<section class="projects">
    <h1>{projects_title} <Prompt /></h1>
    <div>
        {languaje === 'es' && (
            <>
                {projects_list.reverse().map((projectKey) => (
                    <ProjectCard 
                        title={last_projects[projectKey].title.es} 
                        description={last_projects[projectKey].description.es} 
                        image_path={last_projects[projectKey].image_path.es} 
                        image_hover_path={last_projects[projectKey].image_hover_path.es}
                        project_link={last_projects[projectKey].project_link.es} 
                        code_link={last_projects[projectKey].code_link.es}
                        languaje={languaje}
                    />
                ))}
            </>
        )}
        {languaje === 'en' && (
            <>
                {projects_list.reverse().map((projectKey) => (
                    <ProjectCard 
                        title={last_projects[projectKey].title.en} 
                        description={last_projects[projectKey].description.en} 
                        image_path={last_projects[projectKey].image_path.en} 
                        image_hover_path={last_projects[projectKey].image_hover_path.en}
                        project_link={last_projects[projectKey].project_link.en} 
                        code_link={last_projects[projectKey].code_link.en}
                        languaje={languaje}
                    />
                ))}
            </>
        )}
        {languaje === 'pt' && (
            <>
                {projects_list.reverse().map((projectKey) => (
                    <ProjectCard 
                        title={last_projects[projectKey].title.pt} 
                        description={last_projects[projectKey].description.pt} 
                        image_path={last_projects[projectKey].image_path.pt} 
                        image_hover_path={last_projects[projectKey].image_hover_path.pt}
                        project_link={last_projects[projectKey].project_link.pt} 
                        code_link={last_projects[projectKey].code_link.pt}
                        languaje={languaje}
                    />
                ))}
            </>
        )}
    </div>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
    .projects {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.projects > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
	}
	@media (max-width: 1500px) {
		.projects > div {
			justify-content: space-around;;
		}
	}

	h1 {
		position: sticky;
		top: var(--sticky_top_default);
        z-index: 1;
	}

	@media (max-width: 649px) {
		h1 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		h1 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		h1 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		h1 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		h1 {
			top: var(--sticky_top_229px);
		}
	}
</style>