---
import PostCard from '@components/PostCard.astro';
import AlingLeft2 from '@icons/AlingLeft2.astro';

const { last_posts } = await import('@portfolio/last_posts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const all_pages_list = await Astro.glob('../pages/*.astro');
const currentPath = Astro.url.pathname;

// Get list of all posts
const posts_list = [];
for (const post in last_posts) {
    if (post.includes('post') && post != 'view_last_posts' && post != 'posts_page_link') {
        posts_list.push(post);
    }
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;

const color_white = colors.white;
---

<section class="posts">
    <h1>Posts <AlingLeft2 /></h1>
    <div>
        {languaje.toLowerCase() === 'es' && (
            <>
                {posts_list.reverse().map((postKey) => (
                    <div class="post-card">
                        <PostCard 
                            title={last_posts[postKey].title.es} 
                            description={last_posts[postKey].description.es} 
                            image_path={last_posts[postKey].image_path.es} 
                            post_link={last_posts[postKey].post_link.es} 
                        />
                    </div>
                ))}
            </>
        )}
        {languaje.toLowerCase() === 'en' && (
            <>
                {posts_list.reverse().map((postKey) => (
                    <div class="post-card">
                        <PostCard 
                            title={last_posts[postKey].title.en} 
                            description={last_posts[postKey].description.en} 
                            image_path={last_posts[postKey].image_path.en} 
                            post_link={last_posts[postKey].post_link.en} 
                        />
                    </div>
                ))}
            </>
        )}
        {languaje.toLowerCase() === 'pt' && (
            <>
                {posts_list.reverse().map((postKey) => (
                    <div class="post-card">
                        <PostCard 
                            title={last_posts[postKey].title.es} 
                            description={last_posts[postKey].description.es} 
                            image_path={last_posts[postKey].image_path.es} 
                            post_link={last_posts[postKey].post_link.es} 
                        />
                    </div>
                ))}
            </>
        )}
    </div>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
    color_white,
}}>
	.posts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.posts > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 50px;
	}
    
    .post-card {
        animation: auto linear reveral both;
        animation-timeline: view();
        animation-range: cover;
    }
    @keyframes reveral {
        entry 0% {
            transform: scale(0.8) translateX(-500px) translateY(100px);
            opacity: 0;
        }
        entry 100% { 
            transform: scale(1) translateX(0) translateY(0); 
            opacity: 1;
        }
        exit 30% {
            transform: scale(1) translateX(0) translateY(0);
            opacity: 1;    
        }
        exit 100% { 
            transform: scale(0.5) translateX(500px)  translateY(-10px);
            opacity: 0 
        }
    }

    h1 {
		position: sticky;
		top: var(--sticky_top_default);
        z-index: 1;
	}

    a {
        color: var(--color_white);
    }
</style>
