---
import ProjectCard from '@components/ProjectCard.astro';
import Prompt from '@icons/Prompt.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { last_projects } = await import('@portfolio/last_projects.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

if ( languaje === 'es' ) {
    var projects_title = last_projects.title.es;
    var project1_title = last_projects.project1.title.es;
    var project1_description = last_projects.project1.description.es;
    var project1_image_path = last_projects.project1.image_path.es;
    var project1_image_hover_path = last_projects.project1.image_hover_path.es;
    var project1_project_link = last_projects.project1.project_link.es;
    var project1_code_link = last_projects.project1.code_link.es;
    var project2_title = last_projects.project2.title.es;
    var project2_description = last_projects.project2.description.es;
    var project2_image_path = last_projects.project2.image_path.es;
    var project2_image_hover_path = last_projects.project2.image_hover_path.es;
    var project2_project_link = last_projects.project2.project_link.es;
    var project2_code_link = last_projects.project2.code_link.es;
    var project3_title = last_projects.project3.title.es;
    var project3_description = last_projects.project3.description.es;
    var project3_image_path = last_projects.project3.image_path.es;
    var project3_image_hover_path = last_projects.project3.image_hover_path.es;
    var project3_project_link = last_projects.project3.project_link.es;
    var project3_code_link = last_projects.project3.code_link.es;
    var project4_title = last_projects.project4.title.es;
    var project4_description = last_projects.project4.description.es;
    var project4_image_path = last_projects.project4.image_path.es;
    var project4_image_hover_path = last_projects.project4.image_hover_path.es;
    var project4_project_link = last_projects.project4.project_link.es;
    var project4_code_link = last_projects.project4.code_link.es;
    var project5_title = last_projects.project5.title.es;
    var project5_description = last_projects.project5.description.es;
    var project5_image_path = last_projects.project5.image_path.es;
    var project5_image_hover_path = last_projects.project5.image_hover_path.es;
    var project5_project_link = last_projects.project5.project_link.es;
    var project5_code_link = last_projects.project5.code_link.es;
    var project6_title = last_projects.project6.title.es;
    var project6_description = last_projects.project6.description.es;
    var project6_image_path = last_projects.project6.image_path.es;
    var project6_image_hover_path = last_projects.project6.image_hover_path.es;
    var project6_project_link = last_projects.project6.project_link.es;
    var project6_code_link = last_projects.project6.code_link.es;
} else if ( languaje === 'en' ) {
    var projects_title = last_projects.title.en;
    var project1_title = last_projects.project1.title.en;
    var project1_description = last_projects.project1.description.en;
    var project1_image_path = last_projects.project1.image_path.en;
    var project1_image_hover_path = last_projects.project1.image_hover_path.en;
    var project1_project_link = last_projects.project1.project_link.en;
    var project1_code_link = last_projects.project1.code_link.en;
    var project2_title = last_projects.project2.title.en;
    var project2_description = last_projects.project2.description.en;
    var project2_image_path = last_projects.project2.image_path.en;
    var project2_image_hover_path = last_projects.project2.image_hover_path.en;
    var project2_project_link = last_projects.project2.project_link.en;
    var project2_code_link = last_projects.project2.code_link.en;
    var project3_title = last_projects.project3.title.en;
    var project3_description = last_projects.project3.description.en;
    var project3_image_path = last_projects.project3.image_path.en;
    var project3_image_hover_path = last_projects.project3.image_hover_path.en;
    var project3_project_link = last_projects.project3.project_link.en;
    var project3_code_link = last_projects.project3.code_link.en;
    var project4_title = last_projects.project4.title.en;
    var project4_description = last_projects.project4.description.en;
    var project4_image_path = last_projects.project4.image_path.en;
    var project4_image_hover_path = last_projects.project4.image_hover_path.en;
    var project4_project_link = last_projects.project4.project_link.en;
    var project4_code_link = last_projects.project4.code_link.en;
    var project5_title = last_projects.project5.title.en;
    var project5_description = last_projects.project5.description.en;
    var project5_image_path = last_projects.project5.image_path.en;
    var project5_image_hover_path = last_projects.project5.image_hover_path.en;
    var project5_project_link = last_projects.project5.project_link.en;
    var project5_code_link = last_projects.project5.code_link.en;
    var project6_title = last_projects.project6.title.en;
    var project6_description = last_projects.project6.description.en;
    var project6_image_path = last_projects.project6.image_path.en;
    var project6_image_hover_path = last_projects.project6.image_hover_path.en;
    var project6_project_link = last_projects.project6.project_link.en;
    var project6_code_link = last_projects.project6.code_link.en;
} else if ( languaje === 'pt' ) {
    var projects_title = last_projects.title.pt;
    var project1_title = last_projects.project1.title.pt;
    var project1_description = last_projects.project1.description.pt;
    var project1_image_path = last_projects.project1.image_path.pt;
    var project1_image_hover_path = last_projects.project1.image_hover_path.pt;
    var project1_project_link = last_projects.project1.project_link.pt;
    var project1_code_link = last_projects.project1.code_link.pt;
    var project2_title = last_projects.project2.title.pt;
    var project2_description = last_projects.project2.description.pt;
    var project2_image_path = last_projects.project2.image_path.pt;
    var project2_image_hover_path = last_projects.project2.image_hover_path.pt;
    var project2_project_link = last_projects.project2.project_link.pt;
    var project2_code_link = last_projects.project2.code_link.pt;
    var project3_title = last_projects.project3.title.pt;
    var project3_description = last_projects.project3.description.pt;
    var project3_image_path = last_projects.project3.image_path.pt;
    var project3_image_hover_path = last_projects.project3.image_hover_path.pt;
    var project3_project_link = last_projects.project3.project_link.pt;
    var project3_code_link = last_projects.project3.code_link.pt;
    var project4_title = last_projects.project4.title.pt;
    var project4_description = last_projects.project4.description.pt;
    var project4_image_path = last_projects.project4.image_path.pt;
    var project4_image_hover_path = last_projects.project4.image_hover_path.pt;
    var project4_project_link = last_projects.project4.project_link.pt;
    var project4_code_link = last_projects.project4.code_link.pt;
    var project5_title = last_projects.project5.title.pt;
    var project5_description = last_projects.project5.description.pt;
    var project5_image_path = last_projects.project5.image_path.pt;
    var project5_image_hover_path = last_projects.project5.image_hover_path.pt;
    var project5_project_link = last_projects.project5.project_link.pt;
    var project5_code_link = last_projects.project5.code_link.pt;
    var project6_title = last_projects.project6.title.pt;
    var project6_description = last_projects.project6.description.pt;
    var project6_image_path = last_projects.project6.image_path.pt;
    var project6_image_hover_path = last_projects.project6.image_hover_path.pt;
    var project6_project_link = last_projects.project6.project_link.pt;
    var project6_code_link = last_projects.project6.code_link.pt;
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<section class="projects">
    <h1>{projects_title} <Prompt /></h1>
    <div>
        <ProjectCard
            title={project1_title}
            description={project1_description}
            image_path={project1_image_path}
            image_hover_path={project1_image_hover_path}
            project_link={project1_project_link}
            code_link={project1_code_link}
        />
        <ProjectCard
            title={project2_title}
            description={project2_description}
            image_path={project2_image_path}
            image_hover_path={project2_image_hover_path}
            project_link={project2_project_link}
            code_link={project2_code_link}
        />
        <ProjectCard
            title={project3_title}
            description={project3_description}
            image_path={project3_image_path}
            image_hover_path={project3_image_hover_path}
            project_link={project3_project_link}
            code_link={project3_code_link}
        />
        <ProjectCard
            title={project4_title}
            description={project4_description}
            image_path={project4_image_path}
            image_hover_path={project4_image_hover_path}
            project_link={project4_project_link}
            code_link={project4_code_link}
        />
        <ProjectCard
            title={project5_title}
            description={project5_description}
            image_path={project5_image_path}
            image_hover_path={project5_image_hover_path}
            project_link={project5_project_link}
            code_link={project5_code_link}
        />
        <ProjectCard
            title={project6_title}
            description={project6_description}
            image_path={project6_image_path}
            image_hover_path={project6_image_hover_path}
            project_link={project6_project_link}
            code_link={project6_code_link}
        />
    </div>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
    .projects {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.projects > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
	}
	@media (max-width: 1500px) {
		.projects > div {
			justify-content: space-around;;
		}
	}

	h1 {
		position: sticky;
		top: var(--sticky_top_default);
        z-index: 1;
	}

	@media (max-width: 649px) {
		h1 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		h1 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		h1 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		h1 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		h1 {
			top: var(--sticky_top_229px);
		}
	}
</style>