---
import ProjectCard from '@components/ProjectCard.astro';
import Prompt from '@icons/Prompt.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { last_projects } = await import('@portfolio/last_projects.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const all_pages_list = await Astro.glob('../pages/*.astro');
const currentPath = Astro.url.pathname;

// Get list of all projects
const projects_list = [];
for (const project in last_projects) {
    if (project.includes('project') && project != 'view_all_projects' && project != 'have_you_seen_these_projects') {
        projects_list.push(project);
    }
}

if ( languaje === 'es' ) {
    var projects_title = last_projects.title.es;
} else if ( languaje === 'en' ) {
    var projects_title = last_projects.title.en;
} else if ( languaje === 'pt' ) {
    var projects_title = last_projects.title.pt;
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<section class="projects">
    <h1>{projects_title} <Prompt /></h1>
    <div>
        {languaje === 'es' && (
            <>
                {projects_list.reverse().map((projectKey) => (
                    <ProjectCard 
                        title={last_projects[projectKey].title.es} 
                        description={last_projects[projectKey].description.es} 
                        image_path={last_projects[projectKey].image_path.es} 
                        image_hover_path={last_projects[projectKey].image_hover_path.es}
                        project_link={last_projects[projectKey].project_link.es} 
                        code_link={last_projects[projectKey].code_link.es}
                        languaje={languaje}
                    />
                ))}
            </>
        )}
        {languaje === 'en' && (
            <>
                {projects_list.reverse().map((projectKey) => (
                    <ProjectCard 
                        title={last_projects[projectKey].title.en} 
                        description={last_projects[projectKey].description.en} 
                        image_path={last_projects[projectKey].image_path.en} 
                        image_hover_path={last_projects[projectKey].image_hover_path.en}
                        project_link={last_projects[projectKey].project_link.en} 
                        code_link={last_projects[projectKey].code_link.en}
                        languaje={languaje}
                    />
                ))}
            </>
        )}
        {languaje === 'pt' && (
            <>
                {projects_list.reverse().map((projectKey) => (
                    <ProjectCard 
                        title={last_projects[projectKey].title.pt} 
                        description={last_projects[projectKey].description.pt} 
                        image_path={last_projects[projectKey].image_path.pt} 
                        image_hover_path={last_projects[projectKey].image_hover_path.pt}
                        project_link={last_projects[projectKey].project_link.pt} 
                        code_link={last_projects[projectKey].code_link.pt}
                        languaje={languaje}
                    />
                ))}
            </>
        )}
    </div>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
    .projects {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.projects > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
	}
	@media (max-width: 1500px) {
		.projects > div {
			justify-content: space-around;;
		}
	}

	h1 {
		position: sticky;
		top: var(--sticky_top_default);
        z-index: 1;
	}

	@media (max-width: 649px) {
		h1 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		h1 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		h1 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		h1 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		h1 {
			top: var(--sticky_top_229px);
		}
	}
</style>