---
import PostCard from '@components/PostCard.astro';
import RocketIcon from '@icons/RocketIcon.astro';

const { last_tips } = await import('@portfolio/last_tips.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

// Get list of all tips
const tips_list = [];
for (const tip in last_tips) {
    if (tip.includes('tip') && tip != 'view_last_tips' && tip != 'tips_page_link' && tip != 'Do_you_want_to_improve_with_these_tips') {
        tips_list.push(tip);
    }
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;

const color_white = colors.white;
---

<section class="tips">
    <h1>Tips <RocketIcon /></h1>
    <div>
        {languaje === 'es' && (
            <>
                {tips_list.reverse().map((postKey) => (
                    <PostCard 
                        title={last_tips[postKey].title.es} 
                        description={last_tips[postKey].description.es} 
                        image_path={last_tips[postKey].image_path.es} 
                        post_link={last_tips[postKey].post_link.es} 
                    />
                ))}
            </>
        )}
        {languaje === 'en' && (
            <>
                {tips_list.reverse().map((postKey) => (
                    <PostCard 
                        title={last_tips[postKey].title.en} 
                        description={last_tips[postKey].description.en} 
                        image_path={last_tips[postKey].image_path.en} 
                        post_link={last_tips[postKey].post_link.en} 
                    />
                ))}
            </>
        )}
        {languaje === 'pt' && (
            <>
                {tips_list.reverse().map((postKey) => (
                    <PostCard 
                        title={last_tips[postKey].title.es} 
                        description={last_tips[postKey].description.es} 
                        image_path={last_tips[postKey].image_path.es} 
                        post_link={last_tips[postKey].post_link.es} 
                    />
                ))}
            </>
        )}
    </div>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
    color_white,
}}>
	.tips {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.tips > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 50px;
	}

    h1 {
		position: sticky;
		top: var(--sticky_top_default);
        z-index: 1;
	}

	@media (max-width: 649px) {
	h1 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
	h1 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
	h1 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
	h1 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
	h1 {
			top: var(--sticky_top_229px);
		}
	}

    a {
        color: var(--color_white);
    }
</style>
