---
import CountryFlag from "./CountryFlag.astro";

const { svg_paths } = await import('@portfolio/consts.json');

interface Props {
    country_flag_svg_path_1: string,
    country_flag_alt_1: string,
    country_flag_href_1: string,
    country_flag_svg_path_2: string,
    country_flag_alt_2: string,
    country_flag_href_2: string,
}

const {
    country_flag_svg_path_1,
    country_flag_alt_1,
    country_flag_href_1,
    country_flag_svg_path_2,
    country_flag_alt_2,
    country_flag_href_2,
} = Astro.props;
---

<div>
    <CountryFlag
        img_path={country_flag_svg_path_1}, 
        img_alt={country_flag_alt_1},
        href={country_flag_href_1}
    ></CountryFlag>
    <CountryFlag
        img_path={country_flag_svg_path_2}, 
        img_alt={country_flag_alt_2},
        href={country_flag_href_2}
    ></CountryFlag>
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px
    }
</style>