---
interface Props {
    languaje: string,
    src: string,
    title: string,
    description: string,
}

const {
    languaje,
    src,
    title,
    description,
} = Astro.props;

const frameborder = "0"
const width = "100%"
const height = "560px"

const { color_palette } = await import('@portfolio/consts.json');

const dataset_card_border_color = color_palette.color_300_transparent;
const dataset_card_background_color = color_palette.color_1500_transparent;
const dataset_box_shadow_color = color_palette.color_500;
---

<article class="dataset-item">
    <h3>{title}</h3>
    <p>{description}</p>
    <iframe
        src={src}
        frameborder={frameborder}
        width={width}
        height={height}
        title={title}
        sandbox
    ></iframe>
</article>

<style define:vars={{dataset_card_border_color, dataset_card_background_color, dataset_box_shadow_color}}>
    .dataset-item {
        border: var(--dataset_card_border_color) 1px solid;
		border-radius: 7px;
		background-color: var(--dataset_card_background_color);
		box-shadow: 3px 3px 6px 0 hsla(0, 0%, 100%, 0.3);

        padding: 30px 30px 30px 30px;
		margin: 0px 0px 30px 0px;
        box-sizing: border-box;
    }
	@media (max-width: 375px) {
		.dataset-item {
			padding: 0px 0px 20px 0px;
		}
	}

    iframe {
        border: 1px solid #ccc;
        border-radius: 7px;
        box-shadow: 0 60px 60px -60px var(--dataset_box_shadow_color);
    }

    h3 {
        margin: 30px 0px 10px 0px;
        padding: 0px;
    }
</style>