---
interface Props {
    languaje: string,
    src: string,
    title: string,
    description: string,
}

const {
    languaje,
    src,
    title,
    description,
} = Astro.props;

const frameborder = "0"
const width = "100%"
const height = "560px"
---

<article class="dataset-item">
    <h3>{title}</h3>
    <p>{description}</p>
    <iframe
        src={src}
        frameborder={frameborder}
        width={width}
        height={height}
    ></iframe>
</article>

<style>
    iframe {
        border: 1px solid #ccc;
        border-radius: 7px;
    }

    h3 {
        margin: 0px;
        padding: 0px;
    }
</style>