---
interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { experiences } = await import('@portfolio/last_experience.json');
const { last_posts } = await import('@portfolio/last_posts.json');
const { color_palette } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

// Get list of all experience items
const experiences_list = [];
for (const experience in experiences) {
    if (experience.includes('experience') && experience != 'view_full_experience_text' && experience != 'view_full_experience_href') {
        experiences_list.push(experience);
    }
}
const last_experience = experiences_list[experiences_list.length - 1];
const len_experiences_list = experiences_list.length;

const currentPath = Astro.url.pathname;

if ( languaje.toLowerCase() === 'es' ) {
    var experience = experiences.title.es;
    var responsibilities = "Responsabilidades";
    var keyAccomplishments = "Logros";
    var technologies = "Tecnologías";
} else if ( languaje.toLowerCase() === 'en' ) {
    var experience = experiences.title.en;
    var responsibilities = "Responsibilities";
    var keyAccomplishments = "Key Accomplishments";
    var technologies = "Technologies";
} else if ( languaje.toLowerCase() === 'pt' ) {
    var experience = experiences.title.es;
    var responsibilities = "Responsabilidades";
    var keyAccomplishments = "Logros";
    var technologies = "Tecnologías";
}

let isCurrentPathIndex = false;
if ( currentPath !== '/' && currentPath !== '/en/' && currentPath !== '/pt-br/' ) {
    isCurrentPathIndex = false;
} else {
    isCurrentPathIndex = true;
}

const experience_card_border_color = color_palette.color_300_transparent;
const experience_card_background_color = color_palette.color_1500_transparent;
const content_color = colors.color_white;
const technology_pill_background_color = color_palette.color_900;
const technology_pill_border_color = color_palette.color_500;
const technology_pill_color = color_palette.color_100;
---

<section>
    <h2>{experience}</h2>
    <div class="esperiencies">
        {languaje.toLowerCase() === 'es' && (
            <>
                {experiences_list.reverse().map((postKey) => (
                    <div class="experience-card">
                        <p class="date">{experiences[postKey].es.startDate}/{experiences[postKey].es.endDate}</p>
                        <div class="experience-content">
                            <div class="title">
                                <h3>{experiences[postKey].es.title}</h3>
                                <div class="subtitle">
                                    <a href={experiences[postKey].pt.companyLink} target="_blank" rel="nofollow noreferrer">{experiences[postKey].es.company}</a>
                                    <p>-</p>
                                    <p class="location">{experiences[postKey].es.location}</p>
                                </div>
                            </div>
                            <div class="subtitle">
                                <p class="description">{experiences[postKey].es.description}</p>
                            </div>
                            {((postKey === last_experience && isCurrentPathIndex) || (!isCurrentPathIndex)) && (
                                <h4>{responsibilities}</h4>
                                <ul class="experience-ul">
                                    {experiences[postKey].es.responsibilities.map((responsibility) => (
                                        <li class="resposibility">{responsibility}</li>
                                    ))}
                                </ul>
                                <h4>{keyAccomplishments}</h4>
                                <ul class="experience-ul">
                                    {experiences[postKey].es.keyAccomplishments.map((keyAccomplishment) => (
                                        <li class="keyAccomplishment">{keyAccomplishment}</li>
                                    ))}
                                </ul>
                            )}
                            <ul class="technologies-ul">
                                {experiences[postKey].es.technologies.map((technology) => (
                                    <li class="technology">{technology}</li>
                                ))}
                            </ul>
                        </div>
                    </div>
                ))}
            </>
        )}
        {languaje.toLowerCase() === 'en' && (
        <>
            {experiences_list.reverse().map((postKey) => (
                <div class="experience-card">
                    <p class="date">{experiences[postKey].en.startDate}/{experiences[postKey].en.endDate}</p>
                    <div class="experience-content">
                        <div class="title">
                            <h3>{experiences[postKey].en.title}</h3>
                            <div class="subtitle">
                                <a href={experiences[postKey].pt.companyLink} target="_blank" rel="nofollow noreferrer">{experiences[postKey].en.company}</a>
                                <p>-</p>
                                <p class="location">{experiences[postKey].en.location}</p>
                            </div>
                        </div>
                        <div class="subtitle">
                            <p class="description">{experiences[postKey].en.description}</p>
                        </div>
                        {((postKey === last_experience && isCurrentPathIndex) || (!isCurrentPathIndex)) && (
                            <h4>{responsibilities}</h4>
                            <ul class="experience-ul">
                                {experiences[postKey].en.responsibilities.map((responsibility) => (
                                    <li class="resposibility">{responsibility}</li>
                                ))}
                            </ul>
                            <h4>{keyAccomplishments}</h4>
                            <ul class="experience-ul">
                                {experiences[postKey].en.keyAccomplishments.map((keyAccomplishment) => (
                                    <li class="keyAccomplishment">{keyAccomplishment}</li>
                                ))}
                            </ul>
                        )}
                        <ul class="technologies-ul">
                            {experiences[postKey].en.technologies.map((technology) => (
                                <li class="technology">{technology}</li>
                            ))}
                        </ul>
                    </div>
                </div>
            ))}
        </>
    )}
    {languaje.toLowerCase() === 'pt' && (
        <>
            {experiences_list.reverse().map((postKey) => (
                <div class="experience-card">
                    <p class="date">{experiences[postKey].pt.startDate}/{experiences[postKey].pt.endDate}</p>
                    <div class="experience-content">
                        <div class="title">
                            <h3>{experiences[postKey].pt.title}</h3>
                            <div class="subtitle">
                                <a href={experiences[postKey].pt.companyLink} target="_blank" rel="nofollow noreferrer">{experiences[postKey].pt.company}</a>
                                <p>-</p>
                                <p class="location">{experiences[postKey].pt.location}</p>
                            </div>
                        </div>
                        <div class="subtitle">
                            <p class="description">{experiences[postKey].pt.description}</p>
                        </div>
                        {((postKey === last_experience && isCurrentPathIndex) || (!isCurrentPathIndex)) && (
                            <h4>{responsibilities}</h4>
                            <ul class="experience-ul">
                                {experiences[postKey].pt.responsibilities.map((responsibility) => (
                                    <li class="resposibility">{responsibility}</li>
                                ))}
                            </ul>
                            <h4>{keyAccomplishments}</h4>
                            <ul class="experience-ul">
                                {experiences[postKey].pt.keyAccomplishments.map((keyAccomplishment) => (
                                    <li class="keyAccomplishment">{keyAccomplishment}</li>
                                ))}
                            </ul>
                        )}
                        <ul class="technologies-ul">
                            {experiences[postKey].pt.technologies.map((technology) => (
                                <li class="technology">{technology}</li>
                            ))}
                        </ul>
                    </div>
                </div>
            ))}
        </>
    )}
    </div>
    {languaje.toLowerCase() === 'es' && isCurrentPathIndex && (
        <a href={experiences.view_full_experience_href.es} class="view-full-experience">{experiences.view_full_experience_text.es}</a>
    )}
    {languaje.toLowerCase() === 'en' && isCurrentPathIndex && (
        <a href={experiences.view_full_experience_href.en} class="view-full-experience">{experiences.view_full_experience_text.en}</a>
    )}
    {languaje.toLowerCase() === 'pt' && isCurrentPathIndex && (
        <a href={experiences.view_full_experience_href.pt} class="view-full-experience">{experiences.view_full_experience_text.pt}</a>
    )}
</section>

<style define:vars={{
	colors,
	experience_card_border_color,
	experience_card_background_color,
	content_color,
    technology_pill_background_color,
    technology_pill_border_color,
    technology_pill_color,
}}>
    .experiencies {
        padding: 0px;
        margin: 0px;
    }

    .experience-card {
        display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		border: var(--experience_card_border_color) 1px solid;
		border-radius: 7px;
		background-color: var(--experience_card_background_color);
		box-shadow: 3px 3px 6px 0 hsla(0, 0%, 100%, 0.3);
		width: 100%;
		padding: 30px 0px;
		margin: 30px 0px;
		color: var(--content_color);
		text-decoration: none;
    }
    @media (max-width: 768px) {
        .experience-card {
            flex-direction: column;
        }
    }

    .date {
        font-size: 0.8em;
        padding-top: 7px;
        text-wrap: nowrap;
        width: 150px;
        margin-left: 10px;
    }
    @media (max-width: 768px) {
        .experience-card {
            padding: 10px 0px;
            margin: 0px;
        }
    }

    .experience-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
    h3 {
        margin: 0;
        padding: 0;
    }
    .company {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 0px;
    }
    @media (max-width: 768px) {
        .title {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }
    }

    .subtitle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 20px;
    }
    .description {
        margin: 0;
        padding: 0;
        text-wrap: pretty;
    }

    p {
        margin: 0;
        padding: 0;
    }

    h4 {
        margin: 20px 0px 0px 0px;
        padding: 0px;
        text-decoration: underline;
    }

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .technologies-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 20px;
        padding-top: 30px;
        padding-left: 0px;
    }

    .technology{
        background: var(--technology_pill_background_color);
        border-radius: 50px;
        color: var(--technology_pill_color);
        padding: 5px 30px;
        box-shadow: 1px 1px 1px 0 hsla(0, 0%, 90%, 0.6);
    }
</style>