---
import Button from '../components/Button.astro';

const { color_palette } = await import('../../consts.json');

interface Props {text: string}

const {text} = Astro.props;

const background_color = color_palette.color_800;
const border_color = color_palette.color_600;
const font_color = color_palette.color_950;
---

<Button
    text={text}
    background_color={background_color}
    border_color={border_color}
    font_color={font_color}
></Button>
