---
import SocialLinks from './SocialLinks.astro';
import GoToSite from './GoToSite.astro';

interface Props {
    huggingface_svg_path: string;
    github_svg_path: string;
    linkedin_svg_path: string;
    x_svg_path: string;
    kaggle_svg_path: string;
    facebook_svg_path: string;
    instagram_svg_path: string;
    tiktok_svg_path: string;
    twitch_svg_path: string;
    youtube_svg_path: string;
    curriculum_svg_path: string;
    huggingface_link: string;
    github_link: string;
    linkedin_link: string;
    x_link: string;
    kaggle_link: string;
    facebook_link: string;
    instagram_link: string;
    tiktok_link: string;
    twitch_link: string;
    youtube_link: string;
    curriculum_link: string;
    portfolio_link: string;
    color_white: string;
}

const { 
    huggingface_svg_path,
    github_svg_path,
    linkedin_svg_path,
    x_svg_path,
    kaggle_svg_path,
    facebook_svg_path,
    instagram_svg_path,
    tiktok_svg_path,
    twitch_svg_path,
    youtube_svg_path,
    curriculum_svg_path,
    huggingface_link,
    github_link,
    linkedin_link,
    x_link,
    kaggle_link,
    facebook_link,
    instagram_link,
    tiktok_link,
    twitch_link,
    youtube_link,
    curriculum_link,
    portfolio_link,
    color_white,
} = Astro.props;

const debug_outline = '0px';
---

<footer>
    <SocialLinks
        huggingface_svg_path={huggingface_svg_path}
        github_svg_path={github_svg_path}
        linkedin_svg_path={linkedin_svg_path}
        x_svg_path={x_svg_path}
        kaggle_svg_path={kaggle_svg_path}
        facebook_svg_path={facebook_svg_path}
        instagram_svg_path={instagram_svg_path}
        tiktok_svg_path={tiktok_svg_path}
        twitch_svg_path={twitch_svg_path}
        youtube_svg_path={youtube_svg_path}
        curriculum_svg_path={curriculum_svg_path}
        huggingface_link={huggingface_link}
        github_link={github_link}
        linkedin_link={linkedin_link}
        x_link={x_link}
        kaggle_link={kaggle_link}
        facebook_link={facebook_link}
        instagram_link={instagram_link}
        tiktok_link={tiktok_link}
        twitch_link={twitch_link}
        youtube_link={youtube_link}
        curriculum_link={curriculum_link}
    ></SocialLinks>
    <GoToSite 
        text="Page code"
        svg="/icons/arrow-up-right-from-square.svg"
        url={portfolio_link}
        border_color="transparent"
        background_color="transparent"
    />
    <div class="rigth-footer"></div>
</footer>

<style define:vars={{debug_outline, color_white}}>
    footer {
        margin-top: 200px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>