---
const { color_palette } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {
	text: string;
	svg: string;
    url: string;
	target: string;
    background_color: string;
}

const { 
    text,
    svg,
    url,
	target,
    background_color,
} = Astro.props;

const border_color = color_palette.color_300_transparent;
const font_color = colors.color_white;

let rel = '';
if (target === '_blank') {
    rel = 'noopener noreferrer';
}
---

<a href={url} target={target} rel={rel}>
    <p class="text">{text}</p>
    <img src={svg} alt="arrow svg" loading="lazy" loading="lazy" />
</a>

<style define:vars={{background_color, border_color, font_color}}>
    img {
        width: 20px;
        height: 20px;
    }

    a {
        text-decoration: none;
        color: var(--font_color);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        border: 1px solid var(--border_color);
        border-radius: 7px;
        padding: 0px 10px;
        background-color: var(--background_color);
        box-shadow: 3px 3px 6px 0 hsla(0, 0%, 100%, 0.3);
        width: fit-content;
    }

    @media (max-width: 418px) {
        .text {
            font-size: 0.7rem;
        }
    }
</style>
