---
const { colors } = await import('@portfolio/consts.json');
const { color_palette } = await import('@portfolio/consts.json');

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

let link_projects_string = 'Proyectos';
let link_blog_string = 'Blog';
let link_dockers_string = 'Dockers IA';
let link_tips_string = 'Tips';
let link_datasets_string = 'Mis datasets';
let link_projects_href = '/projects';
let link_blog_href = '/blog';
let link_dockers_href = '/dockers';
let link_tips_href = '/tips';
let link_datasets_href = '/datasets';
if (languaje.toLowerCase() === 'en') {
	link_projects_string = 'Projects';
	link_blog_string = 'Blog';
	link_dockers_string = 'IA Dockers';
	link_tips_string = 'Tips';
	link_datasets_string = 'My datasets';
	link_projects_href = '/en/projects';
	link_blog_href = '/en/blog';
	link_dockers_href = '/en/dockers';
	link_tips_href = '/en/tips';
	link_datasets_href = '/en/datasets';
} else if (languaje.toLowerCase() === 'pt') {
	link_projects_string = 'Projetos';
	link_blog_string = 'Blog';
	link_dockers_string = 'Dockers IA';
	link_tips_string = 'Dicas';
	link_datasets_string = 'Meus datasets';
	link_projects_href = '/pt-br/projects';
	link_blog_href = '/pt-br/blog';
	link_dockers_href = '/pt-br/dockers';
	link_tips_href = '/pt-br/tips';
	link_datasets_href = '/pt-br/datasets';
}

const hamburger_color_no_selected = colors.color_white;
const hamburger_color_selected = color_palette.color_1050;
const background_color = color_palette.color_950;
const anchor_hover_color = color_palette.color_500;
---

<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href={link_projects_href}><li>{link_projects_string}</li></a>
			<a href={link_blog_href}><li>{link_blog_string}</li></a>
			<a href={link_dockers_href}><li>{link_dockers_string}</li></a>
			<a href={link_tips_href}><li>{link_tips_string}</li></a>
			<a href={link_datasets_href}><li>{link_datasets_string}</li></a>
        </ul>
    </div>
</nav>

<style define:vars={{
	hamburger_color_no_selected,
	hamburger_color_selected,
	background_color,
	anchor_hover_color,
}}>
	a{
		text-decoration: none;
    }
    a:hover{
        color: var(--anchor_hover_color);
    }

    #menuToggle{
        display: block;
        position: relative;
        z-index: 10;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    #menuToggle span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: var(--hamburger_color_no_selected);
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child{
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: var(--hamburger_color_selected);
        background: black;
    }

    #menuToggle input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu{
        position: absolute;
        width: max-content;
        margin: -100px 0 0 -40px;
        padding: 0px 0px 20px 30px;
        padding-top: 125px;

        background: var(--background_color);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0) scale(0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li{
        padding: 5px 30px 5px 0px;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul{
        transform: none;
    }
</style>