---
import Home from '@components/Home.astro';
import SocialLinks from '@components/SocialLinks.astro';
import CountriesFlags from '@components/CountriesFlags.astro';
import { ViewTransitions } from 'astro:transitions'

const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const font_color = colors.color_white;

var currentPath = Astro.url.pathname;
if ( currentPath.slice(0,4) == '/en/')
{
    currentPath = currentPath.slice(3)
} else if ( currentPath.slice(0,4) == '/pt-')
{
    currentPath = currentPath.slice(6)
}

let home_url = '/';
var country_flag_svg_path_1 = svg_paths.united_states_flag_svg_path;
var country_flag_alt_1 = 'English flag';
var country_flag_href_1 = '/en' + currentPath;
var country_flag_svg_path_2 = svg_paths.brazil_flag_svg_path;
var country_flag_alt_2 = 'Portuguesse flag';
var country_flag_href_2 = '/pt-br' + currentPath;

if ( languaje.toUpperCase() == 'EN' ) {
    home_url = '/en/';

    country_flag_svg_path_1 = svg_paths.spain_flag_svg_path;
    country_flag_alt_1 = 'Spanish flag';
    country_flag_href_1 = currentPath;
} else if ( languaje.toUpperCase() == 'PT' ) {
    home_url = '/pt-br/';

    country_flag_svg_path_1 = svg_paths.spain_flag_svg_path;
    country_flag_alt_1 = 'Spanish flag';
    country_flag_href_1 = currentPath;
    country_flag_svg_path_2 = svg_paths.united_states_flag_svg_path;
    country_flag_alt_2 = 'English flag';
    country_flag_href_2 = '/en' + currentPath;
}
---

<header>
    <Home
        title="MaximoFN", 
        url={home_url},
        icon="/icons/MFN-512x512.webp"
    ></Home>
    <div class=rigth-header>
        <div class=header-links>
            <a href="/blog">Proyectos</a>
            <a href="/blog">Blog</a>
            <a href="/blog">Contacto</a>
        </div>
        <SocialLinks></SocialLinks>
        <CountriesFlags
            country_flag_svg_path_1={country_flag_svg_path_1}
            country_flag_alt_1={country_flag_alt_1}
            country_flag_href_1={country_flag_href_1}
            country_flag_svg_path_2={country_flag_svg_path_2}
            country_flag_alt_2={country_flag_alt_2}
            country_flag_href_2={country_flag_href_2}
        ></CountriesFlags>
    </div>
    <ViewTransitions />
</header>

<style define:vars={{font_color}}>
    .rigth-header {
        display: flex;
        flex-direction: row;
        flex-flow: wrap-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 20px
    }

    .header-links {
        display: flex;
        flex-direction: row-reverse;
        flex-flow: wrap-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: var(--font_color);
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        padding: 0px 20px;
        position: sticky;
        top: 0;
        backdrop-filter: blur(2px);
        padding-top: 20px;
    }
</style>