---
import Home from './Home.astro';
import SocialLinks from './SocialLinks.astro';
import CountriesFlags from './CountriesFlags.astro';

interface Props {
	title: string;
	url: string;
	icon: string;
    huggingface_svg_path: string;
    github_svg_path: string;
    linkedin_svg_path: string;
    x_svg_path: string;
    kaggle_svg_path: string;
    facebook_svg_path: string;
    instagram_svg_path: string;
    tiktok_svg_path: string;
    twitch_svg_path: string;
    youtube_svg_path: string;
    curriculum_svg_path: string;
    spain_flag_svg_path: string;
    united_states_flag_svg_path: string;
    brazil_flag_svg_path: string;
    huggingface_link: string;
    github_link: string;
    linkedin_link: string;
    x_link: string;
    kaggle_link: string;
    facebook_link: string;
    instagram_link: string;
    tiktok_link: string;
    twitch_link: string;
    youtube_link: string;
    curriculum_link: string;
    color_white: string;
}

const { 
	title,
	url,
	icon,
    huggingface_svg_path,
    github_svg_path,
    linkedin_svg_path,
    x_svg_path,
    kaggle_svg_path,
    facebook_svg_path,
    instagram_svg_path,
    tiktok_svg_path,
    twitch_svg_path,
    youtube_svg_path,
    curriculum_svg_path,
    spain_flag_svg_path,
    united_states_flag_svg_path,
    brazil_flag_svg_path,
    huggingface_link,
    github_link,
    linkedin_link,
    x_link,
    kaggle_link,
    facebook_link,
    instagram_link,
    tiktok_link,
    twitch_link,
    youtube_link,
    curriculum_link,
    color_white,
} = Astro.props;

const debug_outline = '0px';
---

<header>
    <Home
        title="MaximoFN", 
        url='/'
        icon="/icons/MFN-512x512.webp"
    ></Home>
    <div class=rigth-header>
        <div class=header-links>
            <a href="/blog">Proyectos</a>
            <a href="/blog">Blog</a>
            <a href="/blog">Contacto</a>
        </div>
        <SocialLinks
            huggingface_svg_path={huggingface_svg_path}
            github_svg_path={github_svg_path}
            linkedin_svg_path={linkedin_svg_path}
            x_svg_path={x_svg_path}
            kaggle_svg_path={kaggle_svg_path}
            facebook_svg_path={facebook_svg_path}
            instagram_svg_path={instagram_svg_path}
            tiktok_svg_path={tiktok_svg_path}
            twitch_svg_path={twitch_svg_path}
            youtube_svg_path={youtube_svg_path}
            curriculum_svg_path={curriculum_svg_path}
            huggingface_link={huggingface_link}
            github_link={github_link}
            linkedin_link={linkedin_link}
            x_link={x_link}
            kaggle_link={kaggle_link}
            facebook_link={facebook_link}
            instagram_link={instagram_link}
            tiktok_link={tiktok_link}
            twitch_link={twitch_link}
            youtube_link={youtube_link}
            curriculum_link={curriculum_link}
        ></SocialLinks>
        <CountriesFlags
            spain_flag_svg_path={spain_flag_svg_path}
            united_states_flag_svg_path={united_states_flag_svg_path}
            brazil_flag_svg_path={brazil_flag_svg_path}
        ></CountriesFlags>
    </div>
</header>

<style define:vars={{debug_outline, color_white}}>
    .rigth-header {
        outline: var(--debug_outline) solid blue;
        display: flex;
        flex-direction: row;
        flex-flow: wrap-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 20px
    }

    .header-links {
        outline: var(--debug_outline) solid red;
        display: flex;
        flex-direction: row-reverse;
        flex-flow: wrap-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }

    a {
        outline: var(--debug_outline) solid yellow;
        text-decoration: none;
        color: var(--color_white);
    }

    header {
        outline: var(--debug_outline) solid green;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* width: 100%; */
        z-index: 10;
        padding: 0px 20px;
        position: sticky;
        top: 0;
        backdrop-filter: blur(2px);
        padding-top: 20px;
    }
</style>