---
import Home from '@components/Home.astro';
import SocialLinks from '@components/SocialLinks.astro';
import CountriesFlags from '@components/CountriesFlags.astro';
import Hamburguer from '@components/Hamburguer.astro';

const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const font_color = colors.color_white;

var currentPath = Astro.url.pathname;
if ( currentPath.slice(0,4) == '/en/')
{
    currentPath = currentPath.slice(3)
} else if ( currentPath.slice(0,4) == '/pt-')
{
    currentPath = currentPath.slice(6)
}

let home_url = '/';
var country_flag_svg_path_1 = svg_paths.united_states_flag_svg_path;
var country_flag_alt_1 = 'English flag';
var country_flag_href_1 = '/en' + currentPath;
var country_flag_svg_path_2 = svg_paths.brazil_flag_svg_path;
var country_flag_alt_2 = 'Portuguesse flag';
var country_flag_href_2 = '/pt-br' + currentPath;

var href_projects = '/projects';
var projects_text = 'Proyectos';
var href_blog = '/blog';
var blog_text = 'Blog';
var href_dockers = '/dockers';
var dockers_text = 'Dockers';
var href_tips = '/tips';
var tips_text = 'Tips';
var href_datasets = '/datasets';
var datasets_text = 'Datasets';

if ( languaje.toUpperCase() == 'EN' ) {
    home_url = '/en/';

    country_flag_svg_path_1 = svg_paths.spain_flag_svg_path;
    country_flag_alt_1 = 'Spanish flag';
    country_flag_href_1 = currentPath;

    href_projects = '/en/projects';
    projects_text = 'Projects';
    href_blog = '/en/blog';
    blog_text = 'Blog';
    href_dockers = '/en/dockers';
    dockers_text = 'Dockers';
    href_tips = '/en/tips';
    tips_text = 'Tips';
    href_datasets = '/en/datasets';
    datasets_text = 'Datasets';
} else if ( languaje.toUpperCase() == 'PT' ) {
    home_url = '/pt-br/';

    country_flag_svg_path_1 = svg_paths.spain_flag_svg_path;
    country_flag_alt_1 = 'Spanish flag';
    country_flag_href_1 = currentPath;
    country_flag_svg_path_2 = svg_paths.united_states_flag_svg_path;
    country_flag_alt_2 = 'English flag';
    country_flag_href_2 = '/en' + currentPath;

    href_projects = '/pt-br/projects';
    projects_text = 'Projetos';
    href_blog = '/pt-br/blog';
    blog_text = 'Blog';
    href_dockers = '/pt-br/dockers';
    dockers_text = 'Dockers';
    href_tips = '/pt-br/tips';
    tips_text = 'Tips';
    href_datasets = '/pt-br/datasets';
    datasets_text = 'Datasets';
}
---

<header id="header-nav">
    <Home
        title="MaximoFN", 
        url={home_url},
        icon="/icons/MFN-512x512.webp"
    ></Home>
    <div class=rigth-header>
        <ul class=header-links>
            <a href={href_projects}><li>{projects_text}</li></a>
            <a href={href_blog}><li>{blog_text}</li></a>
            <a href={href_dockers}><li>{dockers_text}</li></a>
            <a href={href_tips}><li>{tips_text}</li></a>
            <a href={href_datasets}><li>{datasets_text}</li></a>
        </ul>
        <Hamburguer languaje={languaje}></Hamburguer>
        <div class="social-links">
            <SocialLinks></SocialLinks>
        </div>
        <div class="countries-flags">
            <CountriesFlags
                country_flag_svg_path_1={country_flag_svg_path_1}
                country_flag_alt_1={country_flag_alt_1}
                country_flag_href_1={country_flag_href_1}
                country_flag_svg_path_2={country_flag_svg_path_2}
                country_flag_alt_2={country_flag_alt_2}
                country_flag_href_2={country_flag_href_2}
            ></CountriesFlags>
        </div>
    </div>
</header>

<style define:vars={{font_color}}>
    .rigth-header {
        display: flex;
        flex-direction: row;
        flex-flow: wrap-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }

    .header-links {
        display: flex;
        flex-direction: row-reverse;
        flex-flow: wrap-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    @media (max-width: 1024px) {
        .header-links {
            display: none;
        }
    }
    ul {
        text-decoration: none;
        list-style: none;
    }


    @media (max-width: 1024px) {
        .countries-flags {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        .social-links {
            display: none;
        }
    }

    a {
        text-decoration: none;
        color: var(--font_color);
        padding: 0.5rem;
        position: relative;

        /* &:hover {
            text-shadow: 0px 0px 0.25em currentColor;
        } */

        &::after, &::before {
            content: "";
            display: inline-block;
            position: absolute;
            height: 1px;
            background: currentColor;
            pointer-events: none;
            transition: all 400ms;
        }

        &::before {
            left: 0;
            right: 0;
            opacity: 0;
        }

        &::after {
            opacity: 0;
            left: -1em;
            right: -1em;
            border-radius: 50%;
        }

        &:hover::after {
            left: 0;
            right: 0;
            opacity: 1;
            box-shadow: 0px 0px 4px currentColor;
            border-radius: 0%;
        }
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        position: sticky;
        top: 0;
        padding-top: 20px;
        gap: 10px;
    }
</style>