---
import PostCard from '@components/PostCard.astro';
import AlingLeft2 from '@icons/AlingLeft2.astro';

const { posts } = await import('@portfolio/posts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const all_pages_list = await Astro.glob('../pages/*.astro');
const currentPath = Astro.url.pathname;

// Get list of all posts
const posts_list = [];
for (const post in posts) {
    if (post.includes('post') && post != 'view_last_posts' && post != 'posts_page_link') {
        posts_list.push(post);
    }
}

// Get the last 3 posts in reverse order, except the current post
let counter = 0;
let post1 = {};
let post2 = {};
let post3 = {};
for (let i = posts_list.length - 1; i >= 0; i--) {
    const post_list = posts[posts_list[i]].post_link.es
    // if (post_list !== currentPath) {
        if (counter === 0) {
            post1 = posts[posts_list[i]];
        } else if (counter === 1) {
            post2 = posts[posts_list[i]];
        } else if (counter === 2) {
            post3 = posts[posts_list[i]];
        }
        else {
            break;
        }
        counter++;
    // }
}

if ( languaje.toLowerCase() === 'es' ) {
    var section_title = posts.title.es;
    var posts_href = posts.posts_page_link.es;

    var post1_title = post1.title.es;
    var post1_description = post1.description.es;
    var post1_image_path = post1.image_path.es;
    var post1_link = post1.post_link.es;

    var post2_title = post2.title.es;
    var post2_description = post2.description.es;
    var post2_image_path = post2.image_path.es;
    var post2_link = post2.post_link.es;

    var post3_title = post3.title.es;
    var post3_description = post3.description.es;
    var post3_image_path = post3.image_path.es;
    var post3_link = post3.post_link.es;
} else if ( languaje.toLowerCase() === 'en' ) {
    var section_title = posts.title.en;
    var posts_href = posts.posts_page_link.en;

    var post1_title = post1.title.en;
    var post1_description = post1.description.en;
    var post1_image_path = post1.image_path.en;
    var post1_link = post1.post_link.en;

    var post2_title = post2.title.en;
    var post2_description = post2.description.en;
    var post2_image_path = post2.image_path.en;
    var post2_link = post2.post_link.en;

    var post3_title = post3.title.en;
    var post3_description = post3.description.en;
    var post3_image_path = post3.image_path.en;
    var post3_link = post3.post_link.en;
} else if ( languaje.toLowerCase() === 'pt' ) {
    var section_title = posts.title.pt;
    var posts_href = posts.posts_page_link.pt;

    var post1_title = post1.title.pt;
    var post1_description = post1.description.pt;
    var post1_image_path = post1.image_path.pt;
    var post1_link = post1.post_link.pt;

    var post2_title = post2.title.pt;
    var post2_description = post2.description.pt;
    var post2_image_path = post2.image_path.pt;
    var post2_link = post2.post_link.pt;

    var post3_title = post3.title.pt;
    var post3_description = post3.description.pt;
    var post3_image_path = post3.image_path.pt;
    var post3_link = post3.post_link.pt;
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;

const color_white = colors.white;
---

<section class="posts">
    <h2>{section_title} <AlingLeft2 /></h2>
    <div>
        <PostCard
            title={post1_title}
            description={post1_description}
            image_path={post1_image_path}
            post_link={post1_link}
        />
        <PostCard
            title={post2_title}
            description={post2_description}
            image_path={post2_image_path}
            post_link={post2_link}
        />
        <PostCard
            title={post3_title}
            description={post3_description}
            image_path={post3_image_path}
            post_link={post3_link}
        />
    </div>
    <a href={posts_href}>Ver todos los posts -&#45;&gt;</a>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
    color_white,
}}>
	.posts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.posts > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 50px;
	}

	.posts-title {
		position: sticky;
		top: var(--sticky_top_default);
	}

	@media (max-width: 649px) {
		.posts-title {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		.posts-title {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		.posts-title {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		.posts-title {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		.posts-title {
			top: var(--sticky_top_229px);
		}
	}

    a {
        color: var(--color_white);
    }
</style>
