---
import DatasetIcon from '@icons/DatasetIcon.astro';
import DatasetCard from '@components/DatasetCard.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { last_datasets } = await import('@portfolio/last_datasets.json');
const { colors } = await import('@portfolio/consts.json');

// Get list of all datasets
const datasets_list = [];
for (const dataset in last_datasets) {
    if (dataset.includes('dataset') && dataset != 'view_more_datasets' && dataset != 'datasets_page_link') {
        datasets_list.push(dataset);
    }
}

// Get the last 3 dockers in reverse order
let counter = 0;
let dataset1 = {};
let dataset2 = {};
let dataset3 = {};
for (let i = datasets_list.length - 1; i >= 0; i--) {
	if (counter === 0) {
		dataset1 = last_datasets[datasets_list[i]];
	} else if (counter === 1) {
		dataset2 = last_datasets[datasets_list[i]];
	} else if (counter === 2) {
		dataset3 = last_datasets[datasets_list[i]];
	}
	else {
		break;
	}
	counter++;
}

if ( languaje === 'es' ) {
    var datasets_title = last_datasets.title.es;
	var datasets_href = last_datasets.datasets_page_link.es;
	var view_more_datasets = last_datasets.view_more_datasets.es;

	var dataset1_title = dataset1.title;
	var dataset1_src = dataset1.src;
	var dataset1_description = dataset1.description.es;

	var dataset2_title = dataset2.title;
	var dataset2_src = dataset2.src;
	var dataset2_description = dataset2.description.es

	var dataset3_title = dataset3.title;
	var dataset3_src = dataset3.src;
	var dataset3_description = dataset3.description.es
} else if ( languaje === 'en' ) {
    var datasets_title = last_datasets.title.en;
	var datasets_href = last_datasets.datasets_page_link.en;
	var view_more_datasets = last_datasets.view_more_datasets.en;

	var dataset1_title = dataset1.title;
	var dataset1_src = dataset1.src;
	var dataset1_description = dataset1.description.en;

	var dataset2_title = dataset2.title;
	var dataset2_src = dataset2.src;
	var dataset2_description = dataset2.description.en

	var dataset3_title = dataset3.title;
	var dataset3_src = dataset3.src;
	var dataset3_description = dataset3.description.en
} else if ( languaje === 'pt' ) {
    var datasets_title = last_datasets.title.pt;
	var datasets_href = last_datasets.datasets_page_link.pt;
	var view_more_datasets = last_datasets.view_more_datasets.pt;

	var dataset1_title = dataset1.title;
	var dataset1_src = dataset1.src;
	var dataset1_description = dataset1.description.pt;

	var dataset2_title = dataset2.title;
	var dataset2_src = dataset2.src;
	var dataset2_description = dataset2.description.pt

	var dataset3_title = dataset3.title;
	var dataset3_src = dataset3.src;
	var dataset3_description = dataset3.description.pt
}
---

<section class="datasets">
    <h1>{datasets_title} <DatasetIcon /></h1>
    <div class="datasets-iframes">
		<DatasetCard 
			src={dataset1_src}
			title={dataset1_title}
			description={dataset1_description}
		/>
		<DatasetCard 
			src={dataset2_src}
			title={dataset2_title}
			description={dataset2_description}
		/>
		<DatasetCard 
			src={dataset3_src}
			title={dataset3_title}
			description={dataset3_description}
		/>
	</div>
	<a href={datasets_href}>{view_more_datasets}</a>
</section>

<style define:vars={{}}>
    .datasets {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 10px;
		width: 100%;
	}

	.datasets-iframes {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 40px;
		justify-content: space-between;
	}
</style>