---
import ProjectCard from '@components/ProjectCard.astro';
import DatasetIcon from '@icons/DatasetIcon.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { datasets } = await import('@portfolio/datasets.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

const frameborder = "0"
const width = "100%"
const height = "560px"

// Get list of all dockers
const datasets_list = [];
for (const dataset in datasets) {
    if (dataset.includes('dataset') && dataset != 'view_more_datasets' && dataset != 'datasets_page_link') {
        datasets_list.push(dataset);
    }
}

// Get the last 3 dockers in reverse order
let counter = 0;
let dataset1 = {};
let dataset2 = {};
let dataset3 = {};
for (let i = datasets_list.length - 1; i >= 0; i--) {
	if (counter === 0) {
		dataset1 = datasets[datasets_list[i]];
	} else if (counter === 1) {
		dataset2 = datasets[datasets_list[i]];
	} else if (counter === 2) {
		dataset3 = datasets[datasets_list[i]];
	}
	else {
		break;
	}
	counter++;
}

if ( languaje === 'es' ) {
    var datasets_title = datasets.title.es;
	var datasets_href = datasets.datasets_page_link.es;
	var view_more_datasets = datasets.view_more_datasets.es;

	var dataset1_title = dataset1.title;
	var dataset1_src = dataset1.src;
	var dataset1_description = dataset1.description.es;

	var dataset2_title = dataset2.title;
	var dataset2_src = dataset2.src;
	var dataset2_description = dataset2.description.es

	var dataset3_title = dataset3.title;
	var dataset3_src = dataset3.src;
	var dataset3_description = dataset3.description.es
} else if ( languaje === 'en' ) {
    var datasets_title = datasets.title.en;
	var dockers_href = datasets.datasets_page_link.en;
	var view_more_datasets = datasets.view_more_datasets.en;

	var dataset1_title = dataset1.title;
	var dataset1_src = dataset1.src;
	var dataset1_description = dataset1.description.en;

	var dataset2_title = dataset2.title;
	var dataset2_src = dataset2.src;
	var dataset2_description = dataset2.description.en

	var dataset3_title = dataset3.title;
	var dataset3_src = dataset3.src;
	var dataset3_description = dataset3.description.en
} else if ( languaje === 'pt' ) {
    var datasets_title = datasets.title.pt;
	var dockers_href = datasets.datasets_page_link.pt;
	var view_more_datasets = datasets.view_more_datasets.pt;

	var dataset1_title = dataset1.title;
	var dataset1_src = dataset1.src;
	var dataset1_description = dataset1.description.pt;

	var dataset2_title = dataset2.title;
	var dataset2_src = dataset2.src;
	var dataset2_description = dataset2.description.pt

	var dataset3_title = dataset3.title;
	var dataset3_src = dataset3.src;
	var dataset3_description = dataset3.description.pt
}

const go_to_site_no_transparent_target = '_blank';

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<section class="datasets">
    <h1>{datasets_title} <DatasetIcon /></h1>
    <div class="datasets-iframes">
		<article class="dataset-item">
			<h3>{dataset1_title}</h3>
			<p>{dataset1_description}</p>
			<iframe
				src={dataset1_src}
				frameborder={frameborder}
				width={width}
				height={height}
			></iframe>
		</article>
		<article class="dataset-item">
			<h3>{dataset2_title}</h3>
			<p>{dataset2_description}</p>
			<iframe
				src={dataset2_src}
				frameborder={frameborder}
				width={width}
				height={height}
			></iframe>
		</article>
		<article class="dataset-item">
			<h3>{dataset3_title}</h3>
			<p>{dataset3_description}</p>
			<iframe
				src={dataset3_src}
				frameborder={frameborder}
				width={width}
				height={height}
			></iframe>
		</article>
	</div>
	<a href={datasets_href}>{view_more_datasets}</a>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
    .datasets {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 10px;
		width: 100%;
	}

	.datasets-iframes {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 40px;
		justify-content: space-between;
	}

	h3 {
		margin: 0px;
		padding: 0px;
	}
</style>