---
import ProjectCard from '@components/ProjectCard.astro';
import DockerIcon from '@icons/DockerIcon.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { last_dockers } = await import('@portfolio/last_dockers.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

// Get list of all dockers
const dockers_list = [];
for (const docker in last_dockers) {
    if (docker.includes('docker') && docker != 'view_all_dockers' && docker != 'dockers_page_link') {
        dockers_list.push(docker);
    }
}

// Get the last 3 dockers in reverse order
let counter = 0;
let docker1 = {};
let docker2 = {};
let docker3 = {};
for (let i = dockers_list.length - 1; i >= 0; i--) {
	if (counter === 0) {
		docker1 = last_dockers[dockers_list[i]];
	} else if (counter === 1) {
		docker2 = last_dockers[dockers_list[i]];
	} else if (counter === 2) {
		docker3 = last_dockers[dockers_list[i]];
	}
	else {
		break;
	}
	counter++;
}

if ( languaje === 'es' ) {
    var dockers_title = last_dockers.title.es;
	var section_description_1 = last_dockers.section_description_1.es;
	var section_description_href = last_dockers.section_description_href.es;
	var section_description_2 = last_dockers.section_description_2.es;
	var dockers_href = last_dockers.dockers_page_link.es;
	var view_all_dockers = last_dockers.view_all_dockers.es;

	var docker1_title = docker1.title.es;
	var docker1_description = docker1.description.es;
	var docker1_image_path = docker1.image_path.es;
	var docker1_image_hover_path = docker1.image_hover_path.es;
	var docker1_project_link = docker1.project_link.es;
	var docker1_code_link = docker1.code_link.es;

	var docker2_title = docker2.title.es;
	var docker2_description = docker2.description.es;
	var docker2_image_path = docker2.image_path.es;
	var docker2_image_hover_path = docker2.image_hover_path.es;
	var docker2_project_link = docker2.project_link.es;
	var docker2_code_link = docker2.code_link.es;

	var docker3_title = docker3.title.es;
	var docker3_description = docker3.description.es;
	var docker3_image_path = docker3.image_path.es;
	var docker3_image_hover_path = docker3.image_hover_path.es;
	var docker3_project_link = docker3.project_link.es;
	var docker3_code_link = docker3.code_link.es;
} else if ( languaje === 'en' ) {
    var dockers_title = last_dockers.title.en;
	var section_description_1 = last_dockers.section_description_1.en;
	var section_description_href = last_dockers.section_description_href.en;
	var section_description_2 = last_dockers.section_description_2.en;
	var dockers_href = last_dockers.dockers_page_link.en;
	var view_all_dockers = last_dockers.view_all_dockers.en;

	var docker1_title = docker1.title.en;
	var docker1_description = docker1.description.en;
	var docker1_image_path = docker1.image_path.en;
	var docker1_image_hover_path = docker1.image_hover_path.en;
	var docker1_project_link = docker1.project_link.en;
	var docker1_code_link = docker1.code_link.en;

	var docker2_title = docker2.title.en;
	var docker2_description = docker2.description.en;
	var docker2_image_path = docker2.image_path.en;
	var docker2_image_hover_path = docker2.image_hover_path.en;
	var docker2_project_link = docker2.project_link.en;
	var docker2_code_link = docker2.code_link.en;

	var docker3_title = docker3.title.en;
	var docker3_description = docker3.description.en;
	var docker3_image_path = docker3.image_path.en;
	var docker3_image_hover_path = docker3.image_hover_path.en;
	var docker3_project_link = docker3.project_link.en;
	var docker3_code_link = docker3.code_link.en;
} else if ( languaje === 'pt' ) {
    var dockers_title = last_dockers.title.pt;
	var section_description_1 = last_dockers.section_description_1.pt;
	var section_description_href = last_dockers.section_description_href.pt;
	var section_description_2 = last_dockers.section_description_2.pt;
	var dockers_href = last_dockers.dockers_page_link.pt;
	var view_all_dockers = last_dockers.view_all_dockers.pt;

	var docker1_title = docker1.title.pt;
	var docker1_description = docker1.description.pt;
	var docker1_image_path = docker1.image_path.pt;
	var docker1_image_hover_path = docker1.image_hover_path.pt;
	var docker1_project_link = docker1.project_link.pt;
	var docker1_code_link = docker1.code_link.pt;

	var docker2_title = docker2.title.pt;
	var docker2_description = docker2.description.pt;
	var docker2_image_path = docker2.image_path.pt;
	var docker2_image_hover_path = docker2.image_hover_path.pt;
	var docker2_project_link = docker2.project_link.pt;
	var docker2_code_link = docker2.code_link.pt;

	var docker3_title = docker3.title.pt;
	var docker3_description = docker3.description.pt;
	var docker3_image_path = docker3.image_path.pt;
	var docker3_image_hover_path = docker3.image_hover_path.pt;
	var docker3_project_link = docker3.project_link.pt;
	var docker3_code_link = docker3.code_link.pt;
}

const go_to_site_no_transparent_target = '_blank';

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<section class="dockers">
    <h1>{dockers_title} <DockerIcon /></h1>
	<p>{section_description_1}<a href={section_description_href} target="_blank" rel="noopener noreferrer">{section_description_href}</a>{section_description_2}</p>
    <div>
		<ProjectCard 
			title={docker1_title}
			description={docker1_description}
			image_path={docker1_image_path}
			image_hover_path={docker1_image_hover_path}
			project_link={docker1_project_link}
			code_link={docker1_code_link}
			languaje={languaje}
			go_to_site_no_transparent_target={go_to_site_no_transparent_target}
		/>
		<ProjectCard
			title={docker2_title}
			description={docker2_description}
			image_path={docker2_image_path}
			image_hover_path={docker2_image_hover_path}
			project_link={docker2_project_link}
			code_link={docker2_code_link}
			languaje={languaje}
			go_to_site_no_transparent_target
		/>
		<ProjectCard
			title={docker3_title}
			description={docker3_description}
			image_path={docker3_image_path}
			image_hover_path={docker3_image_hover_path}
			project_link={docker3_project_link}
			code_link={docker3_code_link}
			languaje={languaje}
			go_to_site_no_transparent_target
		/>
	</div>
	<a href={dockers_href}>{view_all_dockers}</a>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
    .dockers {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.dockers > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
	}
	@media (max-width: 1500px) {
		.dockers > div {
			justify-content: space-around;;
		}
	}

	h1 {
		position: sticky;
		top: var(--sticky_top_default);
        z-index: 1;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	@media (max-width: 649px) {
		h1 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		h1 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		h1 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		h1 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		h1 {
			top: var(--sticky_top_229px);
		}
	}
</style>