---
import PostCard from '@components/PostCard.astro';
import RocketIcon from '@icons/RocketIcon.astro';

const { last_tips } = await import('@portfolio/last_tips.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {
    languaje: string,
    continue_reading: boolean,
}

const {
    languaje,
    continue_reading = false,
} = Astro.props;

const currentPath = Astro.url.pathname;

// Get list of all tips
const tips_list = [];
for (const tip in last_tips) {
    if (tip.includes('tip') && tip != 'view_last_tips' && tip != 'tips_page_link' && tip != 'Do_you_want_to_improve_with_these_tips') {
        tips_list.push(tip);
    }
}

// Get the last 3 tips in reverse order
let counter = 0;
let tip1 = {};
let tip2 = {};
let tip3 = {};
for (let i = tips_list.length - 1; i >= 0; i--) {
	if (currentPath.includes(last_tips[tips_list[i]].post_link.es)) {
		continue;
	}
    if (counter === 0) {
        tip1 = last_tips[tips_list[i]];
    } else if (counter === 1) {
        tip2 = last_tips[tips_list[i]];
    } else if (counter === 2) {
        tip3 = last_tips[tips_list[i]];
    }
    else {
        break;
    }
    counter++;
}

if ( languaje.toLowerCase() === 'es' ) {
    if ( continue_reading === false ) { var section_title = last_tips.title.es; }
    else { var section_title = last_tips.Do_you_want_to_improve_with_these_tips.es; }
    var tips_href = last_tips.tips_page_link.es;
    var view_last_tips = last_tips.view_last_tips.es;

    var tip1_title = tip1.title.es;
    var tip1_description = tip1.description.es;
    var tip1_image_path = tip1.image_path.es;
    var tip1_link = tip1.post_link.es;

    var tip2_title = tip2.title.es;
    var tip2_description = tip2.description.es;
    var tip2_image_path = tip2.image_path.es;
    var tip2_link = tip2.post_link.es;

    var tip3_title = tip3.title.es;
    var tip3_description = tip3.description.es;
    var tip3_image_path = tip3.image_path.es;
    var tip3_link = tip3.post_link.es;
} else if ( languaje.toLowerCase() === 'en' ) {
    if ( continue_reading === false ) { var section_title = last_tips.title.en; }
    else { var section_title = last_tips.Do_you_want_to_improve_with_these_tips.en; }
    var tips_href = last_tips.tips_page_link.en;
    var view_last_tips = last_tips.view_last_tips.en;

    var tip1_title = tip1.title.en;
    var tip1_description = tip1.description.en;
    var tip1_image_path = tip1.image_path.en;
    var tip1_link = tip1.post_link.en;

    var tip2_title = tip2.title.en;
    var tip2_description = tip2.description.en;
    var tip2_image_path = tip2.image_path.en;
    var tip2_link = tip2.post_link.en;

    var tip3_title = tip3.title.en;
    var tip3_description = tip3.description.en;
    var tip3_image_path = tip3.image_path.en;
    var tip3_link = tip3.post_link.en;
} else if ( languaje.toLowerCase() === 'pt' ) {
    if ( continue_reading === false ) { var section_title = last_tips.title.pt; }
    else { var section_title = last_tips.Do_you_want_to_improve_with_these_tips.pt; }
    var tips_href = last_tips.tips_page_link.pt;
    var view_last_tips = last_tips.view_last_tips.pt;

    var tip1_title = tip1.title.pt;
    var tip1_description = tip1.description.pt;
    var tip1_image_path = tip1.image_path.pt;
    var tip1_link = tip1.post_link.pt;

    var tip2_title = tip2.title.pt;
    var tip2_description = tip2.description.pt;
    var tip2_image_path = tip2.image_path.pt;
    var tip2_link = tip2.post_link.pt;

    var tip3_title = tip3.title.pt;
    var tip3_description = tip3.description.pt;
    var tip3_image_path = tip3.image_path.pt;
    var tip3_link = tip3.post_link.pt;
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;

const color_white = colors.white;
---

<section class="tips">
    <h2>{section_title} <RocketIcon /></h2>
    <div>
        <PostCard
            title={tip1_title}
            description={tip1_description}
            image_path={tip1_image_path}
            post_link={tip1_link}
        />
        <PostCard
            title={tip2_title}
            description={tip2_description}
            image_path={tip2_image_path}
            post_link={tip2_link}
        />
        <PostCard
            title={tip3_title}
            description={tip3_description}
            image_path={tip3_image_path}
            post_link={tip3_link}
        />
    </div>
    <a href={tips_href}>{view_last_tips}</a>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
    color_white,
}}>
	.tips {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.tips > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 50px;
	}

	h2 {
		position: sticky;
		top: var(--sticky_top_default);
	}

    a {
        color: var(--color_white);
    }
</style>
