---
import PostCard from '@components/PostCard.astro';

const { sticky_top_positions } = await import('@portfolio/consts.json');

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

if ( languaje === 'es' ) {
    var section_title = 'Posts';
    var posts_href = '/posts';

    var post1_title = 'Introducci칩n a Python';
    var post1_description = 'Python 游냀 es uno de los lenguajes de programaci칩n 游눹 M츼S USADO. Entra y aprende todo lo que necesitas sobre Python 游냀';
    var post1_image_path = '/images/icon-python.webp';
    var post1_link = '/python';

    var post2_title = 'Test';
    var post2_description = 'Esta es una descripci칩n de prueba. Quiero escribir una descripci칩n muy larga para ver c칩mo se ve en la p치gina. As칤 que estoy escribiendo mucho texto para ver c칩mo se ve en la p치gina. Espero que todo esto se vea bien. Necesito aun m치s texto, as칤 que sigamos escribiendo. No se me ocurren m치s cosas para escribir. As칤 que esto es todo por ahora. Esta es una descripci칩n de prueba. Quiero escribir una descripci칩n muy larga para ver c칩mo se ve en la p치gina. As칤 que estoy escribiendo mucho texto para ver c칩mo se ve en la p치gina. Espero que todo esto se vea bien. Necesito aun m치s texto, as칤 que sigamos escribiendo. No se me ocurren m치s cosas para escribir. As칤 que esto es todo por ahora. Esta es una descripci칩n de prueba. Quiero escribir una descripci칩n muy larga para ver c칩mo se ve en la p치gina. As칤 que estoy escribiendo mucho texto para ver c칩mo se ve en la p치gina. Espero que todo esto se vea bien. Necesito aun m치s texto, as칤 que sigamos escribiendo. No se me ocurren m치s cosas para escribir. As칤 que esto es todo por ahora. Esta es una descripci칩n de prueba. Quiero escribir una descripci칩n muy larga para ver c칩mo se ve en la p치gina. As칤 que estoy escribiendo mucho texto para ver c칩mo se ve en la p치gina. Espero que todo esto se vea bien. Necesito aun m치s texto, as칤 que sigamos escribiendo. No se me ocurren m치s cosas para escribir. As칤 que esto es todo por ahora. Esta es una descripci칩n de prueba. Quiero escribir una descripci칩n muy larga para ver c칩mo se ve en la p치gina. As칤 que estoy escribiendo mucho texto para ver c칩mo se ve en la p치gina. Espero que todo esto se vea bien. Necesito aun m치s texto, as칤 que sigamos escribiendo. No se me ocurren m치s cosas para escribir. As칤 que esto es todo por ahora.';
    var post2_image_path = '/images/alfred.webp';
    var post2_link = '/test';

    var post3_title = 'Post3';
    var post3_description = 'Descripci칩n del post3';
    var post3_image_path = 'https://avatars.githubusercontent.com/u/53622795?v=4';
    var post3_link = '/post3';
} else if ( languaje === 'en' ) {
    var section_title = 'Posts';
    var posts_href = '/en/posts';

    var post1_title = 'Introduction to Python';
    var post1_description = 'Python 游냀 is one of the programming languages 游눹 MOST USED. Enter and learn everything you need about Python 游냀';
    var post1_image_path = '/images/icon-python.webp';
    var post1_link = '/python';

    var post2_title = 'Test';
    var post2_description = 'This is a test description. I want to write a very long description to see how it looks on the page. So I am writing a lot of text to see how it looks on the page. I hope all this looks good. I need even more text, so let\'s keep writing. I can\'t think of anything else to write. So this is it for now. This is a test description. I want to write a very long description to see how it looks on the page. So I am writing a lot of text to see how it looks on the page. I hope all this looks good. I need even more text, so let\'s keep writing. I can\'t think of anything else to write. So this is it for now. This is a test description. I want to write a very long description to see how it looks on the page. So I am writing a lot of text to see how it looks on the page. I hope all this looks good. I need even more text, so let\'s keep writing. I can\'t think of anything else to write. So this is it for now. This is a test description. I want to write a very long description to see how it looks on the page. So I am writing a lot of text to see how it looks on the page. I hope all this looks good. I need even more text, so let\'s keep writing. I can\'t think of anything else to write. So this is it for now.';
    var post2_image_path = '/images/alfred.webp';
    var post2_link = '/test';

    var post3_title = 'Post3';
    var post3_description = 'Description of post3';
    var post3_image_path = 'https://avatars.githubusercontent.com/u/53622795?v=4';
    var post3_link = '/post3';
} else if ( languaje === 'pt' ) {
    var section_title = 'Posts';
    var posts_href = '/pt-br/posts';

    var post1_title = 'Introdu칞칚o ao Python';
    var post1_description = 'Python 游냀 칠 uma das linguagens de programa칞칚o 游눹 MAIS USADAS. Entre e aprenda tudo o que voc칡 precisa sobre Python 游냀';
    var post1_image_path = '/images/icon-python.webp';
    var post1_link = '/python';

    var post2_title = 'Teste';
    var post2_description = 'Esta 칠 uma descri칞칚o de teste. Quero escrever uma descri칞칚o muito longa para ver como ela fica na p치gina. Ent칚o estou escrevendo muito texto para ver como fica na p치gina. Espero que tudo isso fique bom. Preciso de ainda mais texto, ent칚o vamos continuar escrevendo. N칚o consigo pensar em mais nada para escrever. Ent칚o 칠 isso por enquanto. Esta 칠 uma descri칞칚o de teste. Quero escrever uma descri칞칚o muito longa para ver como ela fica na p치gina. Ent칚o estou escrevendo muito texto para ver como fica na p치gina. Espero que tudo isso fique bom. Preciso de ainda mais texto, ent칚o vamos continuar escrevendo. N칚o consigo pensar em mais nada para escrever. Ent칚o 칠 isso por enquanto. Esta 칠 uma descri칞칚o de teste. Quero escrever uma descri칞칚o muito longa para ver como ela fica na p치gina. Ent칚o estou escrevendo muito texto para ver como fica na p치gina. Espero que tudo isso fique bom. Preciso de ainda mais texto, ent칚o vamos continuar escrevendo. N칚o consigo pensar em mais nada para escrever. Ent칚o 칠 isso por enquanto. Esta 칠 uma descri칞칚o de teste. Quero escrever uma descri칞칚o muito longa para ver como ela fica na p치gina. Ent칚o estou escrevendo muito texto para ver como fica na p치gina. Espero que tudo isso fique bom. Preciso de ainda mais texto, ent칚o vamos continuar escrevendo. N칚o consigo pensar em mais nada para escrever. Ent칚o 칠 isso por enquanto.';
    var post2_image_path = '/images/alfred.webp';
    var post2_link = '/test';

    var post3_title = 'Post3';
    var post3_description = 'Descri칞칚o do post3';
    var post3_image_path = 'https://avatars.githubusercontent.com/u/53622795?v=4';
    var post3_link = '/post3';
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
---

<section class="posts">
    <h2>{section_title}</h2>
    <div>
        <PostCard
            title={post1_title}
            description={post1_description}
            image_path={post1_image_path}
            post_link={post1_link}
        />
        <PostCard
            title={post2_title}
            description={post2_description}
            image_path={post2_image_path}
            post_link={post2_link}
        />
        <PostCard
            title={post3_title}
            description={post3_description}
            image_path={post3_image_path}
            post_link={post3_link}
        />
    </div>
    <a href={posts_href}>Ver todos los posts -&#45;&gt;</a>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
}}>
	.posts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.posts > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 50px;
	}

	.posts > h2 {
		position: sticky;
		top: var(--sticky_top_default);
	}

	@media (max-width: 649px) {
		.posts > h2 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		.posts > h2 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		.posts > h2 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		.posts > h2 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		.posts > h2 {
			top: var(--sticky_top_229px);
		}
	}
</style>
