---
import ProjectCard from '@components/ProjectCard.astro';

interface Props {
    languaje: string,
}

const {
    languaje,
} = Astro.props;

const { last_projects } = await import('@portfolio/last_projects.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

if ( languaje === 'es' ) {
	var projects_title = last_projects.title.es;
    var view_all_projects = last_projects.view_all_projects.es;
	var project1_title = last_projects.project1.title.es;
	var project1_description = last_projects.project1.description.es;
	var project1_image_path = last_projects.project1.image_path.es;
	var project1_image_hover_path = last_projects.project1.image_hover_path.es;
	var project1_project_link = last_projects.project1.project_link.es;
	var project1_code_link = last_projects.project1.code_link.es;
	var project2_title = last_projects.project2.title.es;
	var project2_description = last_projects.project2.description.es;
	var project2_image_path = last_projects.project2.image_path.es;
	var project2_image_hover_path = last_projects.project2.image_hover_path.es;
	var project2_project_link = last_projects.project2.project_link.es;
	var project2_code_link = last_projects.project2.code_link.es;
	var project3_title = last_projects.project3.title.es;
	var project3_description = last_projects.project3.description.es;
	var project3_image_path = last_projects.project3.image_path.es;
	var project3_image_hover_path = last_projects.project3.image_hover_path.es;
	var project3_project_link = last_projects.project3.project_link.es;
	var project3_code_link = last_projects.project3.code_link.es;
} else if ( languaje === 'en' ) {
	var projects_title = last_projects.title.en;
    var view_all_projects = last_projects.view_all_projects.en;
	var project1_title = last_projects.project1.title.en;
	var project1_description = last_projects.project1.description.en;
	var project1_image_path = last_projects.project1.image_path.en;
	var project1_image_hover_path = last_projects.project1.image_hover_path.en;
	var project1_project_link = last_projects.project1.project_link.en;
	var project1_code_link = last_projects.project1.code_link.en;
	var project2_title = last_projects.project2.title.en;
	var project2_description = last_projects.project2.description.en;
	var project2_image_path = last_projects.project2.image_path.en;
	var project2_image_hover_path = last_projects.project2.image_hover_path.en;
	var project2_project_link = last_projects.project2.project_link.en;
	var project2_code_link = last_projects.project2.code_link.en;
	var project3_title = last_projects.project3.title.en;
	var project3_description = last_projects.project3.description.en;
	var project3_image_path = last_projects.project3.image_path.en;
	var project3_image_hover_path = last_projects.project3.image_hover_path.en;
	var project3_project_link = last_projects.project3.project_link.en;
	var project3_code_link = last_projects.project3.code_link.en;
} else if ( languaje === 'pt' ) {
	var projects_title = last_projects.title.pt;
    var view_all_projects = last_projects.view_all_projects.pt;
	var project1_title = last_projects.project1.title.pt;
	var project1_description = last_projects.project1.description.pt;
	var project1_image_path = last_projects.project1.image_path.pt;
	var project1_image_hover_path = last_projects.project1.image_hover_path.pt;
	var project1_project_link = last_projects.project1.project_link.pt;
	var project1_code_link = last_projects.project1.code_link.pt;
	var project2_title = last_projects.project2.title.pt;
	var project2_description = last_projects.project2.description.pt;
	var project2_image_path = last_projects.project2.image_path.pt;
	var project2_image_hover_path = last_projects.project2.image_hover_path.pt;
	var project2_project_link = last_projects.project2.project_link.pt;
	var project2_code_link = last_projects.project2.code_link.pt;
	var project3_title = last_projects.project3.title.pt;
	var project3_description = last_projects.project3.description.pt;
	var project3_image_path = last_projects.project3.image_path.pt;
	var project3_image_hover_path = last_projects.project3.image_hover_path.pt;
	var project3_project_link = last_projects.project3.project_link.pt;
	var project3_code_link = last_projects.project3.code_link.pt;
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;

const color_white = colors.white;
---

<section class="projects">
    <h2>{projects_title}</h2>
    <div>
        <ProjectCard
            title={project1_title}
            description={project1_description}
            image_path={project1_image_path}
            image_hover_path={project1_image_hover_path}
            project_link={project1_project_link}
            code_link={project1_code_link}
        />
        <ProjectCard
            title={project2_title}
            description={project2_description}
            image_path={project2_image_path}
            image_hover_path={project2_image_hover_path}
            project_link={project2_project_link}
            code_link={project2_code_link}
        />
        <ProjectCard
            title={project3_title}
            description={project3_description}
            image_path={project3_image_path}
            image_hover_path={project3_image_hover_path}
            project_link={project3_project_link}
            code_link={project3_code_link}
        />
    </div>
    <a href="/projects">{view_all_projects}</a>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
	color_white,
}}>
    .projects {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.projects > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
	}
	@media (max-width: 1500px) {
		.projects > div {
			justify-content: space-around;;
		}
	}

	.projects > h2, .posts > h2 {
		position: sticky;
		top: var(--sticky_top_default);
	}

	@media (max-width: 649px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_649px);
		}
	}

	@media (max-width: 418px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_418px);
		}
	}

	@media (max-width: 334px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_334px);
		}
	}

	@media (max-width: 315px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_315px);
		}
	}

	@media (max-width: 229px) {
		.projects > h2, .posts > h2 {
			top: var(--sticky_top_229px);
		}
	}

	a {
		color: var(--color_white);
	}
</style>