---
import ProjectCard from '@components/ProjectCard.astro';
import Prompt from '@icons/Prompt.astro';

interface Props {
    languaje: string,
    continue_reading: boolean,
}

const {
    languaje,
    continue_reading = false,
} = Astro.props;

const { last_projects } = await import('@portfolio/last_projects.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

const all_pages_list = Object.values(import.meta.glob('../pages/*.astro', { eager: true }));
const currentPath = Astro.url.pathname;

// Get list of all projects
const projects_list = [];
for (const project in last_projects) {
    if (project.includes('project') && project != 'view_all_projects' && project != 'have_you_seen_these_projects') {
        projects_list.push(project);
    }
}

// Get the last 3 posts in reverse order, except the current post
let counter = 0;
let project1 = {};
let project2 = {};
let project3 = {};
for (let i = projects_list.length - 1; i >= 0; i--) {
	if (currentPath.includes(last_projects[projects_list[i]].title.es)) {
		continue;
	}
	if (counter === 0) {
		project1 = last_projects[projects_list[i]];
	} else if (counter === 1) {
		project2 = last_projects[projects_list[i]];
	} else if (counter === 2) {
		project3 = last_projects[projects_list[i]];
	}
	else {
		break;
	}
	counter++;
}

if ( languaje.toLowerCase() === 'es' ) {
	var url = last_projects.url.es;
	if ( continue_reading === false ) { var projects_title = last_projects.title.es; }
    else { var projects_title = last_projects.have_you_seen_these_projects.es; }
    var view_all_projects = last_projects.view_all_projects.es;

	var project1_title = project1.title.es;
	var project1_description = project1.description.es;
	var project1_image_path = project1.image_path.es;
	var project1_image_hover_path = project1.image_hover_path.es;
	var project1_project_link = project1.project_link.es;
	var project1_code_link = project1.code_link.es;
	var project1_technologies = project1.technologies;
	
	var project2_title = project2.title.es;
	var project2_description = project2.description.es;
	var project2_image_path = project2.image_path.es;
	var project2_image_hover_path = project2.image_hover_path.es;
	var project2_project_link = project2.project_link.es;
	var project2_code_link = project2.code_link.es;
	
	var project3_title = project3.title.es;
	var project3_description = project3.description.es;
	var project3_image_path = project3.image_path.es;
	var project3_image_hover_path = project3.image_hover_path.es;
	var project3_project_link = project3.project_link.es;
	var project3_code_link = project3.code_link.es;
	var project3_technologies = project3.technologies;
} else if ( languaje.toLowerCase() === 'en' ) {
	var url = last_projects.url.en;
	if ( continue_reading === false ) { var projects_title = last_projects.title.en; }
    else { var projects_title = last_projects.have_you_seen_these_projects.en; }
    var view_all_projects = last_projects.view_all_projects.en;

	var project1_title = project1.title.en;
	var project1_description = project1.description.en;
	var project1_image_path = project1.image_path.en;
	var project1_image_hover_path = project1.image_hover_path.en;
	var project1_project_link = project1.project_link.en;
	var project1_code_link = project1.code_link.en;
	var project1_technologies = project1.technologies;

	var project2_title = project2.title.en;
	var project2_description = project2.description.en;
	var project2_image_path = project2.image_path.en;
	var project2_image_hover_path = project2.image_hover_path.en;
	var project2_project_link = project2.project_link.en;
	var project2_code_link = project2.code_link.en;
	var project2_technologies = project2.technologies;
	
	var project3_title = project3.title.en;
	var project3_description = project3.description.en;
	var project3_image_path = project3.image_path.en;
	var project3_image_hover_path = project3.image_hover_path.en;
	var project3_project_link = project3.project_link.en;
	var project3_code_link = project3.code_link.en;
	var project3_technologies = project3.technologies;
} else if ( languaje.toLowerCase() === 'pt' ) {
	var url = last_projects.url.pt;
	if ( continue_reading === false ) { var projects_title = last_projects.title.pt; }
    else { var projects_title = last_projects.have_you_seen_these_projects.pt; }
    var view_all_projects = last_projects.view_all_projects.pt;
	
	var project1_title = project1.title.pt;
	var project1_description = project1.description.pt;
	var project1_image_path = project1.image_path.pt;
	var project1_image_hover_path = project1.image_hover_path.pt;
	var project1_project_link = project1.project_link.pt;
	var project1_code_link = project1.code_link.pt;
	var project1_technologies = project1.technologies;
	
	var project2_title = project2.title.pt;
	var project2_description = project2.description.pt;
	var project2_image_path = project2.image_path.pt;
	var project2_image_hover_path = project2.image_hover_path.pt;
	var project2_project_link = project2.project_link.pt;
	var project2_code_link = project2.code_link.pt;
	var project2_technologies = project2.technologies;
	
	var project3_title = project3.title.pt;
	var project3_description = project3.description.pt;
	var project3_image_path = project3.image_path.pt;
	var project3_image_hover_path = project3.image_hover_path.pt;
	var project3_project_link = project3.project_link.pt;
	var project3_code_link = project3.code_link.pt;
	var project3_technologies = project3.technologies;
}

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;

const color_white = colors.white;
---

<section class="projects">
	<h2>{projects_title} <Prompt /></h2>
    <div>
        <ProjectCard
            title={project1_title}
            description={project1_description}
            image_path={project1_image_path}
            image_hover_path={project1_image_hover_path}
            project_link={project1_project_link}
            code_link={project1_code_link}
			languaje={languaje}
			technologies={project1_technologies}
        />
        <ProjectCard
            title={project2_title}
            description={project2_description}
            image_path={project2_image_path}
            image_hover_path={project2_image_hover_path}
            project_link={project2_project_link}
            code_link={project2_code_link}
			languaje={languaje}
			technologies={project2_technologies}
        />
        <ProjectCard
            title={project3_title}
            description={project3_description}
            image_path={project3_image_path}
            image_hover_path={project3_image_hover_path}
            project_link={project3_project_link}
            code_link={project3_code_link}
			languaje={languaje}
			technologies={project3_technologies}
        />
    </div>
    <a href={url}>{view_all_projects}</a>
</section>

<style define:vars={{
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
	color_white,
}}>
    .projects {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		width: 100%;
	}

	.projects > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
	}
	@media (max-width: 1500px) {
		.projects > div {
			justify-content: space-around;;
		}
	}

	.projects > h2, .posts > h2 {
		position: sticky;
		top: var(--sticky_top_default);
	}

	a {
		color: var(--color_white);
	}
</style>