---
const { color_palette } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { max_width } = await import('@portfolio/consts.json');

interface Props {
	title: string;
	description: string;
	image_path: string;
	post_link: string;
}

const {
	title,
	description,
	image_path,
	post_link,
} = Astro.props;

const post_card_border_color = color_palette.color_300_transparent;
const post_card_background_color = color_palette.color_1500_transparent;
---

<article class="post-card">
	<a href={post_link} class="post-image-anchor">
		<img class="post-img" src={image_path} alt={title} loading="lazy" />
	</a>
	<div class="post-content">
		<a href={post_link}>
			<h3>{title}</h3>
		</a>
		<p>{description}</p>
	</div>
	
</article>

<style define:vars={{
	colors,
	post_card_border_color,
	post_card_background_color,
	max_width,
}}>
	.post-card {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
		border: var(--project_card_border_color) 1px solid;
		border-radius: 7px;
		background-color: var(--post_card_background_color);
		box-shadow: 2px 2px 6px 0 hsla(0, 0%, 100%, 0.2);
		width: 95%;
		padding: 30px 20px;
		margin: 20px 0px;

	}
	@media (max-width: 418px) {
		.post-card {
			flex-direction: column;
		}
	}

	.post-card .post-image-anchor {
		align-self: center;
	}

	.post-img{
		max-width: 900px;
		width: 100%;
		height: auto;
		border-radius: 7px;
	}

	.post-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 10px;
		width: 100%;
	}

	.post-content > a {
		color: var(--colors.color_white);
	}

	.post-content p {
		text-wrap: wrap;
	}

	h3 {
		margin: 0;
		padding: 0;
	}
</style>
