---
import GoToSiteNoTransparent from '@components/GoToSiteNoTransparent.astro';
import GoToSiteTransparent from '@components/GoToSiteTransparent.astro';

const { color_palette } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

interface Props {
	title: string;
	description: string;
	image_path: string;
	image_hover_path: string;
	project_link: string;
	code_link: string;
}

const {
	title,
	description,
	image_path,
	image_hover_path,
	project_link,
	code_link,
} = Astro.props;

const project_card_border_color = color_palette.color_300_transparent;
const project_card_background_color = color_palette.color_1500_transparent;
const first_image_box_shadow_color = color_palette.color_500;
---

<article class="project-card">
	<header><h3>{title}</h3></header>

	<article class="project-card-image-group">
		<img class="principal-image" src={image_path} alt={title} loading="lazy" />
		<img class="hover-image" src={image_hover_path}  alt={title} loading="lazy" />
	</article>

	<footer>
		<p>{description}</p>
		<div class="project-links">
			<GoToSiteNoTransparent
				text="Ver proyecto"
				svg={svg_paths.arrow_sm_right_svg_path}
				url={project_link}
				target=''
			></GoToSiteNoTransparent>
			<GoToSiteTransparent
				text="Ver código"
				svg={svg_paths.arrow_up_right_from_square_svg_path}
				url={code_link}
				target='_blank'
			></GoToSiteTransparent>
		</div>
	</footer>
</article>

<style define:vars={{project_card_border_color, project_card_background_color, first_image_box_shadow_color}}>
	.project-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		max-width: 350px;

		padding: 0px 30px 30px 30px;
		margin-bottom: 30px;
		border: var(--project_card_border_color) 1px solid;
		border-radius: 7px;
		background-color: var(--project_card_background_color);
		box-shadow: 2px 2px 6px 0 hsla(0, 0%, 100%, 0.2);
	}
	footer {
		width: 100%;
	}
	p {
		align-self: flex-start;
		overflow: auto;
	}
	.project-card-image-group {
		position: relative;
		transition: all 0.3s ease;
	}
	.project-card-image-group img:first-child {
		box-shadow: 0 60px 60px -60px var(--first_image_box_shadow_color);
		border-radius: 7px;
		max-width: 350px;
		object-fit: cover;
		width: 100%;
		height: auto;
	}
	.project-card-image-group img:last-child {
		position: absolute;
		max-width: 350px;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		transform: translateY(25%);
		transition: 0.3s ease;
		opacity: 0;
	}
	.project-card-image-group:hover {
		transform: 
			perspective(250px)
			rotateX(10deg)
			translateY(-5%)
			translateZ(0);
	}
	.project-card-image-group::before {
		content: '';
		position: absolute;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(to bottom, transparent 5%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0) 95%);
		opacity: 0;
		transition: all 0.3s ease;
	}
	.project-card-image-group:hover::before {
		opacity: 1;
	}
	.project-card-image-group:hover img:last-child {
		opacity: 1;
		transform: translateY(10%);
	}
	.project-links {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
</style>
