---
import GoToSite from './GoToSite.astro';
import GoToSiteTransparent from './GoToSiteTransparent.astro';

const { color_palette } = await import('../../consts.json');
const { colors } = await import('../../consts.json');

interface Props {
	title: string;
	description: string;
	image_path: string;
	project_link: string;
	code_link: string;
}

const {
	title,
	description,
	image_path,
	project_link,
	code_link,
} = Astro.props;

const project_card_border_color = color_palette.color_300;
---

<article class="project-card">
	<h3>{title}</h3>
	<img src={image_path} alt={title} loading="lazy" />
	<p>{description}</p>
	<div class="project-links">
		<GoToSite
			text="Ver proyecto"
			svg="icons/arrow-sm-right.svg"
			url={project_link}
			target=''
		></GoToSite>
		<GoToSiteTransparent
			text="Ver código"
			svg="icons/arrow-up-right-from-square.svg"
			url={code_link}
			target='_blank'
		></GoToSiteTransparent>
	</div>
</article>

<style define:vars={{project_card_border_color}}>
	.project-card {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		padding: 30px;
		border-left: var(--project_card_border_color) 1px solid;
		border-right: var(--project_card_border_color) 1px solid;
		border-radius: 10px;
	}
	.project-card p {
		align-self: flex-start;
	}
	.project-card > img {
		max-width: 350px;
		width: 100%;
		height: auto;
		border-radius: 10px;
	}
	.project-links {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
</style>
