---
import GoToSite from './GoToSite.astro';
import GoToSiteTransparent from './GoToSiteTransparent.astro';

interface Props {
	title: string;
	description: string;
	image_path: string;
	project_link: string;
	code_link: string;
	color_50: string;
	color_100: string;
	color_200: string;
	color_300: string;
	color_400: string;
	color_500: string;
	color_600: string;
	color_700: string;
	color_800: string;
	color_900: string;
	color_950: string;
	color_white: string;
	background_color: string;
}

const {
	title,
	description,
	image_path,
	project_link,
	code_link,
	color_50,
	color_100,
	color_200,
	color_300,
	color_400,
	color_500,
	color_600,
	color_700,
	color_800,
	color_900,
	color_950,
	color_white,
	background_color,
} = Astro.props;

const project_card_border_color = color_300;
---

<article class="project-card">
	<h3>{title}</h3>
	<img src={image_path} alt={title} loading="lazy" />
	<p>{description}</p>
	<div class="project-links">
		<GoToSite
			text="Ver proyecto"
			svg="icons/arrow-sm-right.svg"
			url={project_link}
			color_50 ={color_50}
			color_100={color_100}
			color_200={color_200}
			color_300={color_300}
			color_400={color_400}
			color_500={color_500}
			color_600={color_600}
			color_700={color_700}
			color_800={color_800}
			color_900={color_900}
			color_950={color_950}
			color_white={color_white}
		></GoToSite>
		<GoToSiteTransparent
			text="Ver código"
			svg="icons/arrow-up-right-from-square.svg"
			url={code_link}
			color_50 ={color_50}
			color_100={color_100}
			color_200={color_200}
			color_300={color_300}
			color_400={color_400}
			color_500={color_500}
			color_600={color_600}
			color_700={color_700}
			color_800={color_800}
			color_900={color_900}
			color_950={color_950}
			color_white={color_white}
		></GoToSiteTransparent>
	</div>
</article>

<style define:vars={{
	color_50,
	color_100,
	color_200,
	color_300,
	color_400,
	color_500,
	color_600,
	color_700,
	color_800,
	color_900,
	color_950,
	background_color,
	project_card_border_color,
}}>
	.project-card {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		padding: 30px;
		/* background-color: var(--color_950); */
		border-left: var(--project_card_border_color) 1px solid;
		border-right: var(--project_card_border_color) 1px solid;
		border-radius: 10px;
	}
	.project-card p {
		align-self: flex-start;
	}
	.project-card > img {
		max-width: 350px;
		width: 100%;
		height: auto;
		border-radius: 10px;
	}
	.project-links {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
</style>
