---
import SocialIcon from './SocialIcon.astro';

interface Props {
    huggingface_svg_path: string;
    github_svg_path: string;
    linkedin_svg_path: string;
    x_svg_path: string;
    kaggle_svg_path: string;
    facebook_svg_path: string;
    instagram_svg_path: string;
    tiktok_svg_path: string;
    twitch_svg_path: string;
    youtube_svg_path: string;
    curriculum_svg_path: string;
    huggingface_link: string;
    github_link: string;
    linkedin_link: string;
    x_link: string;
    kaggle_link: string;
    facebook_link: string;
    instagram_link: string;
    tiktok_link: string;
    twitch_link: string;
    youtube_link: string;
    curriculum_link: string;
}

const {
    huggingface_svg_path,
    github_svg_path,
    linkedin_svg_path,
    x_svg_path,
    kaggle_svg_path,
    facebook_svg_path,
    instagram_svg_path,
    tiktok_svg_path,
    twitch_svg_path,
    youtube_svg_path,
    curriculum_svg_path,
    huggingface_link,
    github_link,
    linkedin_link,
    x_link,
    kaggle_link,
    facebook_link,
    instagram_link,
    tiktok_link,
    twitch_link,
    youtube_link,
    curriculum_link,
} = Astro.props;

const debug_outline = '0px';
---

<div>
    <SocialIcon
        img_path={huggingface_svg_path}, 
        img_alt='HuggingFace',
        url_link={huggingface_link},
    ></SocialIcon>
    <SocialIcon
        img_path={github_svg_path}, 
        img_alt='GitHub',
        url_link={github_link},
    ></SocialIcon>
    <SocialIcon
        img_path={linkedin_svg_path}, 
        img_alt='LinkedIn',
        url_link={linkedin_link},
    ></SocialIcon>
    <SocialIcon
        img_path={x_svg_path}, 
        img_alt='X',
        url_link={x_link},
    ></SocialIcon>
    <SocialIcon
        img_path={kaggle_svg_path}, 
        img_alt='Kaggle',
        url_link={kaggle_link},
    ></SocialIcon>
    <SocialIcon
        img_path={facebook_svg_path}, 
        img_alt='Facebook',
        url_link={facebook_link},
    ></SocialIcon>
    <SocialIcon
        img_path={instagram_svg_path}, 
        img_alt='Instagram',
        url_link={instagram_link},
    ></SocialIcon>
    <SocialIcon
        img_path={tiktok_svg_path}, 
        img_alt='TikTok',
        url_link={tiktok_link},
    ></SocialIcon>
    <SocialIcon
        img_path={twitch_svg_path}, 
        img_alt='Twitch',
        url_link={twitch_link},
    ></SocialIcon>
    <SocialIcon
        img_path={youtube_svg_path}, 
        img_alt='Youtube',
        url_link={youtube_link},
    ></SocialIcon>
    <SocialIcon
        img_path={curriculum_svg_path}, 
        img_alt='Curriculum',
        url_link={curriculum_link},
    ></SocialIcon>
</div>

<style define:vars={{debug_outline}}>
    div {
        outline: var(--debug_outline) solid red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* flex-flow: row-reverse; */
        align-items: center;
        gap: 1px
    }
</style>