---
import GithubBrandsSolid from '@icons/GithubBrandsSolid.astro';
import HuggingFaceLogoPirate from '@icons/HuggingFaceLogoPirate.astro';
import LinkedinBrandsSolid from '@icons/LinkedinBrandsSolid.astro';
import XtwitterBrandsSolid from '@icons/XtwitterBrandsSolid.astro';
import KaggleBrandsSolid from '@icons/KaggleBrandsSolid.astro';
import FacebookBrandsSolid from '@icons/FacebookBrandsSolid.astro';
import InstagramBrandsSolid from '@icons/InstagramBrandsSolid.astro';
import TikTokBrandsSolid from '@icons/TikTokBrandsSolid.astro';
import TwitchBrandsSolid from '@icons/TwitchBrandsSolid.astro';
import YouTubeBrandsSolid from '@icons/YouTubeBrandsSolid.astro';
import CurriculumSolid from '@icons/CurriculumSolid.astro';

const { social_links } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {}

const {} = Astro.props;

const icon_background_color = colors.color_white;
---

<nav>
    <a href={social_links.huggingface_link} target="_blank" rel="nofollow noreferrer">
        <HuggingFaceLogoPirate />
    </a>
    <a href={social_links.github_link} target="_blank" rel="nofollow noreferrer">
        <GithubBrandsSolid />
    </a>
    <a href={social_links.linkedin_link} target="_blank" rel="nofollow noreferrer">
        <LinkedinBrandsSolid />
    </a>
    <a href={social_links.x_link} target="_blank" rel="nofollow noreferrer">
        <XtwitterBrandsSolid />
    </a>
    <a href={social_links.kaggle_link} target="_blank" rel="nofollow noreferrer">
        <KaggleBrandsSolid />
    </a>
    <a href={social_links.facebook_link} target="_blank" rel="nofollow noreferrer">
        <FacebookBrandsSolid />
    </a>
    <a href={social_links.instagram_link} target="_blank" rel="nofollow noreferrer">
        <InstagramBrandsSolid />
    </a>
    <a href={social_links.tiktok_link} target="_blank" rel="nofollow noreferrer">
        <TikTokBrandsSolid />
    </a>
    <a href={social_links.twitch_link} target="_blank" rel="nofollow noreferrer">
        <TwitchBrandsSolid />
    </a>
    <a href={social_links.youtube_link} target="_blank" rel="nofollow noreferrer">
        <YouTubeBrandsSolid />
    </a>
    <a href={social_links.curriculum_link} target="_blank" rel="nofollow noreferrer">
        <CurriculumSolid />
    </a>
</nav>

<style define:vars={{icon_background_color}}>
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1px;
        padding-bottom: 4px;
    }
    a {
        width: 20px;
        height: 20px;
        color: var(--icon_background_color);
    }
</style>