---
import GithubBrandsSolid from '@icons/GithubBrandsSolid.astro';
import HuggingFaceLogoPirate from '@icons/HuggingFaceLogoPirate.astro';
import LinkedinBrandsSolid from '@icons/LinkedinBrandsSolid.astro';
import XtwitterBrandsSolid from '@icons/XtwitterBrandsSolid.astro';
import KaggleBrandsSolid from '@icons/KaggleBrandsSolid.astro';
import FacebookBrandsSolid from '@icons/FacebookBrandsSolid.astro';
import InstagramBrandsSolid from '@icons/InstagramBrandsSolid.astro';
import TikTokBrandsSolid from '@icons/TikTokBrandsSolid.astro';
import TwitchBrandsSolid from '@icons/TwitchBrandsSolid.astro';
import YouTubeBrandsSolid from '@icons/YouTubeBrandsSolid.astro';
import CurriculumSolid from '@icons/CurriculumSolid.astro';

const { social_links } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');

interface Props {
    flex_direction: string,
}

const {
    flex_direction = 'row',
} = Astro.props;

const icon_background_color = colors.color_white;
const arrow_path = svg_paths.arrow_up_right_svg_path;
---

<nav>
    <a href={social_links.huggingface_link} target="_blank" rel="nofollow noreferrer" aria-label="Hugging Face">
        <div class="no-hover-img">
            <HuggingFaceLogoPirate alt="Hugging Face Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg hunging face" />
        </div>
    </a>
    <a href={social_links.github_link} target="_blank" rel="nofollow noreferrer" aria-label="Github">
        <div class="no-hover-img">
            <GithubBrandsSolid alt="Github Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg github" />
        </div>
    </a>
    <a href={social_links.linkedin_link} target="_blank" rel="nofollow noreferrer" aria-label="Linkedin">
        <div class="no-hover-img">
            <LinkedinBrandsSolid alt="Linkedin Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg linkedin" />
        </div>
    </a>
    <a href={social_links.x_link} target="_blank" rel="nofollow noreferrer" aria-label="Twitter">
        <div class="no-hover-img">
            <XtwitterBrandsSolid alt="Twitter Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg twitter" />
        </div>
    </a>
    <a href={social_links.kaggle_link} target="_blank" rel="nofollow noreferrer" aria-label="Kaggle">
        <div class="no-hover-img">
            <KaggleBrandsSolid alt="Kaggle Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg kaggle" />
        </div>
    </a>
    <a href={social_links.facebook_link} target="_blank" rel="nofollow noreferrer" aria-label="Facebook">
        <div class="no-hover-img">
            <FacebookBrandsSolid alt="Facebook Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg facebook" />
        </div>
    </a>
    <a href={social_links.instagram_link} target="_blank" rel="nofollow noreferrer" aria-label="Instagram">
        <div class="no-hover-img">
            <InstagramBrandsSolid alt="Instagram Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg instagram" />
        </div>
    </a>
    <!--<a href={social_links.tiktok_link} target="_blank" rel="nofollow noreferrer" aria-label="TikTok">
        <div class="no-hover-img">
            <TikTokBrandsSolid alt="TikTok Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg tiktok" />
        </div>
    </a>-->
    <!--<a href={social_links.twitch_link} target="_blank" rel="nofollow noreferrer" aria-label="Twitch">
        <div class="no-hover-img">
            <TwitchBrandsSolid alt="Twitch Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg twitch" />
        </div>
    </a>-->
    <!--<a href={social_links.youtube_link} target="_blank" rel="nofollow noreferrer" aria-label="Youtube">
        <div class="no-hover-img">
            <YouTubeBrandsSolid alt="Youtube Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg youtube" />
        </div>
    </a>-->
    <a href={social_links.curriculum_link} target="_blank" rel="nofollow noreferrer" aria-label="Curriculum">
        <div class="no-hover-img">
            <CurriculumSolid alt="Curriculum Logo"/>
        </div>
        <div class="hover-img">
            <img onerror="this.parentNode.removeChild(this)" decoding="async" src={arrow_path} alt="arrow svg curriculum" />
        </div>
    </a>
</nav>

<style define:vars={{flex_direction, icon_background_color}}>
    nav {
        display: flex;
        flex-direction: var(--flex_direction);
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        padding-bottom: 4px;
    }
    a {
        width: 20px;
        height: 20px;
        color: var(--icon_background_color);
    }
    a:hover {
        .no-hover-img {
            display: none;
        }
        .hover-img {
            display: flex;
            scale: 0.6;
        }

    }
    .no-hover-img {
        display: flex;
    }
    .hover-img {
        display: none;
    }
</style>