---
import SocialIcon from './SocialIcon.astro';
import GithubBrandsSolid from '../../public/icons/github-brands-solid.astro';

const { social_links } = await import('../../consts.json');
const { svg_paths } = await import('../../consts.json');
const { colors } = await import('../../consts.json');

interface Props {}

const {} = Astro.props;

const icon_background_color = colors.color_white;
---

<div>
    <SocialIcon
    img_path={svg_paths.huggingface_svg_path}, 
    img_alt='HuggingFace',
    url_link={social_links.huggingface_link},
    ></SocialIcon>
    <!-- <a href={social_links.github_link} target="_blank">
            <GithubBrandsSolid></GithubBrandsSolid>
    </a> -->
    <SocialIcon
        img_path={svg_paths.github_svg_path}, 
        img_alt='GitHub',
        url_link={social_links.github_link},
    ></SocialIcon>
    <SocialIcon
        img_path={svg_paths.linkedin_svg_path}, 
        img_alt='LinkedIn',
        url_link={social_links.linkedin_link},
    ></SocialIcon>
    <SocialIcon
        img_path={svg_paths.x_svg_path}, 
        img_alt='X',
        url_link={social_links.x_link},
    ></SocialIcon>
    <SocialIcon
        img_path={svg_paths.kaggle_svg_path}, 
        img_alt='Kaggle',
        url_link={social_links.kaggle_link},
    ></SocialIcon>
    <SocialIcon
        img_path={svg_paths.facebook_svg_path}, 
        img_alt='Facebook',
        url_link={social_links.facebook_link},
    ></SocialIcon>
    <SocialIcon
        img_path={svg_paths.instagram_svg_path}, 
        img_alt='Instagram',
        url_link={social_links.instagram_link},
    ></SocialIcon>
    <SocialIcon
        img_path={svg_paths.tiktok_svg_path}, 
        img_alt='TikTok',
        url_link={social_links.tiktok_link},
    ></SocialIcon>
    <SocialIcon
        img_path={svg_paths.twitch_svg_path}, 
        img_alt='Twitch',
        url_link={social_links.twitch_link},
    ></SocialIcon>
    <SocialIcon
        img_path={svg_paths.youtube_svg_path}, 
        img_alt='Youtube',
        url_link={social_links.youtube_link},
    ></SocialIcon>
    <SocialIcon
        img_path={svg_paths.curriculum_svg_path}, 
        img_alt='Curriculum',
        url_link={social_links.curriculum_link},
    ></SocialIcon>
</div>

<style define:vars={{icon_background_color}}>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* flex-flow: row-reverse; */
        align-items: center;
        gap: 1px
    }
    a {
        width: 20px;
        height: 20px;
        color: var(--icon_background_color);
    }
</style>