---
interface Props {
	direction: string;
}

const {
	direction,
} = Astro.props;

const animation_time = "50s";


let technology_logo_1 = '';
let technology_logo_2 = '';
let technology_logo_3 = '';
let technology_logo_4 = '';
let technology_logo_5 = '';
let technology_logo_6 = '';
let technology_logo_7 = '';
let technology_logo_8 = '';
let technology_logo_9 = '';
let technology_logo_10 = '';

let technology_name_1 = '';
let technology_name_2 = '';
let technology_name_3 = '';
let technology_name_4 = '';
let technology_name_5 = '';
let technology_name_6 = '';
let technology_name_7 = '';
let technology_name_8 = '';
let technology_name_9 = '';
let technology_name_10 = '';

const marquee_percentage = 100;
let margin_top = 0;

if (direction === 'left') {
    var start_1 = '0%';
    var end_1 = -marquee_percentage.toString() + '%';

    var start_2 = marquee_percentage.toString() + '%';
    var end_2 = '0%';

    technology_logo_1 = '/icons/python-logo-only.svg';
    technology_logo_2 = '/icons/pytorch-logo.svg';
    technology_logo_3 = '/icons/hf-logo-official.svg';
    technology_logo_4 = '/icons/langchain.svg';
    technology_logo_5 = '/icons/ollama-dark.svg';
    technology_logo_6 = '/icons/astro-icon-light-gradient.svg';
    technology_logo_7 = '/icons/docker.svg';
    technology_logo_8 = '/icons/terminal.svg';
    technology_logo_9 = '/icons/Git.svg';
    technology_logo_10 = '/icons/Conda.svg';

    technology_name_1 = 'Python';
    technology_name_2 = 'Pytorch';
    technology_name_3 = 'HugginFace';
    technology_name_4 = 'Langchain';
    technology_name_5 = 'Ollama';
    technology_name_6 = 'Astro';
    technology_name_7 = 'Docker';
    technology_name_8 = 'Terminal';
    technology_name_9 = 'Git';
    technology_name_10 = 'Conda';
} else if (direction === 'right') {
    var start_1 = '0%';
    var end_1 = marquee_percentage.toString() + '%';
    
    var start_2 = -marquee_percentage.toString() + '%';
    var end_2 = '0%';

    technology_logo_1 = '/icons/astro-icon-light-gradient.svg';
    technology_logo_2 = '/icons/ollama-dark.svg';
    technology_logo_3 = '/icons/langchain.svg';
    technology_logo_4 = '/icons/hf-logo-official.svg';
    technology_logo_5 = '/icons/pytorch-logo.svg';
    technology_logo_6 = '/icons/python-logo-only.svg';
    technology_logo_7 = '/icons/Conda.svg';
    technology_logo_8 = '/icons/Git.svg';
    technology_logo_9 = '/icons/terminal.svg';
    technology_logo_10 = '/icons/docker.svg';

    technology_name_1 = 'Astro';
    technology_name_2 = 'Ollama';
    technology_name_3 = 'Langchain';
    technology_name_4 = 'HugginFace';
    technology_name_5 = 'Pytorch';
    technology_name_6 = 'Python';
    technology_name_7 = 'Conda';
    technology_name_8 = 'Git';
    technology_name_9 = 'Terminal';
    technology_name_10 = 'Docker';

    margin_top = '100px';
}
---

<section class="marquee-container">
    <div class="technologies-container1">
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_1} alt={technology_name_1} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_1}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_2} alt={technology_name_2} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_2}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_3} alt={technology_name_3} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_3}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_4} alt={technology_name_4} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_4}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_5} alt={technology_name_5} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_5}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_6} alt={technology_name_6} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_6}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_7} alt={technology_name_7} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_7}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_8} alt={technology_name_8} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_8}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_9} alt={technology_name_9} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_9}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_1" decoding="async" src={technology_logo_10} alt={technology_name_10} width="100" height="100" loading="lazy">
            <p class="technology_1">{technology_name_10}</p>
        </div>
    </div>

    <div class="technologies-container2">
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_1} alt={technology_name_1} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_1}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_2} alt={technology_name_2} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_2}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_3} alt={technology_name_3} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_3}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_4} alt={technology_name_4} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_4}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_5} alt={technology_name_5} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_5}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_6} alt={technology_name_6} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_6}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_7} alt={technology_name_7} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_7}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_8} alt={technology_name_8} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_8}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_9} alt={technology_name_9} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_9}</p>
        </div>
        <div class="technology">
            <img onerror="this.parentNode.removeChild(this)" class="technology_2" decoding="async" src={technology_logo_10} alt={technology_name_10} width="100" height="100" loading="lazy">
            <p class="technology_2">{technology_name_10}</p>
        </div>
    </div>
</section>

<style define:vars={{
    animation_time,
	start_1,
    end_1,
    start_2,
    end_2,
    margin_top,
}}>
    .marquee-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        width: 100%;
        max-width: 1500px;
        position: relative;
        margin-top: var(--margin_top);
        overflow-x: hidden;
    }
    .technologies-container1, .technologies-container2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow-x: hidden;
        max-width: 1500px;
        width: 100%;
    }
    .technologies-container1 {
        animation: marquee1 var(--animation_time) linear infinite;
    }
    .technologies-container2 {
        position: absolute;
        animation: marquee2 var(--animation_time) linear infinite;
    }
    @media screen and (prefers-reduce-motion){
        .technologies-container1 {
            animation: none;
        }
        .technologies-container2 {
            animation: none;
        }
    }
    .technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
    }
    img {
        width: 100%;
        height: auto;
        max-height: 100px;
        min-width: 50px;
    }
    p {
        font-weight: bold;
    }
    @media (max-width: 630px) {
        p {
            font-size: 0.6rem;
        }
    }
    @media (max-width: 500px) {
        p {
            /* display: none; */
        }
    }
    
    @keyframes marquee1 {
        0% { transform: translateX(var(--start_1)); }
        100% { transform: translateX(var(--end_1)); }
    }
    @keyframes marquee2 {
        0% { transform: translateX(var(--start_2)); }
        100% { transform: translateX(var(--end_2)); }
    }
</style>