---
import Layout from '@layouts/Layout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { color_palette } = await import('@portfolio/consts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - Alfred";
const url = social_links.portfolio_link_external + "/alfred"
const description = "Personal assistant for the terminal, for all operating systems and languages";
const keywords = "Personal, terminal, asistente";

const images_width = 1920*2/3;
const images_height =1080*2/3;
const buyMeACoffee_width = 305;
const buyMeACoffee_height = 28;

const url_deb = "https://github.com/maximofn/alfred/blob/v1.3/alfredv1_3.deb";

const inline_code_background_color = color_palette.color_950;

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
const sticky_top_h3_increment = "50px"
---

<Layout 
	title={page_title}
	languaje={metadata_page.languaje_en}
	description={description}
	keywords={keywords}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={url}
	icon={metadata_page.icon}
>
	<h1>Alfred</h1>
	<h4>Personal assistant for the terminal, for all operating systems and languages</h4>
	<figure class="video-container">
		<video 
			preload="auto"
			autoplay
			muted
			loop
			width={images_width}
			height={images_height}
		>
			<source src="videos/Alfred-bucle.webm" type="video/webm"/>
			<source src="videos/Alfred-bucle.mp4" type="video/mp4"/>
		</video>
	</figure>

	<section>
		<h2>Install</h2>
		<p>Install system requeriments</p>
		<CodeBlockInputCell text={["sudo apt update", "sudo apt install -y python3 python3-pip git"]} languaje='bash'></CodeBlockInputCell>

		<section>
			<h3>Install by installer</h3>
			<p>From here, if you have a debian based system you can use the <a href={url_deb} target="_blank" rel="nofollow noreferrer">alfred.deb</a> installer</p>
		</section>

		<section>
				<h3>Install from source</h3>
				<p>Install python requeriments</p>
				<CodeBlockInputCell text={["pip install halo", "pip install --upgrade openai"]} languaje='bash'></CodeBlockInputCell>
				<p>Create source folder</p>
				<CodeBlockInputCell 
					text={[
						"sudo rm -r /usr/src/alfred",
						"cd /usr/src",
						"git clone -b branch_v1.3 https://github.com/maximofn/alfred.git",
						"cd /usr/src/alfred",
						"sudo find . -depth -not -name '*.py' -delete",
					]} 
					languaje='bash'
				></CodeBlockInputCell>
				<p>Create symbolic link to <span class="inline-code">/usr/bin/alfred</span></p>
				<CodeBlockInputCell text={["echo 'alias alfred=\"/usr/src/alfred/alfred.py\"' >> ~/.bashrc"]} languaje='bash'></CodeBlockInputCell>
				<p>Restart bash</p>
				<CodeBlockInputCell text={["source ~/.bashrc"]} languaje='bash'></CodeBlockInputCell>
			</section>
	</section>

	<section>
		<h2>OpenAI API KEY</h2>
		<p>Loggin to <a href="https://platform.openai.com/overview" target="_blank" rel="nofollow noreferrer">OpenAI</a> and get your OpenAI api key</p>
		<figure>
			<img 
				src="/images/openaix2.gif" 
				alt="open ai api key"
				width={images_width}
				height={images_height}
				loading="lazy"
			></img>
		</figure>
	</section>

	<section>
		<h2>Usage</h2>
		<p>You can ask to alfred specific questions by typing <span class="inline-code">alfred</span> followed by your question</p>
		<figure class="video-container">
			<video 
				preload="auto"
				autoplay
				muted
				loop
				width={images_width}
				height={images_height}
				<source src="videos/Alfred-command.webm" type="video/webm"/>
				<source src="videos/Alfred-command.mp4" type="video/mp4"/>
			></video>
		</figure>
		<p>Or write <span class="inline-code">alfred</span>, intro and keep asking him questions. To finish type <span class="inline-code">exit</span></p>
		<figure class="video-container">
			<video 
				preload="auto"
				autoplay
				muted
				loop
				width={images_width}
				height={images_height}
				<source src="videos/Alfred-bucle.webm" type="video/webm"/>
				<source src="videos/Alfred-bucle.mp4" type="video/mp4"/>
			></video>
		</figure>
	</section>

	<section>
		<h2>Support</h2>
		<p>If you like it consider giving the repository a star ⭐, but if you really like it consider buying me a coffee ☕.</p>
		<a href="https://www.buymeacoffee.com/maximofn" target="_blank" rel="nofollow noreferrer">
			<figure>
				<img 
					src="https://img.shields.io/badge/Buy_Me_A_Coffee-Support_my_work-FFDD00?style=for-the-badge&logo=buy-me-a-coffee&logoColor=white&labelColor=101010" 
					alt="BuyMeACoffee"
					width={buyMeACoffee_width}
					height={buyMeACoffee_height}
					loading="lazy"
				></img>
			</figure>		
		</a>
	</section>

</Layout>

<style define:vars={{
	inline_code_background_color,
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
	sticky_top_h3_increment,
}}>
	.inline-code {
		background-color: var(--inline_code_background_color);
		border-radius: 7px;
		padding: 0.2em 0.4em;
		font-style: oblique;
		font-family: 'Courier New', Courier, monospace;
	}

	section {
		position: relative;
	}

	h1 {
		margin-bottom: 0px;
	}

	h4 {
		padding-left: 0px;
	}
</style>
