---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Caffeine';
const end_url = 'caffeine';
const description = '🚀 Wake up, Ubuntu! ☕ With Caffeine for Linux, say goodbye to those annoying sleep modes just when you least expect it. Work marathon? Eternal download? Caffeine is here to keep your machine up and running. This cool thing integrates seamlessly with your Ubuntu environment and is a breeze to use. Find out more about how to install and use Caffeine in our post - we promise your computer won\'t fall asleep while you read!';
const keywords = 'caffeine, linux, ubuntu, software, caffeine-indicator, caffeine-infinita, caffeine-command';
const languaje = 'EN';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/caffeine_shots_so.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=960
    image_height=720
    image_extension=webp
    article_date=2023-09-15+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Installation"><h2>Installation</h2></a>
      <a class="anchor-link" href="#Infinite Caffeine"><h2>Infinite Caffeine</h2></a>
      <a class="anchor-link" href="#Caffeine for a Command"><h2>Caffeine for a Command</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Disclaimer: This post has been translated to English using a machine translation model. Please, let me know if you find any mistakes.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Caffeine is a software to prevent our Linux from locking the screen and then going to sleep. To do this, we will give it caffeine.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Installation">Installation<a class="anchor-link" href="#Installation"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 5" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>The installation is very simple, we just have to do</p>
      
      <section class="section-block-markdown-cell">
            <div class='highlight'><pre><code class="language-bash">sudo apt update<br>sudo apt install caffeine</code></pre></div>
            </section>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Infinite Caffeine">Infinite Caffeine<a class="anchor-link" href="#Infinite Caffeine"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 6" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>If we press the <code>windows</code> key on the keyboard and type <code>caffeine-indicator</code>, the option to start the software indicator will appear.</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/caffeine-indicator-executable.webp" alt="caffeine-indicator-executable">
      </section>
      
      <section class="section-block-markdown-cell">
      <p>If we run it, a software indicator will appear in the top bar of Ubuntu</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/caffeine-indicator.webp" alt="caffeine-indicator">
      </section>
      
      <section class="section-block-markdown-cell">
      <p>If we click on the indicator, a menu will appear.</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/caffeine-indicator-menu.webp" alt="caffeine-indicator-menu">
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Now we can click on <code>Activate</code> so that our Ubuntu will have infinite caffeine and never go to sleep.</p>
      <img decoding="async" onerror="this.parentNode.removeChild(this)" src="https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/caffeine-indicator-on.webp" alt="caffeine-indicator-on">
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Caffeine for a Command">Caffeine for a Command<a class="anchor-link" href="#Caffeine for a Command"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 7" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>One thing that happens to me is that when I train a neural network, I like to keep the model evaluation in view, even if I'm not at the computer. But if that training takes hours, at some point the screensaver activates and you can no longer see the training progress. So to fix this, we have <code>caffeinate</code>, which by doing</p>
      <div class='highlight'><pre><code class="language-bash">`caffeinate` COMMAND</code></pre></div>
      <p>We will make our computer have caffeine and not fall asleep while running the command <code>COMMAND</code></p>
      </section>







    </div>

  </section>

</PostLayout>
