---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Fail2bab';
const end_url = 'fail2ban';
const description = '🛡️ 💻 Raise your security game! Dive into this tutorial and find out how Fail2Ban helps you stop brute force attacks in their tracks. From installation to configuration, I\'ve got you covered. #SecurityToTheMaximum';
const keywords = 'fail2ban, firewall, security, ssh, brute force, Linux';
const languaje = 'EN';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/fail2ban.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=960
    image_height=720
    image_extension=webp
    article_date=2023-09-16+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Installation"><h2>Installation</h2></a>
      <a class="anchor-link" href="#Configuration-file"><h2>Configuration file</h2></a>
      <a class="anchor-link" href="#Review-logs"><h2>Review logs</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Fail2ban">Fail2ban<a class="anchor-link" href="#Fail2ban"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 4" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>With Fail2ban we can block IPs that want to connect to our device, here I am going to explain how to configure the blocking when they try to connect via ssh</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>This notebook has been automatically translated to make it accessible to more people, please let me know if you see any typos.</p>
      <h2 id="Installation">Installation<a class="anchor-link" href="#Installation"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 5" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>The installation is very simple, we only have to make</p>
      <div class="highlight"><pre><span></span>sudo<span class="w"> </span>apt<span class="w"> </span>update
      sudo<span class="w"> </span>apt<span class="w"> </span>install<span class="w"> </span>fail2ban
      </pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Configuration-file">Configuration file<a class="anchor-link" href="#Configuration-file"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 6" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Once installed, we modify the configuration file by doing the following</p>
      <div class="highlight"><pre><span></span>sudo<span class="w"> </span>nano<span class="w"> </span>/etc/fail2ban/jail.conf
      </pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>We go down to the part where <code>[sshd]</code> is, in my case I have left it like this</p>
      <div class="highlight"><pre><span></span><span class="o">[</span>sshd<span class="o">]</span>
      <span class="nv">bantime</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="m">172800</span>
      <span class="nv">port</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>ssh
      <span class="nv">logpath</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>%<span class="o">(</span>sshd_log<span class="o">)</span>s
      <span class="nv">backend</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>%<span class="o">(</span>sshd_backend<span class="o">)</span>s
      <span class="nv">maxretry</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="m">3</span>
      </pre></div>
      <p>What it does is that if someone makes 3 connection retries, it bans that IP for 48 hours (172800 seconds).</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Review-logs">Review logs<a class="anchor-link" href="#Review-logs"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 7" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>We can check through the logs whether any IP has been blocked with</p>
      <div class="highlight"><pre><span></span>cat<span class="w"> </span>/var/log/fail2ban.log
      </pre></div>
      </section>
      






    </div>

  </section>

</PostLayout>
