---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Fail2ban';
const end_url = 'fail2ban';
const description = '🛡️ 💻 Raise your security game! Dive into this tutorial and find out how Fail2Ban helps you stop brute force attacks in their tracks. From installation to configuration, I\'ve got you covered. #SecurityToTheMaximum';
const keywords = 'fail2ban, firewall, security, ssh, brute force, Linux';
const languaje = 'EN';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/fail2ban.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=960
    image_height=720
    image_extension=webp
    article_date=2023-09-16+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
      <a class="anchor-link" href="#Installation"><h2>Installation</h2></a>
      <a class="anchor-link" href="#Configuration file"><h2>Configuration file</h2></a>
      <a class="anchor-link" href="#Check the logs"><h2>Check the logs</h2></a>
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Disclaimer: This post has been translated to English using a machine translation model. Please, let me know if you find any mistakes.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>With Fail2ban we can block IPs that try to connect to one of our devices. Here I will explain how to configure the blocking when they attempt to connect via SSH.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Installation">Installation<a class="anchor-link" href="#Installation"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 5" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>The installation is very simple, we just have to do</p>
      
      <section class="section-block-markdown-cell">
            <div class='highlight'><pre><code class="language-bash">sudo apt update<br>sudo apt install fail2ban</code></pre></div>
            </section>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Configuration file">Configuration file<a class="anchor-link" href="#Configuration file"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 6" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Once installed, we modify the configuration file by doing</p>
      <div class='highlight'><pre><code class="language-bash">sudo nano /etc/fail2ban/jail.conf</code></pre></div>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>We go down to the part where it says <code>[sshd]</code>, in my case I left it like this</p>
      
      <section class="section-block-markdown-cell">
            <div class='highlight'><pre><code class="language-bash">[sshd]<br>bantime  = 172800    <br>port     = ssh<br>logpath  = %(sshd_log)s<br>backend  = %(sshd_backend)s<br>maxretry = 3</code></pre></div>
            </section>
      <p>What it does is that if someone makes 3 connection retries, it bans that IP for 48 hours (172800 seconds).</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <h2 id="Check the logs">Check the logs<a class="anchor-link" href="#Check the logs"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 7" src={svg_paths.link_svg_path}/></a></h2>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>We can check through the logs if any IP has been blocked with</p>
      <div class='highlight'><pre><code class="language-bash">cat /var/log/fail2ban.log</code></pre></div>
      </section>







    </div>

  </section>

</PostLayout>
