---
import Layout from '@layouts/Layout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { color_palette } = await import('@portfolio/consts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - Input audio device manager";
const url = social_links.portfolio_link_external + "/input-audio-device"
const description = "Manager of input audio devices for the top bar of Ubuntu";
const keywords = "Manager of input audio devices, top bar, Ubuntu";

const images_width = 600*2;
const images_height =338*2;
const buyMeACoffee_width = 305;
const buyMeACoffee_height = 28;

const inline_code_background_color = color_palette.color_950;

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
const sticky_top_h3_increment = "50px"
---

<Layout 
	title={page_title}
	languaje={metadata_page.languaje_en}
	description={description}
	keywords={keywords}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={url}
	icon={metadata_page.icon}
>
	<div class="project">
		<h1>Input audio device manager</h1>
		<h4>{description}</h4>
		<p>The best real-time input audio devices management tool</p>
		<p>Manage the input audio devices directly from the Ubuntu top bar with <span class="inline-code">Input audio device manager</span>. This application is fully integrated with the latest Ubuntu operating system. Manage your input audio devices quickly and easily. Download it now and take control of your devices!</p>
		<div class="figure-div">
			<figure>
				<img onerror="this.parentNode.removeChild(this)" decoding="async" 
					src="https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/input_audio_device.gif" 
					alt="Input audio device manager"
					width={images_width}
					height={images_height}
				></img>
			</figure>
		</div>

		<section>
			<h2>About Input audio device manager</h2>
			<p>Input audio device manager is an intuitive tool designed to manage the input audio devices quickly and easily. It integrates perfectly with the Ubuntu top bar, providing total control at your fingertips.</p>
		</section>

		<section>
			<h2>Key Features</h2>
			<ul>
				<li>Easy and simple: Change the input audio device with a simple click</li>
				<li>Time-saving: Quickly switch between input audio devices without having to open the Ubuntu settings</li>
			</ul>
		</section>

		<section>
			<h2>Installation</h2>

			<section>
				<h3>Clone the repository</h3>
				<p>Clone it with <span class="inline-code">https</span></p>
				<CodeBlockInputCell text={["git clone https://github.com/maximofn/input_audio_device.git"]} languaje='bash'></CodeBlockInputCell>
				<p>or with <span class="inline-code">ssh</span></p>
				<CodeBlockInputCell text={["git clone git@github.com:maximofn/input_audio_device.git"]} languaje='bash'></CodeBlockInputCell>
			</section>

			<section>
				<h3>Install the dependencies</h3>
				<p>Make sure you don't have any <span class="inline-code">venv</span> or <span class="inline-code">conda</span> environment installed</p>
				<CodeBlockInputCell 
					text={[
						'if [ -n "$VIRTUAL_ENV" ]; then',
						"    deactivate",
						"fi",
						"if command -v conda &>/dev/null; then",
						"    conda deactivate",
						"fi",
					]}
					languaje='bash'
				></CodeBlockInputCell>
			</section>
		</section>

		<section>
			<h2>Run at startup</h2>
			<p>Run this script</p>
			<CodeBlockInputCell text={["./add_to_startup.sh"]} languaje='bash'></CodeBlockInputCell>
			<p>After restarting your computer, Input audio device manager will start automatically.</p>
		</section>

		<section>
			<h2>Support</h2>
			<p>If you like it consider giving the repository a star ⭐, but if you really like it consider buying me a coffee ☕.</p>
			<a href="https://www.buymeacoffee.com/maximofn" target="_blank" rel="nofollow noreferrer">
				<figure>
					<img onerror="this.parentNode.removeChild(this)" decoding="async" 
						src="https://img.shields.io/badge/Buy_Me_A_Coffee-Support_my_work-FFDD00?style=for-the-badge&logo=buy-me-a-coffee&logoColor=white&labelColor=101010" 
						alt="BuyMeACoffee"
						width={buyMeACoffee_width}
						height={buyMeACoffee_height}
						loading="lazy"
					></img>
				</figure>		
			</a>
		</section>
	</div>

</Layout>

<style define:vars={{
	inline_code_background_color,
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
	sticky_top_h3_increment,
}}>
	.project {
		display: flex;
		flex-direction: column;
	}

	.inline-code {
		background-color: var(--inline_code_background_color);
		border-radius: 7px;
		padding: 0.2em 0.4em;
		font-style: oblique;
		font-family: 'Courier New', Courier, monospace;
	}

	section {
		position: relative;
	}

	h1 {
		margin-bottom: 0px;
	}

	h4 {
		padding-left: 0px;
	}

	.figure-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
</style>
