---
import Layout from '@layouts/Layout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';

const { social_links } = await import('@portfolio/consts.json');
const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { color_palette } = await import('@portfolio/consts.json');
const { sticky_top_positions } = await import('@portfolio/consts.json');

const page_title = metadata_page.title + " - RAM Monitor";
const url = social_links.portfolio_link_external + "/ram-monitor"
const description = "RAM monitor for the top bar of Ubuntu";
const keywords = "RAM monitor, top bar, Ubuntu";

const images_width = 600*2;
const images_height =338*2;
const buyMeACoffee_width = 305;
const buyMeACoffee_height = 28;

const inline_code_background_color = color_palette.color_950;

const sticky_top_default=sticky_top_positions.sticky_top_default;
const sticky_top_649px=sticky_top_positions.sticky_top_649px;
const sticky_top_418px=sticky_top_positions.sticky_top_418px;
const sticky_top_334px=sticky_top_positions.sticky_top_334px;
const sticky_top_315px=sticky_top_positions.sticky_top_315px;
const sticky_top_229px=sticky_top_positions.sticky_top_229px;
const sticky_top_h3_increment = "50px"
---

<Layout 
	title={page_title}
	languaje={metadata_page.languaje_en}
	description={description}
	keywords={keywords}
	author={metadata_page.author}
	theme_color={colors.background_color}
	url={url}
	icon={metadata_page.icon}
>
	<h1>RAM Monitor</h1>
	<h4>{description}</h4>
	<p>The best real-time RAM tracking tool</p>
	<p>Monitoring the temperature of your RAM directly from the Ubuntu top bar with <span class="inline-code">RAM Monitor</span>. This application is fully integrated with the latest Ubuntu operating system. Get real-time updates and optimize your tasks. Download it now and take control of your RAM health!</p>
	<div class="figure-div">
		<figure>
			<img decoding="async" 
				src="/images/ram_monitor.gif" 
				alt="RAM monitor"
				width={images_width}
				height={images_height}
			></img>
		</figure>
	</div>

	<section>
		<h2>About RAM Monitor</h2>
        <p>RAM Monitor is an intuitive tool designed for developers and professionals who need to keep an eye on their RAM health in real time. It integrates perfectly with the Ubuntu top bar, providing essential information at your fingertips.</p>
	</section>

	<section>
		<h2>Key Features</h2>
		<ul>
			<li>Real-time monitoring: see the RAM temperature, all updated live.</li>
			<li>Optimized for Ubuntu: designed to integrate seamlessly with the latest Ubuntu operating system.</li>
		</ul>
	</section>

	<section>
		<h2>Instalation</h2>

		<section>
			<h3>Clone the repository</h3>
			<p>Clone it with <span class="inline-code">https</span></p>
			<CodeBlockInputCell text={["git clone https://github.com/maximofn/ram_monitor.git"]} languaje='bash'></CodeBlockInputCell>
			<p>or with <span class="inline-code">ssh</span></p>
			<CodeBlockInputCell text={["git clone git@github.com:maximofn/ram_monitor.git"]} languaje='bash'></CodeBlockInputCell>
		</section>

		<section>
			<h3>Install the dependencies</h3>
			<p>Make sure you don't have any <span class="inline-code">venv</span> or <span class="inline-code">conda</span> environment installed</p>
			<CodeBlockInputCell 
				text={[
					'if [ -n "$VIRTUAL_ENV" ]; then',
					"    deactivate",
					"fi",
					"if command -v conda &>/dev/null; then",
					"    conda deactivate",
					"fi",
				]}
				languaje='bash'
			></CodeBlockInputCell>
			<p>Now install the dependencies</p>
			<CodeBlockInputCell 
				text={[
					'sudo apt install lm-sensors',
				]}
				languaje='bash'
			></CodeBlockInputCell>
            <p>Answer <span class="inline-code">yes</span> to all questions</p>
			<CodeBlockInputCell 
				text={[
					'sudo sensors-detect',
				]}
				languaje='bash'
			></CodeBlockInputCell>
            <p>Installation of <span class="inline-code">psensor</span></p>
			<CodeBlockInputCell 
				text={[
					'sudo apt install psensor',
				]}
				languaje='bash'
			></CodeBlockInputCell>
		</section>
	</section>

	<section>
		<h2>Run on startup</h2>
		<p>Run this script</p>
		<CodeBlockInputCell text={["./add_to_startup.sh"]} languaje='bash'></CodeBlockInputCell>
		<p>Then when you restart your computer, the RAM Monitor will start automatically.</p>
	</section>

	<section>
		<h2>Support</h2>
		<p>If you like it consider giving the repository a star ⭐, but if you really like it consider buying me a coffee ☕.</p>
		<a href="https://www.buymeacoffee.com/maximofn" target="_blank" rel="nofollow noreferrer">
			<figure>
				<img decoding="async" 
					src="https://img.shields.io/badge/Buy_Me_A_Coffee-Support_my_work-FFDD00?style=for-the-badge&logo=buy-me-a-coffee&logoColor=white&labelColor=101010" 
					alt="BuyMeACoffee"
					width={buyMeACoffee_width}
					height={buyMeACoffee_height}
					loading="lazy"
				></img>
			</figure>		
		</a>
	</section>

</Layout>

<style define:vars={{
	inline_code_background_color,
	sticky_top_default,
	sticky_top_649px,
	sticky_top_418px,
	sticky_top_334px,
	sticky_top_315px,
	sticky_top_229px,
	sticky_top_h3_increment,
}}>
	.inline-code {
		background-color: var(--inline_code_background_color);
		border-radius: 7px;
		padding: 0.2em 0.4em;
		font-style: oblique;
		font-family: 'Courier New', Courier, monospace;
	}

	section {
		position: relative;
	}

	h1 {
		margin-bottom: 0px;
	}

	h4 {
		padding-left: 0px;
	}

	.figure-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
</style>
