---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Obtener datos de diccionarios';
const end_url = 'tips/get-data-of-dictionaries';
const description = 'Obtener datos de diccionarios en Python de forma segura';
const keywords = 'diccionario, obtener, datos';
const languaje = 'ES';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/get-data-of-dictionaries.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=435
    image_height=118
    image_extension=webp
    article_date=2024-10-21+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Get-data-of-dictionaries">Get data of dictionaries<a class="anchor-link" href="#Get-data-of-dictionaries"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 0" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Imaginemos que tenemos el siguiente diccionario</p>
      </section>
      
      <CodeBlockInputCell
        text={[
      '<span></span><span class="n">dictionary</span> <span class="o">=</span> <span class="p">{</span>',
      '          <span class="s2">"id"</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>',
      '          <span class="s2">"name"</span><span class="p">:</span> <span class="s2">"John"</span><span class="p">,</span>',
      '          <span class="s2">"age"</span><span class="p">:</span> <span class="mi">30</span>',
      '      <span class="p">}</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>










      
      <section class="section-block-markdown-cell">
      <p>Si queremos obtener el valor de la edad lo que se suele hacer es <code>dictionary["age"]</code></p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">dictionary</span> <span class="o">=</span> <span class="p">{</span>',
          '    <span class="s2">"id"</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>',
          '    <span class="s2">"name"</span><span class="p">:</span> <span class="s2">"John"</span><span class="p">,</span>',
          '    <span class="s2">"age"</span><span class="p">:</span> <span class="mi">30</span>',
          '<span class="p">}</span>',
          '</span><span class="n">dictionary</span><span class="p">[</span><span class="s2">"age"</span><span class="p">]</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '30',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Pero, ¿qué pasa si la <code>key</code> que ponemos no está en el diccionario? ¿Nos dará un error?</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">dictionary</span><span class="p">[</span><span class="s2">"country"</span><span class="p">]</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '<span class="ansi-red-fg">---------------------------------------------------------------------------</span>',
          '<span class="ansi-red-fg">KeyError</span>                                  Traceback (most recent call last)',
          'Cell <span class="ansi-green-fg">In[4], line 1</span>',
          '<span class="ansi-green-fg">----&gt; 1</span> <span class="ansi-yellow-bg">dictionary</span><span class="ansi-yellow-bg">[</span><span class="ansi-yellow-bg" style="color: rgb(175,0,0)">"</span><span class="ansi-yellow-bg" style="color: rgb(175,0,0)">country</span><span class="ansi-yellow-bg" style="color: rgb(175,0,0)">"</span><span class="ansi-yellow-bg">]</span>',
          '<span class="ansi-red-fg">KeyError</span>: \'country\'',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Por lo que si esto pasa en producción se caerá el programa</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Así que para solucionarlo podemos usar un <code>try except</code> para manejar el error</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="k">try</span><span class="p">:</span>',
          '    <span class="n">dictionary</span><span class="p">[</span><span class="s2">"country"</span><span class="p">]</span>',
          '<span class="k">except</span> <span class="ne">KeyError</span><span class="p">:</span>',
          '    <span class="nb">print</span><span class="p">(</span><span class="s2">"Key not found"</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Key not found',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Pero otra solución para no llenar el código de <code>try except</code> es usar el método <code>get</code> que nos permite obtener el valor de una <code>key</code> y si no existe nos devuelve un valor por defecto</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">dictionary</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s2">"country"</span><span class="p">,</span> <span class="s2">"Key not found"</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '\'Key not found\'',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Otra opción es no colocar la segunda opción, en ese caso obtenemos <code>None</code> si la <code>key</code> no existe</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">country</span> <span class="o">=</span> <span class="n">dictionary</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s2">"country"</span><span class="p">)</span>',
          '<span class="nb">print</span><span class="p">(</span><span class="n">country</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'None',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      






    </div>

  </section>

</PostLayout>
