---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Enteros largos con guión bajo en Python';
const end_url = 'tips/long-integers-python';
const description = 'Tip para escribir números enteros largos con guión bajo en Python';
const keywords = 'números enteros largos, guión bajo, python';
const languaje = 'ES';
const image_path = 'https://images.maximofn.com/long_integer_python.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=730
    image_height=436
    image_extension=webp
    article_date=2024-09-06+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Enteros-largos-con-gui%C3%B3n-bajo">Enteros largos con guión bajo<a class="anchor-link" href="#Enteros-largos-con-gui%C3%B3n-bajo"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 0" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Si tenemos un número entero muy largo, puede costar leerlo</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">num</span> <span class="o">=</span> <span class="mi">1000000000000</span>',
          '<span class="nb">print</span><span class="p">(</span><span class="n">num</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '1000000000000',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Pero Python nos permite poner guiones bajos para separar los dígitos y hacerlo más legible</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">num_</span> <span class="o">=</span> <span class="mi">1_000_000_000_000</span>',
          '<span class="nb">print</span><span class="p">(</span><span class="n">num_</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '1000000000000',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Vamos a comprobar que ambos números son iguales</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">num</span> <span class="o">==</span> <span class="n">num_</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'True',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      






    </div>

  </section>

</PostLayout>
