---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Memory Calculator';
const end_url = 'tips/memory-calculator';
const description = 'Espacio para calcular la memoria necesaria para ejecutar un modelo';
const keywords = 'memoria, calculadora, modelo';
const languaje = 'ES';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/Huggies_Diffusor.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=1804
    image_height=1804
    image_extension=webp
    article_date=2024-10-20+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Memory-Calculation">Memory Calculation<a class="anchor-link" href="#Memory-Calculation"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 0" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Si quieres calcular la memoria que necesitas para ejecutar un modelo usa este <a href="https://huggingface.co/spaces/derek-thomas/transformer_calculator" target="_blank" rel="nofollow noreferrer">space</a> de HuggingFace.</p>
      </section>
      
      <iframe
        src="https://derek-thomas-transformer-calculator.hf.space"
        frameborder="0"
        width="850"
        height="450"
      ></iframe>
      






    </div>

  </section>

</PostLayout>
