---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'DataLoader com pin_memory e num_workers';
const end_url = 'tips/DataLoader-pin-memory';
const description = 'Aumentar o desempenho de DataLoader com pin_memory e num_workers';
const keywords = 'pytorch, dataloader, pin_memory, num_workers, gpu';
const languaje = 'PT';
const image_path = 'https://images.maximofn.com/pytorch_pin_memory.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=905
    image_height=574
    image_extension=webp
    article_date=2024-12-16+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="DataLoader-+-pin_memory">DataLoader + pin_memory<a class="anchor-link" href="#DataLoader-+-pin_memory"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 2" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Aviso: Este post foi traduzido para o português usando um modelo de tradução automática. Por favor, me avise se encontrar algum erro.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Em PyTorch, quando se treinam redes neurais, especialmente em grandes conjuntos de dados, aproveitar o <code>DataLoader</code> com <code>pin_memory=True</code> e definir <code>num_workers</code> em um número positivo aumenta significativamente o desempenho.</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p><code>pin_memory=True</code> permite uma transferência mais rápida dos dados para a GPU mantendo-os na memória <code>pinned</code> (bloqueada por página).</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Ao mesmo tempo, <code>num_workers</code> determina o número de subprocessos utilizados para a carga de dados, o que permite a obtenção assíncrona de dados sem bloquear o cálculo da GPU</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Essa combinação minimiza o tempo de inatividade da GPU, garantindo um uso mais eficiente dos recursos de hardware e tempos de treinamento do modelo mais rápidos.</p>
      </section>
      
      <section class="section-block-code-cell-">
      <div class="input-code">
      <div class="highlight hl-python"><pre><span></span><span class="n">data_loader</span> <span class="o">=</span> <span class="n">DataLoader</span><span class="p">(</span><span class="n">dataset</span><span class="p">,</span> <span class="n">batch_size</span><span class="o">=</span><span class="mi">32</span><span class="p">,</span> <span class="n">shuffle</span><span class="o">=</span><span class="kc">True</span><span class="p">,</span> <span class="n">num_workers</span><span class="o">=</span><span class="mi">4</span><span class="p">,</span> <span class="n">pin_memory</span><span class="o">=</span><span class="kc">True</span><span class="p">)</span>
      </pre></div>
      </div>
      </section>
      






    </div>

  </section>

</PostLayout>
