---
import PostLayout from '@layouts/PostLayout.astro';
import CodeBlockInputCell from '@components/CodeBlockInputCell.astro';
import CodeBlockOutputCell from '@components/CodeBlockOutputCell.astro';

const { metadata_page } = await import('@portfolio/consts.json');
const { colors } = await import('@portfolio/consts.json');
const { svg_paths } = await import('@portfolio/consts.json');

const page_title = 'Obter dados de dicionários';
const end_url = 'tips/get-data-of-dictionaries';
const description = 'Obter dados de dicionários em Python de forma segura';
const keywords = 'dicionário, obter, dados';
const languaje = 'PT';
const image_path = 'https://pub-fb664c455eca46a2ba762a065ac900f7.r2.dev/get-data-of-dictionaries.webp';
const opening_brace = '{';
const closing_brace = '}';
---

<PostLayout 
    title={page_title}
    languaje={languaje}
    description={description}
    keywords={keywords}
    author={metadata_page.author}
    theme_color={colors.background_color}
    end_url={end_url}
    image_path={image_path}
    image_width=435
    image_height=118
    image_extension=webp
    article_date=2024-10-21+T00:00:00Z
>

  <section class="post-body">


    <aside class="post-index">
    </aside>


    <div class="post-body-content">
      
      <section class="section-block-markdown-cell">
      <h1 id="Obtenha-dados-de-dicion%C3%A1rios">Obtenha dados de dicionários<a class="anchor-link" href="#Obtenha-dados-de-dicion%C3%A1rios"><img decoding="async" class="link-img" width="24px" height="24px" alt="link image 2" src={svg_paths.link_svg_path}/></a></h1>
      </section>
      
      <section class="section-block-markdown-cell">
      <blockquote>
      <p>Aviso: Este post foi traduzido para o português usando um modelo de tradução automática. Por favor, me avise se encontrar algum erro.</p>
      </blockquote>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Imaginemos que temos o seguinte dicionário</p>
      </section>
      
      <CodeBlockInputCell
        text={[
      '<span></span><span class="n">dictionary</span> <span class="o">=</span> <span class="p">{</span>',
      '          <span class="s2">"id"</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>',
      '          <span class="s2">"name"</span><span class="p">:</span> <span class="s2">"John"</span><span class="p">,</span>',
      '          <span class="s2">"age"</span><span class="p">:</span> <span class="mi">30</span>',
      '      <span class="p">}</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>










      
      <section class="section-block-markdown-cell">
      <p>Se queremos obter o valor da idade, o que geralmente se faz é <code>dictionary["age"]</code></p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">dictionary</span> <span class="o">=</span> <span class="p">{</span>',
          '    <span class="s2">"id"</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>',
          '    <span class="s2">"name"</span><span class="p">:</span> <span class="s2">"John"</span><span class="p">,</span>',
          '    <span class="s2">"age"</span><span class="p">:</span> <span class="mi">30</span>',
          '<span class="p">}</span>',
          '</span><span class="n">dictionary</span><span class="p">[</span><span class="s2">"age"</span><span class="p">]</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '30',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Mas, o que acontece se a <code>key</code> que colocamos não está no dicionário? Vai ocorrer um erro?</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">dictionary</span><span class="p">[</span><span class="s2">"country"</span><span class="p">]</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '<span class="ansi-red-fg">---------------------------------------------------------------------------</span>',
          '<span class="ansi-red-fg">KeyError</span>                                  Traceback (most recent call last)',
          'Cell <span class="ansi-green-fg">In[4], line 1</span>',
          '<span class="ansi-green-fg">----&gt; 1</span> <span class="ansi-yellow-bg">dictionary</span><span class="ansi-yellow-bg">[</span><span class="ansi-yellow-bg" style="color: rgb(175,0,0)">"</span><span class="ansi-yellow-bg" style="color: rgb(175,0,0)">country</span><span class="ansi-yellow-bg" style="color: rgb(175,0,0)">"</span><span class="ansi-yellow-bg">]</span>',
          '<span class="ansi-red-fg">KeyError</span>: \'country\'',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Portanto, se isso acontecer em produção, o programa cairá</p>
      </section>
      
      <section class="section-block-markdown-cell">
      <p>Então, para resolver isso, podemos usar um <code>try except</code> para lidar com o erro</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="k">try</span><span class="p">:</span>',
          '    <span class="n">dictionary</span><span class="p">[</span><span class="s2">"country"</span><span class="p">]</span>',
          '<span class="k">except</span> <span class="ne">KeyError</span><span class="p">:</span>',
          '    <span class="nb">print</span><span class="p">(</span><span class="s2">"Key not found"</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'Key not found',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Mas uma solução para não encher o código de <code>try except</code> é usar o método <code>get</code> que nos permite obter o valor de uma <code>key</code> e, se não existir, nos devolve um valor padrão</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">dictionary</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s2">"country"</span><span class="p">,</span> <span class="s2">"Key not found"</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          '\'Key not found\'',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      
      <section class="section-block-markdown-cell">
      <p>Outra opção é não colocar a segunda opção, nesse caso obtemos <code>None</code> se a <code>key</code> não existir</p>
      </section>
      
      <CodeBlockInputCell
        text={[
          '<span></span><span class="n">country</span> <span class="o">=</span> <span class="n">dictionary</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s2">"country"</span><span class="p">)</span>',
          '<span class="nb">print</span><span class="p">(</span><span class="n">country</span><span class="p">)</span>',
        ]}
        languaje='python'
      ></CodeBlockInputCell>
      <CodeBlockOutputCell
        text={[
          'None',
        ]}
        languaje='python'
      ></CodeBlockOutputCell>
      






    </div>

  </section>

</PostLayout>
